@CHARSET "UTF-8";
/*内容信息*/
a {
	color: #333;
	text-decoration: none;
}

a:hover {
	color: #db0000;
	text-decoration: underline;
}

.w_table970 {
	margin: 0 auto;
	padding-top: 10px;
	width: 970px;
	font-family: "微软雅黑";
}

.w_left {
	width: 213px;
	float: left;
	margin-right: 20px;
}

.w_right {
	width: 737px;
	float: left;
}
/*促销*/
.home-sales {
	border: 1px solid #c9c9cb;
	position: relative;
	margin: 0 auto 18px;
	padding: 10px;
	background: white;
	margin-top: 20px;
}

.tit {
	border-bottom: #DA0000 1px solid;
	position: relative;
	height: 28px;
	margin: 0px 0px 10px;
}

.tit h2 {
	position: absolute;
	bottom: -3px;
	padding: 0px 5px 5px 0px;
	color: #333;
	font-size: 14px;
	font-family: "微软雅黑";
	border-bottom: 3px solid #DA0000;
}

.more {
	right: 0;
	float: right;
	bottom: 3px;
	padding: 0px;
	background: url(../images/more_btn.gif) no-repeat;
	width: 41px;
	height: 19px;
}

.productlist {
	position: relative;
	top: -10px;
	float: left;
	width: 715px;
}

.dl-l {
	width: 173px;
	float: left;
	border: 1px solid #E1E0E0;
	margin-top: 20px;
	margin-right: 3.7px;
	height: 279px;
}

.dl-r {
	width: 173px;
	float: right;
	border: 1px solid #E1E0E0;
	margin-top: 20px;
	height: 270px;
}

.productlist img {
	margin: 0 auto;
	width: 173px;
	height: 173px;
}

.tips {
	width: 46px;
	height: 49px;
	overflow: hidden;
	display: inline-block;
	position: absolute;
	left: 110px;
	top: 30px;
	background: url(../images/tips_down.png) no-repeat;
}

.home-price {
	height: 31px;
	line-height: 31px;
	padding-left: 10px;
	padding-right: 10px;
	color: #999;
}

.home-price strong {
	font-size: 16px;
	color: #c00;
	font-family: "微软雅黑";
}

.home-price span {
	
}

.homepricename {
	height: 35px;
	background: #EFEFEF;
	overflow: hidden;
	padding-left: 10px;
	padding-right: 10px;
	margin: 12px 0px 0;
}

.homeproductname {
	font-size: 12px;
	color: #666;
	font-family: "微软雅黑";
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.homeprice i {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin: 0 0 0 1px;
	background: url("../images/list_i15.png") no-repeat;
}
/*推荐产品*/
.recommend {
	border: 1px solid #c9c9cb;
	position: relative;
	margin: 0 auto 18px;
	padding: 10px;
	background: white;
}

.tct {
	border-bottom: #DA0000 1px solid;
	position: relative;
	height: 28px;
	margin: 0px 0px 10px;
}

.tct h2 {
	position: absolute;
	bottom: -3px;
	padding: 0px 5px 5px 0px;
	color: #333;
	font-size: 14px;
	font-family: "微软雅黑";
	border-bottom: 3px solid #DA0000;
}

.commendlist {
	position: relative;
	top: -10px;
	float: left;
	width: 715px;
}

.dc-l {
	width: 173px;
	float: left;
	border: 1px solid #E1E0E0;
	margin-top: 20px;
	margin-right: 3px;
	height: 260px;
}

.dc-r {
	width: 173px;
	float: right;
	border: 1px solid #E1E0E0;
	margin-top: 20px;
	height: 240px;
}

.commendlist img {
	margin: 0 auto;
	width: 173px;
	height: 173px;
}

.comtips {
	width: 50px;
	height: 51px;
	overflow: hidden;
	display: inline-block;
	position: absolute;
	left: 110px;
	top: 30px;
	background: url(../images/baokuan.png) no-repeat;
}

.commend-price {
	height: 31px;
	line-height: 31px;
	padding-left: 10px;
	padding-right: 10px;
	color: #999;
	border-top: 1px dashed #dad9d9;
}

.commend-price strong {
	font-size: 16px;
	color: #c00;
	font-family: "微软雅黑";
}

.commend-price span {
	
}

.commendproduce {
	overflow: hidden;
	padding: 0 8px;
	margin: 8px 0;
	height: 35px;
}

.commendproductname {
	font-size: 12px;
	color: #666;
	font-family: "微软雅黑";
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
/*热销产品*/
.hotproduct {
	border: 1px solid #c9c9cb;
	position: relative;
	margin: 0 auto 18px;
	padding: 10px;
	background: white;
}

.thot {
	border-bottom: #DA0000 1px solid;
	position: relative;
	height: 28px;
	margin: 0px 0px 10px;
}

.thot h2 {
	position: absolute;
	bottom: -3px;
	padding: 0px 5px 5px 0px;
	color: #333;
	font-size: 14px;
	font-family: "微软雅黑";
	border-bottom: 3px solid #DA0000;
}

.hotprolist {
	position: relative;
	top: -10px;
	float: left;
	width: 715px;
}

.dhot-l {
	width: 173px;
	float: left;
	border: 1px solid #E1E0E0;
	margin-top: 20px;
	margin-right: 3px;
	height: 260px;
}

.dhot-r {
	width: 173px;
	float: right;
	border: 1px solid #E1E0E0;
	margin-top: 20px;
	height: 250px;
}

.hotprolist img {
	margin: 0 auto;
	width: 173px;
	height: 173px;
}

.hottips {
	width: 68px;
	height: 68px;
	overflow: hidden;
	display: inline-block;
	position: absolute;
	left: 106px;
	top: 20px;
	background: url(../images/person-newpro.png) no-repeat;
}

.hot-price {
	height: 30px;
	line-height: 26px;
	padding-left: 10px;
	padding-right: 0px;
	color: #999;
	margin-top: 10px;
}

.hot-price a {
	float: right;
	width: 64px;
	height: 26px;
	background: url(../images/hotbuybtn.png) no-repeat;
	text-align: center;
	lin-height: 26px;
	font-size: 14px;
	color: #fff;
	margin-right: 6px;
}

.hot-price a:link {
	color: #fff;
	text-decoration: none;
}

.hot-price a:visited {
	color: #fff;
	text-decoration: none;
}

.hot-price a:hover {
	color: #fff;
	text-decoration: none;
}

.hot-price strong {
	font-size: 16px;
	color: #c00;
	font-family: "微软雅黑";
}

.hot-price span {
	
}

.hotproduce2 {
	overflow: hidden;
	height: 35px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 12px 0px 0;
	background-color: #EFEFEF;
}

.hotproductname {
	font-size: 12px;
	color: #666;
	font-family: "微软雅黑";
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.new_products_div {
	background: #fff;
	margin-left: 43px;
}

.new_products_font {
	width: 122px;
	margin-bottom: 25px;
	color: #666;
}

.new_protitle {
	height: 30px;
	margin-top: 20px;
	background-color: #bababa;
	width: 212px;
}

.new_protitle h2 {
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	line-height: 30px;
	text-indent: 20px;
}

.top_height {
	height: 30px;
}

.bottom_height {
	height: 30px;
}

.newpro_box {
	width: 210px;
	border-bottom: 1px solid #c9c9c9;
	border-right: 1px solid #c9c9c9;
	border-left: 1px solid #c9c9c9;
	background: #fff;
}

.home-table {
	text-align: center;
	width: 100%;
}