body, html{
	margin: 0px;
	padding: 0px;
	height: 100%;
	background-color:#ffffff;
}
.site-nav {
    width: 100%;
    height: 26px;
    background: #f2f2f2;
    -webkit-transform: translate3d(0, 0, 0);
    border-bottom: 1px solid #e5e5e5;
    position: fixed;
    top: 0px;
    background-color: #ffffff;
    z-index:10;
}
.site-con, .header, .recommend-goods, .current-kind-goods, .kinds-menu-list-part{
	width: 1190px;
	overflow: hidden;
	margin: auto;
}
.text-infor{
	float: left;
}
.text-infor p {
    line-height: 28px;
    font-size: 12px;
    margin: 0px;
    color: #333;
}

.site-nav .menu{
    float: right;
    height: 100%;
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.site-nav .menu li, .s-hot-query li{
	line-height: 28px;
	font-size: 12px;
	float: left;
	margin-right: 10px;
}

.site-nav a:link, .s-hot-query a:link{
	color: #333;
	text-decoration: none;
	cursor: pointer;
}
.site-nav a:hover, .s-hot-query a:hover{
	color: #C40000;
}
.header .logo{
	float: left;
	margin-right: 20px;
}

.header-extra {
    border-left: 1px solid #f0f0f0;
    font-size: 14px;
    margin-top: 25px;
    line-height: 30px;
    color: #727272;
    font-weight: 600;
    float: left;
    padding-left: 10px;
}

.goods-search {
    width: 500px;
    height: 80px;
    overflow: hidden;
    float: right;
}
.goodsSearch-form {
    float: left;
    height: 40px;
    width: 380px;
    margin-top: 20px;
    padding: 0px;
}

.goodsSearch-form input {
    width: 350px;
    height: 20px;
    margin: 0px;
    padding: 6px 10px 5px 10px;
    line-height: 20px;
    border: 2px solid #940000;
}
.currShopBtn {
    height: 35px;
    border: none;
    width: 100px;
    background-color: #940000;
    color: #ffffff;
    margin: 0px;
    padding: 0px;
    float: right;
    margin-top: ;
    margin-top: 20px;
    cursor: pointer;
}

.s-hot-query {
    list-style: none;
    padding: 0px;
    margin: 0px;
    width: 500px;
    height: 20px;
    float: right;
}
.market-kind-bar{
	margin-top: 10px;
	width: 100%;
	height: 30px;
	background-color: #6b0000;
}
.market-kind-menu{
	width: 1190px;
	margin-left: auto;
	margin-right: auto;
}
.market-kind-menu .market-menu-con{
	position: relative;
	float: left;
	margin-right: 20px;
	z-index: 20;
}
.market-menu-con h1{
	margin: 0px;
    padding: 0px;
    font-size: 12px;
    font-weight: normal;
    line-height: 30px;
    color: #E5E5E5;
    cursor: pointer;
}
.market-menu-con .market-kind-list {
    filter: alpha(opacity=99);
    opacity: 0.99;
}

.market-menu-con > h1{
    padding: 0px 5px 0px 5px;
}
.market-menu-con > h1:hover{
	background-color: #940000;
}
.market-menu-con .market-kind-list{
	position: absolute;
	left: 0px;
	top: 30px;
	width: 150px;
}
.market-kind-menu ul{
	padding: 0px;
    margin: 0px;
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    font-weight: normal;
    line-height: 30px;
}
.market-menu-con .market-kind-list li{
	position: relative;
	width: 150px;
	background-color: #940000;
}
.market-menu-con .market-kind-list ul{
	position: absolute;
	padding-left: 1px;
	left: 150px;
	top:0px;
}
.market-menu-con .market-kind-list a{
	display: none;
	text-indent: 10px;
	width: 100%;
	height: 30px;
	line-height: 30px;
    color: #E5E5E5;
}
.market-menu-con li:hover > ul > li > h1, .market-menu-con li:hover > ul > li > a,
.market-menu-con:hover .market-kind-list>li>h1, .market-menu-con:hover .market-kind-list>li>a {
	display: block;
}
.market-menu-con .market-kind-list a:hover, .market-menu-con .market-kind-list h1:hover{
	cursor: pointer;
	background-color: #b40000;
}

.market-menu-con .kind-title:link, .market-menu-con .kind-link:link {
    text-decoration: none;
    color: #e5e5e5;
}
.market-menu-con .kind-title .icon-angle-right{
    float: right;
    margin-right: 10px;
    display: block;
    line-height: 30px;
    font-size: 12px;
}
a:link{
	text-decoration: underline;
}

.kinds-menu-list{
	margin-top: 20px;
	margin-left: 5px;
}
.kinds-menu-list a{
	color:#333;
	text-decoration: none;
	min-width: 40px;
	padding-left:8px;
    padding-right:8px;
    display: inline-block;
}
.kinds-menu-list .kind-item {
    float: left;
    margin-right: 10px;
    font-size: 14px;
    line-height: 30px;
    text-align:center;
    cursor:pointer;
}
.kinds-menu-list .active,  .kind-item:hover{
    background-color: #940000;
}
.kinds-menu-list .active a , .kind-item:hover a{
    color: #efefef;
}
.right-fixed{
    width: 30px;
    height: 100%;
    position: fixed;
    z-index:11;
    right: 0px;
    background-color: #000000;
    top: 0px;
    border-right: 1px solid #ffffff;
}
.short-link-list{
	margin-top:200px;
}
.short-link-item{
	width:100%;
}
.short-link-item div{
    font-size:12px;
    color:#ffffff;
    width:12px;
    margin:auto;
    padding-top:10px;
    padding-bottom:6px;
}
.short-link-item:hover{
	background-color:#940000;
	cursor:pointer;
}
