.detail-page-con{
	width: 1190px;
	overflow: hidden;
	margin: auto;
}
.buy-good{
	width: 860px;
	margin-left: 0px;
	float:left;
}
.detail-page-right-part{
	width: 300px;
	min-height:520px;
	margin: 0px;
	float:right;
}
ul{
	list-style:none;
}
.good-desc, .good-icon{
    float: left;
}
.good-icon{
	position:relative;
	cursor: move;
}
.good-desc{
	margin-left: 20px;
	position: relative;
}
.buy-good-desc-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
    color: #666;
    font-size: 14px;
  	height: 350px;
}
.buy-good-desc-list div{
	float: left;
	line-height: 30px;
}
.buy-num-con{
	margin-left: 14px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.buy-num-con a {
    display: inline-block;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: #ededed;
    width: 30px;
    text-align: center;
    cursor: pointer;
}
.buy-num-con .num{
	display: inline-block;
	text-align: center;
	border: none;
	width: 50px;
}
.buy-num-con a:link{
	text-decoration:none;
}
.buy-good-desc-list li{
	height: 60px;
}
.good-name{
    padding: 0px;
    margin: 0px;
    line-height: 60px;
    font-size: 16px;
    font-weight: 600;
}

.price-num{
    color: #ff4400;
    font-size: 24px;
    font-weight: 700;
}
.price-unit{
	margin-left: 20px;
	color: #ff4400;
    font-size: 24px;
}
.buy-now-btn{
	width: 150PX;
	height: 50px;
    color: #e5511d;
    border: none;
    background-color: #FFE4D0;
    cursor: pointer;
}
.buy-now-btn:hover{
	background-color: #ffebdb;
}
.add-shopping-cart-btn {
    width: 150px;
    height: 50px;
    color: #fff;
    background-color: #F40;
    border: none;
    cursor: pointer;
}
.add-shopping-cart-btn:hover{
	background-color: #ff6933;
}

.select-img-con{
	width:100%;
	float:left;
	margin-top:10px;
}
.select-img-con ul{
	padding:0px;
	margin:0px;
}
.select-img-con ul li {
    float: left;
    width: 65px;
    height: 70px;
}
.select-img-con img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding: 2px;
    border: 1px solid #ccc;
    margin: 3px;
}
.select-img-con .active img {
    border: 3px solid #f40;
    margin: 1px;
}

.pcd-tab{
    float: left;
    width: 850px;
    overflow: hidden;
    border: 1px solid #ccc;
    margin-top: 10px;
    min-height: 400px;
    padding-bottom: 30px;
}

.tab-title{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}
.tab-title ul {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #ccc;
    margin: 0px;
    padding: 0px 0px 3px 0px;
}
.tab-title li {
    min-width: 120px;
    float: left;
    line-height: 50px;
    cursor: pointer;
    border-top: 2px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    font-size: 14px;
    text-align: center;
    color: #333;
}
.tab-content{
	margin-top: 20px;
	display:none;
	width: 800px;
	margin-left:25px;
}
#tab-son1{
	display: block;
}
#tab-son1-title{
	border-left: 1px solid transparent;
}
.tab-title > ul > .active-pcd-tab-item {
    color: #b10000;
    border-top-color: #b00000;
    border-bottom-color: #ffffff;
    border-left-color: #CCCCCC;
    border-right-color: #CCCCCC;
}
.buy-num-con a:hover{
	text-decoration:none;
	color:#490000;
}