body, html {
    background-color: #ffffff;
}

.car-main{
	padding-bottom:70px;
}
.site-nav {
    width: 100%;
    height: 30px;
    top:0px;
    -webkit-transform: translate3d(0, 0, 0);
    border-bottom: 1px solid #e5e5e5;
    position: fixed;
    top: 0px;
    background-color: #ffffff;
}
.site-con, .header, .recommend-goods, .current-kind-goods, .kinds-menu-list-part, .no-goods-con{
	width: 1050px;
	overflow: hidden;
	margin: auto;
}
.text-infor{
	float: left;
}
.text-infor p {
    line-height: 30px;
    font-size: 12px;
    margin: 0px;
    color: #333;
}

.site-nav .menu{
    float: right;
    height: 100%;
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.site-nav .menu li, .s-hot-query li{
	line-height: 30px;
	font-size: 12px;
	float: left;
	margin-right: 20px;
}

.site-nav a:link, .s-hot-query a:link{
	color: #333;
	text-decoration: none;
	cursor: pointer;
}
.site-nav a:hover, .s-hot-query a:hover{
	color: #f60;
}
.header .logo{
	float: left;
	height:80px;
	margin-right: 10px;
	width: 300px;
}
.header a{
    line-height: 80px;
    margin-right: 20px;
    float: right;
}
.header a:hover{
	color:#f60;
}


.shopping-cart-title{
	font-size: 16px;
	line-height:40px;
	color: #333;
	border-bottom: 4px solid #f22d00;
	width: 100%;
	height: 40px;
	margin-bottom: 10px;
}
.shopping-cart-all-goods{
	display:block;
	float:left;
	width:200px;
}
.shopping-cart-top{
	float:right;
	font-size:14px;
}
.summary-top-con {
    margin-left: 20px;
    float: right;
    width: 100px;
    text-align: center;
}

.car-main{
	width:1050px;
	margin-left: auto;
	margin-right: auto;
	font-size: 12px;
	line-height: 30px;
	color: #666666;
	font-family: "微软雅黑", "arial, helvetica, sans-serif", '宋体';
}
.car-main a:hover{
	color:#f60;
	cursor: pointer;
}
.car-main input[type=checkbox]{
	cursor: pointer;
	padding-right:5px;
}

.owner-conpanies-item{
	border-bottom: 2px solid #aa5500;
	margin-top:20px;
	border-bottom:2px solid #ff0000;
}
input[type=checkbox], label, .select-all-con input{
	vertical-align:middle;
}
.car-main-bar{
	padding: 0px;
	margin: 0px;
	list-style: none;
	height: 30px;
}
.car-main-bar li, .good-item > div{
	display: block;
	float: left;
	height: 100%;
}
.car-main-bar .good-infor-t{
	margin-left: 20px;
}
.car-main .part1{
	width: 140px;
}
.car-main .part2{
	width: 400px;
}
.car-main .part3{
	width: 130px;
}
.car-main .part4{
	width: 130px;
}
.car-main .part5{
	width: 120px;
}
.car-main .part6{
	width: 100px;
}

.company-title-con{
	padding-bottom:5px;
}
.shop-list{
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.shop-item{
	padding-left: 10px;
	border: 1px solid #CCCCCC;
	margin-bottom: 10px;
}
.good-item{
    height: 100px;
    padding-bottom: 10px;
	padding-left: 10px;
	padding-top: 10px;
	border-top: 1px solid #e2e2e2;
	line-height: 14px;
}
.originally-unit-price{
	text-decoration: line-through;
	color: #9c9c9c;
}
.unit-price{
	color: #3c3c3c;
	font-weight: 600;
}
.good-item-bar img{
	width: 100px; 
	height: 100px;
	margin-left: 10px;
}
.good-item-infor a{
	width: 200px;
	white-space:normal;
	display: block;
	cursor: pointer;
}
.good-item-bar input {
    display: block;
    float: left;
    padding: 0px;
    margin: 0px;
    margin-left: 10px;
}

.goods-list{
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.num-con {
	height: 20px;
	display: inline-block;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.num-con input{
	text-align: center;
	width: 60px;
	border: none;
	height: auto;
	color: #666666;
}
.num-con a{
	width: 20px;
	line-height: 20px;
	text-align: center;
	display: inline-block;
	cursor: pointer;
	color: #666666;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
}
.num-con a:hover{
	text-decoration:none;
}
.unit-price-con span, .action-con a{
    display: block;
}

.car-bottom-bar{
	height: 50px;
	width: 1050px;
	background-color: #e5e5e5;
	margin-top: 20px;
	line-height: 50px;
	position:fixed;
	bottom:0px;
}
.select-all-bottom, .action-bottom-con, .selected-goods-num {
    float: left;
    margin-left: 20px;
}
.summary-bottom-con{
	line-height: 55px;
	float: right;
	height: 100%;
	width: 100px;
	overflow: hidden;
	text-align: center;
	background-color: #f22d00;
	color: #f1f1f1;
	border-radius: 2px;
	cursor: pointer;
}
.summary-bottom-con a{
	color: #e1e1e1;
}
.summary-bottom-con a:hover{
	color: #f1f1f1;
    text-decoration:none;
}
.high-light {
    font-size: 16px;
    color: #f22e00;
    margin-left: 5px;
    margin-right: 5px;
}

.no-goods-icon{
	width: 140px; 
	height: 120px;
	float:left;
}
.no-goods-title{
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 10px;
}
.no-goods-text{
	padding-top:30px;
	float:left;
	width:300px;
	height:220px;
	color: #000000;
}
.no-goods-text span{
	float:left;
	width:300px;
	height:20px;
}