<?xml version="1.0" encoding="UTF-8"?>
<weixin:QiyeWeixin-config xmlns:weixin="aurora.plugin.weixin" >
	<instances>	
			<weixin:QiyeWeixin-instance token="IbHoDG8Ed8DXw1l" corpId="wxec0c90c419d12c01" encodingAESKey="wTDz8Ub7kikRHVgz561a8ZN0B3LaUYzdNBYyYtir40y" appName="app1"/>
	</instances>

	<tokenTasks>
			<weixin:QiyeToken-task  groupname="group1"  corpId="wxec0c90c419d12c01" secrect="i1TxXjs9CaH7XZz3M91uljANyX5CZR4zHlHLFM5HdF_2EUXRzMYdG6oq_-t8FpuI"/>
	</tokenTasks>	
</weixin:QiyeWeixin-config>