html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	cursor: pointer;
}

li {
	list-style: none;
}

ul {
	padding: 0;
}

.content {
	width: 100%;
	/* overflow: hidden; */
	background-color:#fff;
}

.head {
	width: 1230px;
	height: 36px;
	margin: auto;
	position: relative;
	top: 10px;
	padding: 0;
}
.product-background{
	width:100%;
	overflow:hidden;
}
.head-background{
	width:100%;
	height:56px;
}
.menu-block {
	width: 190px;
	height: 36px;
	background-color: #3d4244;
	color: #fff;
	text-align: center;
	line-height: 36px;
	position: relative;
	border-radius: 2px;
}

.menu-block .menu-btn {
	width: 100%;
	height: 36px;
	color: #fff;
	font-size:16px;
}

.menu-block .sub-menu {
	width: 100%;
	overflow: hidden;
	position: absolute;
	top: 36px;
	z-index: 10;
	display:none;
}

.menu-block .fa-angle-right {
	float: right;
	height: 30px;
	line-height: 30px;
	text-align: center;
	position: relative;
	right: 10px;
}

.menu-block .menu {
	color: #fff;
	overflow: hidden;
}

.nav-li {
	width: 100%;
	height: 30px;
	float: left;
	color: #fff;
	text-indent: 15px;
	list-style: none;
	/* border-bottom: 1px solid #333; */
	position: relative;
	text-align: left;
	line-height:30px;
	cursor: pointer;
	margin-top: 4px;
}

.nav-li .nav-li-h5 {
	margin: 0;
	display: block;
	height: 30px;
	font-size: 14px;
	line-height: 30px;
	color: #e8e8e8;
}

.nav-li .nav-li-span {
	height: 26px;
	font-size: 12px;
	line-height: 26px;
	display: block;
	color: #c8c8c8;
}

.nav-li:not (:first-child ):hover {
	background-color: #757575;
}

.nav-li .fa {
	position: absolute;
	right: 15px;
	bottom: 4px;
	color: #bcbcbc;
}
.nav-li-a{
	color:#c8c8c8;
	margin-right:10px;
}
.fa-times {
    position: relative;
    left: -25px;
    float: left;
    top: 12px;
    cursor: pointer;
    color: #3d4244;
}
.fa-white{
	color:#fff;
}

.menu-content {
	position: absolute;
	z-index: 10;
	width: 420px;
	left: 190px;
	top: 36px;
	height: 297px;
	display: none;
	background-color: #fff;
	border-top: 1px solid #707070;
	border-right: 1px solid #707070;
	border-bottom: 1px solid #707070;
}

.menu-content .menu-item {
	overflow-x: hidden;
	position: absolute;
	display: none;
	height:100%;
}

.menu-content .shopping-item-dl {
	display: block;
}

.menu-content .shopping-item-dt {
	position: relative;
	float: left;
	width: 75px;
	text-align: right;
	font-weight: 700;
	line-height: 24px;
	padding-top: 6px;
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.menu-content .shopping-item-dd {
	float: left;
	width: 565px;
	border-bottom: 1px solid #eee;
	font-size: 12px;
	line-height: 24px;
	padding: 6px 0 5px;
	margin: 0 0 0 20px;
	min-height: 24px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.menu-content .shopping-item-dt-a {
	color: #666;
}

.menu-content .shopping-item-a {
    float: left;
    margin: 10px 0;
    padding: 0 10px;
    height: 16px;
    border-right: 1px solid #e0e0e0;
    line-height: 16px;
    white-space: nowrap;
}

.menu-content .shopping-item-div {
	overflow: hidden;
}

.menu-content .triangle {
	width: 0;
	height: 0;
	border-width: 6px;
	border-color: transparent transparent transparent #52595c;
	border-style: solid;
	position: absolute;
}
.menu-content .red {
	color: #ff0000;
}

.fa-angle-up {
	margin-left: 5px;
	transition: all 0.3s ease 0s;
}

.sub-menu-ul {
	padding: 0;
	margin: 0;
	background-color: #3d4244;
	/* max-height: 300px; */
	overflow: hidden;
}
.location-block .fa-map-marker{
	font-size: 1.6em;
    margin-top: 8px;
    margin-left: 12px;
    border-radius: 2px;    
}
.location-span{
	float: left;
	height: 34px;
	line-height: 34px;
}
.location-span .fa-angle-down{
	margin-top: 12px;
}
.location-block .city{
	width: 42px;
	text-align:center;
	white-space: nowrap;
	overflow:hidden;
	display:inline-block;
	text-overflow: ellipsis;
	cursor:pointer;
}
.more-box .icon-2x{
	font-size:1.2em;
	position:relative;
	left: 5px;
    top: 0;
}
.location-block{
	width:86px;
	margin-left: 70px;
	height: 34px;
	float:left;
	border:1px solid #bbb;
	color:#f72c40;
	position:relative;
	border-radius: 2px;
}
.fa-list-ul{
	margin-left: 50px;
}
.city-selected-content{
	width:600px;
	height: 298px;
	position:absolute;
	z-index: 2;
	display: none;
	color:#222;
	top:35px;
	left:-1px;
}
.location-gray{
	height: 2px;
    background: #fff;
    position: relative;
    z-index: 10;
    width: 86px;
    top: -1px;
    left: 1px;
}
.location-city-selected{
	height: 100%;
    border: 1px solid #e5e5e5;
    position: relative;
    top: -2px;
    background: #fff;
}
.location-closed{
	width:100%;
	height:30px;
	line-height:30px;
}
.location-closed a{
	color: #b6b6b6;
	float:right;
	margin:7px 15px 0 0;
}
.location-closed a:hover{
	color: #868686;
}
.location-city-content{
	margin-top:5px;
	overflow:hidden;
	width:500px;
}

.provice{
	width: 520px;
    margin-left: 17px;
    border-bottom: 1px solid #f72c40;
    height:25px;
    line-height:25px;
}
.location-city-li{
	float:left;
	width:55px;
	text-align:center;
	margin-right: 10px;
}
.location-city-li .location-city-a{
	color: #c8c8c8;
    display: inline-block;
    width: 100%;
    height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.city-selected-span{
	cursor:pointer;
}
.location-city-a.active{
	color:#b3b2b2;
}
.jingdong-gray{
	background-color:#f2f2f2;
	overflow:hidden;
}
.location-city-a.selected{
	color:#f72c40;
}
.provice-city-distict{
	width: 2140px;
	height: 200px;
	overflow:hidden;
	position:relative;
}
.location-city-a.active:after{
	width:55px;
	content:'';
	background:#f83030;
	height:2px;
	display:block;
	position:relative;
	top:-1px;
}
.location-city-a:hover{
	text-decoration:none;
}
.nav-li .nav-li-h5 {
	margin: 0;
	display: block;
	height: 34px;
	font-size: 14px;
	line-height: 34px;
	color: #e8e8e8;
}
.specific-city-ul{
	width:510px;
	height: 200px;
	margin-left:17px;
	float:left;
}
.specific-city-li{
	width:60px;
	height:34px;
	line-height:34px;
	margin-right:20px;
	float:left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding:0 2px;
}
.location-text:hover, .location-text.active{
	background-color:#ee2a3e;
	color:#fff;
}
.location-text{
	cursor:pointer;
	padding:4px 8px;
}
.district-ul{
	display:none;
}
.city-ul{
	display:none;
}
.nav-li .nav-li-span {
	height: 22px;
	font-size: 12px;
	line-height: 22px;
	display: block;
	color: #c8c8c8;
}
.search-block {
	margin-left: 100px;
}

.search-block .search-text {
	width: 500px;
	height: 33px;
	border: 1px solid #bbb;
	padding:1px 0 0 6px;
	border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.search-block .search-button {
	width: 70px;
	height: 34px;
	background-color: #3d4244;
	color: #fff;
	border: solid 1px #3d4244;
	position: relative;
    cursor:pointer;
    left:-10px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.search-block .search-search{
	background: url(../../images/proyamtl/search_icon_default.png?v=1.1) 0 4px no-repeat;
    width: 30px;
    height: 35px;
    display: block;
    margin-left: 22px;
    position: relative;
    left: 1px;
}

.search-block .fa-search {
	position: relative;
	left: 20px;
	top: 3px;
}

/*
	搜索条件
*/
.search-div, .search-btn{
	float: left;
	margin-left: 20px;
}
.shopping-cart-content-li:last-child{
	border:0;
}
.shopping-cart-content-li:hover{
	background-color:#ddd;
}
.shopping-cart-content-li img{
	height:40px;
	width:40px;
	position:relative;
	top:8px;
	left:12px;
}
.shopping-cart-content-a{
	float: left;
}
.shopping-cart-content-li .name{
	height: 17px;
    width: 170px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
    font-size: 12px;
    overflow: hidden;
    border: none;
    position: relative;
    left: 30px;
    top: 18px;
    text-decoration: none;
}
.shopping-cart-content .shopping-btn{
    float: right;
    background-color: #f72c40;
    color: #fff;
    height: 36px;
    line-height: 36px;
    padding: 0 13px;
    border-radius: 18px;
    font-size: 14px;
    position: relative;
    top: 7px;
    right: 18px;
}
.shopping-price{
	position: relative;
    font-size: 14px;
    color: #333;
    right: -50px;
    top: 17px;
}
.delete-btn{
	position:absolute;
	right:15px;
	top:18px;
}

#shopping-cart-content-ul{
	width:100%;
	overflow:auto;
	height:156px;
}
.shopping-cart-cover{
	width:220px;
	height:4px;
	background-color:#fff;
	z-index:200;
	position:absolute;
	top: 35px;
	right:1px;
	display:none;
}
.shopping-cart .fa-shopping-cart {
	position: relative;
	left: 10px;
	top: 4px;
	float:left;
	color:#f72c40;
}

.shopping-cart span {
	float:left;
	position: relative;
	left: 14px;
	height: 100%;
	line-height:36px;
}
.shopping-content-bottom{
	/* width:400px; */
	height:51px;
	background-color:#fafafa;
	display:none;
}

.shopping-cart .commodity-count {
	text-align: center;
	font-size: 12px;
	padding:0 2px;
	color: #f72c40;
}

.shopping-cart .commodity-text {
	font-size: 12px;
}

.shopping-cart .price {
    /* font-weight: 600; */
    font-size: 18px;
    width: 130px;
    text-align: center;
    line-height: 35px;
    color:#f72c40;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product-content {
	width: 1230px;
	overflow: hidden;
	margin: 10px auto 100px auto;
	min-height:300px;
	position:relative;
}

.product-content .left {
	width: 188px;
	overflow: hidden;
	border: solid 1px #00c9b2;
}

.product-content .text {
	font-size: 12px;
	color: #eee;
	margin: 10px 0;
	padding-right: 10px;
}

.product-content .right {
	width: 1230px;
	padding:10px 0;
}

.product-content .product-h5 {
	margin: 10px 0;
	padding-left: 10px;
	font-size: 14px;
}

.product-content .advertisement {
	margin-top: 50px;
}

.advertisement-li {
	overflow: hidden;
}

.selector {
	width: 1210px;
	overflow: hidden;
	background-color: #fff;
	padding: 9px 10px;
	position: absolute;
	border-radius: 2px;
}
.goods{
	margin-top: 52px;
	background-color:#fff;
	min-height: 500px;
	border-radius: 2px;
}
.search-in-result-block {
	width: 100%;
	height: 30px;
	line-height: 30px;
	margin-left: 10px;
}
.search-description{
	display: inline-block;
	height: 24px;
	line-height: 24px;
	position: relative;
    top: 1px;
}
.longer{
	width: 210px;
}
.life-cycle{
	width: 260px;
}
.longer .search-description{
	float: left;
	height: 24px;
	line-height: 24px;
	position: relative;
    top: 1px;
}
.longer .item-wrap{
	float: left;
}
.select-supplier{
	width: 180px;
}
.select-life, .select-attention, .select-review{
	width: 80px;
}
.select-attention, .select-review{
	border: #dfe0e0 1px solid;
	height: 26px;
}
.price-form, .price-to{
	width: 60px;
	height: 22px;
	text-indent: 4px;
}
.price-select{
	width:250px;
	height:100%;
	margin-left:12px;
}
.notice-block{
	width: 42px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    position: relative;
    top: 1px;
}
.selector .fa {
	color: #ddd;
	position: relative;
	font-size: 10px;
}
.supplier-name-description{
	margin-left: 6px;
}
.selector .price {
	padding: 3px 10px;
	border: solid 1px #dcdcdc;
	text-align: center;
	width: 60px;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	background-color: #fff;
	cursor: pointer;
	position:relative;
	top:1px;
}
.selector .price-up{
	padding: 3px 10px;
	border: solid 1px #00c9b2;
	text-align: center;
	width: 60px;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	background-color: #00c9b2;
	cursor: pointer;
	position:relative;
	top:1px;
	color:#fff;
}
.price-up .fa-caret-up{
	color:#fff;
}
.selector .price-down{
	padding: 3px 10px;
	border: solid 1px #00c9b2;
	text-align: center;
	width: 60px;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	background-color: #00c9b2;
	cursor: pointer;
	position:relative;
	top:1px;
	color:#fff;
}
.price-down .fa-caret-down{
	color:#fff;
}


.selector .fa-caret-up {
	left: 4px;
	top: -3px;
}

.selector .fa-caret-down {
	left: -2.8px;
	top: 3px;
}

.selector .amount, .selector .search-in-result {
	height: 24px;
	display: inline-block;
	position: relative;
	padding:0 5px;
	border:1px solid #dcdcdc;
	border-radius: 2px;
	
}
.selector .amount{
	width:82px;
}

.price-search-btn, .search-in-result-btn {
	width:46px;
	height: 26px;
	position: relative;
	cursor:pointer;
	left: -1px;
	border: 1px solid #dcdcdc;
	background-color: #fff;
}
.search-in-result, .search-in-result-btn{
	position:relative;
	border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.notAttention{
	width: 14px;
	height: 14px;
	background: url(../../images/proyamtl/icon_like.png?v=1.1) no-repeat;
	display: inline-block;
	float: right;
    position: relative;
    top: -18px;
    right: 10px;
    cursor: pointer;
}
.isAttention{
	width: 14px;
	height: 14px;
	background: url(../../images/proyamtl/icon_like.png?v=1.1) 0 -13px no-repeat;
	display: inline-block;
	float: right;
    position: relative;
    top: -18px;
    right: 10px;
    cursor: pointer;
}
.selector .current-nav {
	position: absolute;
	right: 20px;
	height: 40px;
	top: 0;
	line-height: 40px;
}

.selector #total-number, .selector #current-number {
	color: #f54d56;
	padding:0 5px;
	font-size:20px;
}

.selector .ML {
	margin-left: 20px;
}

.goods-li .span {
	display: block;
	padding: 0 7px;
	font-size: 12px;
	overflow: hidden;
	margin-top: 10px;
	top: 0;
	height: 34px;
}
.certified-okay{
	width: 60px;
	height: 50px;
	position: absolute;
	right: 0;
	top: 0;
}
.discount-left {
	width: 5px;
	height: 35px;
	background-color: #de3841;
	float: left;
}

.discount-right {
	width: 65px;
	height: 100%;
	background-color: #f54d56;
	color: #fff;
	font-size: 18px;
	text-align: center;
	line-height: 35px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	float: left;
}
#goods-ul .jd-img{
	text-align:center;
	cursor:pointer;
	width:180px;
	height:158px;
	margin-top: 20px;
}
#goods-ul .jd-img img{
	width: 180px;
}
.jd-name a{
	overflow: hidden;
    /* display: -webkit-box; */
    display: inline-block;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
    height: 34px;
    color: #666;
    font-size: 14px;
}
.search-exist{
	height: 30px;
    line-height: 30px;
    margin-left: 20px;
}
.search-exist-input{
	position:relative;
	top: 2px;
	margin-right:4px;
	cursor: pointer;
}
.search-exist-label{
	cursor: pointer;
}
#goods-ul{
	padding:10px 0;	
	overflow:hidden;
}
.goods-li {
	width: 200px;
	float: left;
	margin-left: 53px;
	/* height:330px; */
	height:290px;
	border-radius: 2px;
	position: relative;
}
.shopping-item-dt i{
	position:relative;
	left:5px;
}
.goods-li:nth-child(5n+1) {
	margin-left: 12px;
}
.life-cyclere-register, .life-cyclere-okay, .life-cyclere-recommend, .life-cyclere-potential{
	float: left;
	width: 30px;
	height: 16px;
	line-height: 16px;
	background-color: rgba(121, 121, 121, 1);
	text-align: center;
	color: #fff;
}
.life-cyclere-okay{
	background-color: rgba(0, 153, 0, 1);
}
.goods-li:hover {
	box-shadow: 0 0 10px 8px #e9e9e9;
}

.collection {
	float: right;
	top: -30px;
	position: relative;
	cursor:pointer;
	width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #eee;
    padding: 0;
    right:10px;
}
.collection .fa-heart-o{
	position:relative;
	top:5px;
	left:4px;
}
.fa-heart{
	color:red;
	
}
.fa-heart:before{
	position: relative;
    content:"\f004";
}

#goods-ul .gb-price {
	color: #f72c40;
	margin: 0;
	font-size: 16px;
	text-align: left;
	height: 20px;
	line-height: 20px;
}

.jd-price {
	text-decoration: line-through;
	margin: 5px 0 0 0;
	color: #999;
}
#more-box{
	text-align: center;
	margin-top: 30px;
	padding-bottom: 30px;
	display: none;
}
#more{
	display:inline-block;
	width: 70px;
	height:40px;
	line-height:40px;
	text-align:center;
	color:#333;
	cursor:pointer;
}
#more:hover{
	color:#f72c40;
}
.NotExist{
	font-size:26px;
	color:#f54d56;
	text-align:center;
}

.currence , .price{
	color:#f72c40;
}

.symbol , .number{
	position: relative;
    left: 4px;
    font-size: 14px;
    color: #bbb;
    top: 2px;
}

.number{
	top:1px;
}

.shopping-cart-tow{
	float: left;
	padding-top: 5px;
    padding-left: 14px;
}

.altogether{
	color: #bbb;
}

.tatal{
	padding-top: 0px;
}

.commodity-count-tow{
	padding-left: 4px;
}

.commodity-text-tow{
	padding-left: 4px;
}

.tatal-price{
	color: #777;
    font-size: 14px;
}

.price-tow{
	font-size: 20px;
	color:#f70c40;
}

.delete-icon{
	height: 10px !important;
    width: 10px !important;
    position: relative !important;
    top: 22px !important;
    left: -13px !important;
    float: right;
    cursor: pointer;
}