.mod-notalk-page {
	margin-left: 365px;
	margin-top: 100px;
	height: 481px
}


.mod-notalk-page .notalk-tips {
	width: 170px;
	font-size: 14px;
	margin-left: 30px;
	color: #666;
	padding-top: 30px
}

.mod-notalk-page .notalk-tips a:hover {
	color: #fff
}

.mod-notalk-page .notalk-button:hover {
	background-position: 0 -33px;
	text-shadow: #2c67a2 1px 1px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.20);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.20);
	-khtml-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.20);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.20)
}

.mod-talklist {
	float: left;
	height: 581px;
	width: 389px;
	background: #f9f9f9;
	border-right: 1px solid #d9d9d9;
	position: relative;
	-moz-box-shadow: inset -1px -1px 3px #ebebeb;
	-webkit-box-shadow: inset -1px -1px 3px #ebebeb;
	box-shadow: inset -1px -1px 3px #ebebeb
}

.mod-talklist .list-vacon {
	height: 35px
}

.mod-talklist .list-container {
	zoom: 1;
	border-top: 1px solid #d9d9d9
}

.mod-talklist .talkitem {
	position: relative;
	cursor: pointer;
	height: 50px;
	border-bottom: 1px dotted #e2e2e2;
	-webkit-transition-property: background;
	-webkit-transition-duration: .5s;
	-moz-transition-property: background;
	-moz-transition-duration: .5s;
	-o-transition-property: background;
	-o-transition-duration: .5s;
	transition-property: background;
	transition-duration: .5s
}

.mod-talklist .talkitem-hover {
	background: #f3f3f3
}
.mod_msgtoolbar {
	position:relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 30px;
	/*background: #458FCE*/;
	/*background: #F9F9F9*/;
	background: url(../../../images/body_bg.png);
}
.mod-talklist .talkitem-selected {
	position: relative;
	z-index: 100;
	margin-top: -1px;
	margin-right: -1px;
	background: #fff;
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
	-webkit-box-shadow: 0 1px 0 #f0f0f0;
	-moz-box-shadow: 0 1px 0 #f0f0f0;
	-khtml-box-shadow: 0 1px 0 #f0f0f0;
	box-shadow: 0 1px 0 #f0f0f0
}

.mod-talklist .talkitem-selected .portrait {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none
}

.mod-talklist .talkitem .st-mark {
	height: 13px;
	width: 13px;
	float: left;
	margin: 32px 8px 0 12px;
	display: none
}

.mod-talklist .talkitem .portrait-con {
	position: relative;
	float: left;
	margin-left: 15px;
	margin-top: 10px;
	display: inline
}

.mod-talklist .talkitem .portrait-con-selected {
	position: relative;
	float: left;
	margin-left: 15px;
	margin-top: 10px;
	display: none
}

.mod-talklist .talkitem-selected .portrait-con {
	display: none
}

.mod-talklist .talkitem-selected .portrait-con-selected {
	display: inline
}

.mod-talklist .talkitem .msgcontent {
	float: left;
	width: 260px;
	margin: 5px 0 0 7px;
	line-height: 45px
}

.mod-talklist .talkitem .msgcontent .uname-row {
	float: left;
	position: relative
}

.mod-talklist .jiav {
	color: #fff;
	font-size: 16px
}

.mod-talklist .uname-bg {
	font-weight: bold
}


.mod-talklist .unread .msgcontent .uname-row .uname {
	font-weight: bold
}

.mod-talklist .talkitem .msgcontent .uname-row .uname {
	float: left;
	display: block
}

.mod-talklist .talkitem .msgcontent .uname-row .uname-selected {
	float: left;
	display: none
}

.mod-talklist .talkitem-selected .msgcontent .uname-row .uname {
	display: none
}

.mod-talklist .talkitem-selected .msgcontent .uname-row .uname-selected
	{
	display: block
}

.mod-talklist .talkitem .msgcontent .uname-row .unread-tip {
	display: none;
	position: absolute;
	left: -16px;
	top: 0;
	height: 15px;
	color: #fff;
	text-align: center;
	font-size: 12px;
	cursor: pointer;
	font-family: arial;
	line-height: normal
}


.mod-talklist .talkitem .msgcontent .abstract-row {
	float: left;
	color: #999
}

.mod-talklist .unread .msgcontent .abstract-row {
	float: left;
	color: #333
}

.mod-talklist .talkitem .time {
	position: absolute;
	top: 32px;
	right: 10px;
	color: #aeaeae
}

.mod-talklist .talkitem-selected .time {
	right: 11px
}


.mod-talklist .talkitem-selected a.tools {
	right: 9px
}

.mod-talklist .mod-toptoolbar {
	padding-top: 7px
}

.mod-toptoolbar .toobar-normal {
	padding-left: 15px
}

.mod-toptoolbar .toobar-onop {
	padding-left: 8px;
	display: none
}

.mod-toptoolbar .toobar-onop .checkbox-con {
	float: left;
	margin-top: 4px
}

.mod-toptoolbar .toobar-onop .selall {
	float: left;
	padding-left: 8px;
	padding-top: 4px;
	_padding-top: 5px;
	color: #999
}

.mod-toptoolbar .toobar-onop a.btn-cfm-cancel {
	float: left;
	display: inline-block;
	padding-left: 12px;
	padding-top: 4px;
	_padding-top: 5px;
	color: #999
}

.mod-toptoolbar .toobar-onop a.btn-cfm-cancel:hover {
	color: #666
}

.mod-pager {
	position: absolute;
	width: 389px;
	bottom: 0;
	height: 35px;
	border-top: 1px solid #e2e2e2;
	background: #f9f9f9
}

.tang-pager {
	padding: 8px 5px 0 0;
	text-align: right
}

.tang-pager .tang-pager-first,.tang-pager .tang-pager-previous,.tang-pager .tang-pager-normal,.tang-pager .tang-pager-current,.tang-pager .tang-pager-next,.tang-pager .tang-pager-last
	{
	display: inline-block;
	margin-right: 5px;
	height: 18px;
	line-height: 18px
}

.tang-pager .tang-pager-first,.tang-pager .tang-pager-previous,.tang-pager .tang-pager-normal,.tang-pager .tang-pager-next,.tang-pager .tang-pager-last
	{
	text-decoration: none;
	border: 1px solid #dfe2e4;
	color: #3b7fca
}

.tang-pager .tang-pager-first,.tang-pager .tang-pager-previous,.tang-pager .tang-pager-next,.tang-pager .tang-pager-last
	{
	padding: 0 6px
}

.tang-pager .tang-pager-normal,.tang-pager .tang-pager-current {
	padding: 0 6px
}

.tang-pager .tang-pager-first:hover,.tang-pager .tang-pager-previous:hover,.tang-pager .tang-pager-normal:hover,.tang-pager .tang-pager-next:hover,.tang-pager .tang-pager-last:hover
	{
	background: #458fce;
	border: 1px solid #458fce;
	color: #fff
}

.tang-pager .tang-pager-current {
	background: #458fce;
	border: 1px solid #458fce;
	color: #fff
}

.mod-pager {
	position: absolute;
	width: 389px;
	bottom: 0;
	height: 35px;
	border-top: 1px solid #e2e2e2;
	background: #f9f9f9
}

.tang-pager {
	padding: 8px 5px 0 0;
	text-align: right
}

.tang-pager .tang-pager-first,.tang-pager .tang-pager-previous,.tang-pager .tang-pager-normal,.tang-pager .tang-pager-current,.tang-pager .tang-pager-next,.tang-pager .tang-pager-last
	{
	display: inline-block;
	margin-right: 5px;
	height: 18px;
	line-height: 18px
}

.tang-pager .tang-pager-first,.tang-pager .tang-pager-previous,.tang-pager .tang-pager-normal,.tang-pager .tang-pager-next,.tang-pager .tang-pager-last
	{
	text-decoration: none;
	border: 1px solid #dfe2e4;
	color: #3b7fca
}

.tang-pager .tang-pager-first,.tang-pager .tang-pager-previous,.tang-pager .tang-pager-next,.tang-pager .tang-pager-last
	{
	padding: 0 6px
}

.tang-pager .tang-pager-normal,.tang-pager .tang-pager-current {
	padding: 0 6px
}

.tang-pager .tang-pager-first:hover,.tang-pager .tang-pager-previous:hover,.tang-pager .tang-pager-normal:hover,.tang-pager .tang-pager-next:hover,.tang-pager .tang-pager-last:hover
	{
	background: #458fce;
	border: 1px solid #458fce;
	color: #fff
}

.tang-pager .tang-pager-current {
	background: #458fce;
	border: 1px solid #458fce;
	color: #fff
}

.mod-msglist {
	float: left;
	width: 100%;
	height: 100%;
	position: relative
}

.mod-msglist .face-icon {
	height: auto
}

.mod-msglist .msg-unopen-page {
	margin-top: 204px;
	margin-left: 198px
}

.mod-msglist .msg-unopen-page .unopen-tips {
	width: 143px;
	font-size: 14px;
	text-align: center;
	color: #666;
	padding-top: 20px
}

.mod-msglist .mod-msgcontainer {
	width: 511px;
	height: 435px;
	display: block;
}

.mod-msglist .mod-msgcontainer .msg-container {
	padding-top: 15px;
	position: relative
}

.mod-msglist .mod-msgcontainer .no-msg-tip {
	display: none;
	margin-left: 17px;
	margin-top: 17px;
	color: #999
}

.mod-msgcontainer ul.msg-container {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 390px;
	_height: 435px
}

.mod-msgcontainer ul li {
	margin: 0 10px 6px 20px
}

.mod-msgcontainer .msgitem {
	min-height: 90px;
}

.msg_delete{
	position: absolute;
	right: 2px;
	top: 2px;
	width: 16px;
	height: 16px;
	background: url(../../../images/remove_gray.png);
}

.msg_delete:hover{
	cursor: hand;
	color:#2e7fdb;
	background: url(../../../images/remove.gif);
}


.mod-msgcontainer .leftitem .portrait-con {
	width: 40px;
	margin-top: 20px;
	margin-right: 10px;
}

.mod-msgcontainer .rightitem .portrait-con {
	margin-left: 10px;
}

.mod-msgcontainer .msgitem .msg-content-header {
	width: 8px;
	height: 68px;
	position: relative;
	z-index: 1000;
	-webkit-transition-property: all;
	-webkit-transition-duration: .5s;
	-moz-transition-property: all;
	-moz-transition-duration: .5s;
	-o-transition-property: all;
	-o-transition-duration: .5s;
	transition-property: all;
	transition-duration: .5s;
}

.mod-msgcontainer .leftitem .msg-content-header {
	background:
		url(../../../images/msg_box_arrow_left.gif)
		no-repeat;
	margin-top: 20px;
	margin-right: -1px;
}

.mod-msgcontainer .leftitem .header-hover {
	background:
		url(../../../images/msg_box_arrow_left_hover.gif)
		no-repeat;
	margin-top: 20px;
	margin-right: -1px;
}

.mod-msgcontainer .rightitem .msg-content-header {
	background:
		url(../../../images/msg_box_arrow_right.gif)
		no-repeat;
	margin-top: 20px;
	margin-left: -1px;
}

.mod-msgcontainer .rightitem .header-hover {
	background:
		url(../../../images/msg_box_arrow_right_hover.gif)
		no-repeat;
	margin-top: 20px;
	margin-left: -1px;
}

.mod-msgcontainer .msgitem .msg-content-body {
	max-width: 400px;
	min-width: 200px;
	position: relative;
	-webkit-transition-property: all;
	-webkit-transition-duration: .5s;
	-moz-transition-property: all;
	-moz-transition-duration: .5s;
	-o-transition-property: all;
	-o-transition-duration: .5s;
	transition-property: all;
	transition-duration: .5s;
}

.mod-msgcontainer .leftitem .msg-content-body {
	background: #f2f8fb;
	border: 1px solid #e1e9ed;
	-webkit-border-top-left-radius: 3px 5px 5px 3px;
	border-top-left-radius: 3px 5px 5px 3px;
	-webkit-border-bottom-left-radius: 3px 5px 5px 3px;
	border-bottom-left-radius: 3px 5px 5px 3px;
	-moz-border-radius-topleft: 3px 5px 5px 3px;
	-moz-border-radius-bottomleft: 3px 5px 5px 3px;
	border-radius: 3px 5px 5px 3px;
	-moz-border-radius: 3px 5px 5px 3px;
	-webkit-border-radius: 3px 5px 5px 3px;
}

.mod-msgcontainer .rightitem .msg-content-body {
	background: #fbfaf2;
	border: 1px solid #eceadb;
	-webkit-border-top-left-radius: 5px 3px 3px 5px;
	border-top-left-radius: 5px 3px 3px 5px;
	-webkit-border-bottom-left-radius: 5px 3px 3px 5px;
	border-bottom-left-radius: 5px 3px 3px 5px;
	-moz-border-radius-topleft: 5px 3px 3px 5px;
	-moz-border-radius-bottomleft: 5px 3px 3px 5px;
	border-radius: 5px 3px 3px 5px;
	-moz-border-radius: 5px 3px 3px 5px;
	-webkit-border-radius: 5px 3px 3px 5px;
}

.mod-msgcontainer .leftitem .body-hover {
	border: 1px solid #d5dce0;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.10);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.10);
	-khtml-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.10);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.10);
}

.mod-msgcontainer .rightitem .body-hover {
	border: 1px solid #e1dfd0;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.10);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.10);
	-khtml-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.10);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.10);
}

.mod-msgcontainer .leftitem .msg-content-body a.close {
	position: absolute;
	display: none;
	right: 5px;
	top: 5px;
	width: 10px;
	height: 9px;
	background: url(../../../images/icon_buttons.gif)
		-176px -32px no-repeat;
}

.mod-msgcontainer .leftitem .msg-content-body a.close:hover {
	background-position: -176px -48px;
}

.mod-msgcontainer .rightitem .msg-content-body a.close {
	position: absolute;
	display: none;
	right: 5px;
	top: 5px;
	width: 10px;
	height: 9px;
	background: url(../../../images/icon_buttons.gif)
		-176px -32px no-repeat;
}

.mod-msgcontainer .rightitem .msg-content-body a.close:hover {
	background-position: -176px -48px;
}

.mod-msgcontainer .msgitem .msg-content-body .content {
	padding: 12px 12px 5px 12px;
}

.mod-msgcontainer .msgitem .msg-content-body p.msgertime {
	text-align: right;
	padding-top: 10px;
}

.mod-msgcontainer .msgitem .msg-content-body p.abstract {
	color: 666666;
	font-size: 14px;
	line-height: 24px;
}

.mod-msgcontainer .msgitem .msg-content-body a.reply {
	color: #aeaeae;
	padding-left: 15px;
}

.mod-msgcontainer .msgitem .msg-content-body a.reply:hover {
	color: #666;
}

.mod-msgcontainer .msgitem .msg-content-body .time {
	color: #aeaeae;
}


.mod-msgcontainer .leftitem .msg-content-body,.mod-msgcontainer .rightitem .msg-content-body{
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}


