.interval-box{
	margin-top: 3rem;
}
.hand-green-bar{
	background-color: rgb(61, 201, 179) !important;
}
.bar-calm {
    border-color: rgb(61, 201, 179) !important;
    background-color: rgb(61, 201, 179) !important;
    /*background-image: linear-gradient(0deg,#0a9dc7,#0a9dc7 50%,transparent 50%);*/
    color: #fff;
}
.button.button-positive {
    border-color: transparent;
    background-color: rgb(61, 201, 179) !important;
    color: #fff;
}
.checkbox input:checked+.checkbox-icon:before, .checkbox input:checked:before {
    background: rgb(61, 201, 179) !important;
    border-color: rgb(61, 201, 179) !important;
}
.demonstrate-content{
	margin-left:4%;
}
.order-submit-btn{
	margin-bottom:20px;
}
.checkbox-title{
	margin-left:10px;
}
.checkbox-title:hover{
	cursor:pointer;
}

.order-no-margin{
	margin: 0 !important;
	padding:0 !important;
    overflow: hidden;
    background-color: #474a55;
}
.order-right{	
	width: 63%;
    background-color: #474a55;
    height: 100%;
    display:table;
}
.order-container{
	color:#fff;
	height:100%;
}
.btn-guanwang{
	background-color: #00c9b2;
	color:#fff;
}
.btn-guanwang:hover,.btn-guanwang:active,.btn-guanwang:visited{
	background-color: #31b09c;
	color:#fff !important;
}
.btn-guanwang:focus{
	color:#fff !important;
}
.order-checkbox{
	margin:25px;
}
.order-bg{
    height: 100%;
    background: url(../images/order-bg.jpg?v=1.1) no-repeat;
    background-size: cover;
    display:table;
}
.hand-main-content{
	height:100%
}
html,#body{
	height:100%;
}
.order-right-middle{
	display:table-cell;
	vertical-align: middle;
}
.order-img{
	display:table-cell;
	vertical-align: middle;
	text-align:center;
}
.order-img span{
	color:#fff;
	font-size:50px;
}
.ui-popup-follow .ui-dialog-content{
	color:#d75965 !important;
	font-weight:normal !important;
}
.ui-dialog-content{
	color:#000;
	font-weight:bold;
}
.input-error{
	border:1px solid #d75965 !important;
	box-shadow: 1px 1px 1px #d75965 !important;
}
.hand-icon-box{
	margin-bottom:10px;
}
.hand-icon-white{
	width:37%;
}