@media print{   
	body, html{
		background-color: #ffffff;
		min-height: 100%;
	}
}
.main-tab-content{
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('loadingMainTab.gif?v=1');
}

body, html{
	background-color: #eff2f9;
	min-height: 100%;
	color:#333;
    padding: 0px;
    margin: 0px;
    font-size:12px;
   	font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
    font-style: normal;
    font-weight: normal;
}
.fl{
	float: left;
}
.fr{
	float:right;
}
ul{
	padding: 0px;
	list-style: none;
}
a{
	color:#666;
}
a:link, a:visited{
	color:#666;
	text-decoration: none;
}
a:hover{
   color:#08bee7;
   text-decoration: underline;
}
a:active{
	color:#005ea7;
}
.tab{
	margin-top:0px;
}

.item-grid a:link{
	color:#1960d2;
}
.item-grid a:visited{
   color:#1960d2;
}
.item-grid a:hover{
   color:#387de8;
   text-decoration: underline;
}
.item-grid a:active{
	color:#005ea7;
}

/*自定义checkBox*/
.checkBox-con{
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	overflow: hidden;
}
.checkBox-con > input {
    cursor: pointer;
    vertical-align: middle;
    position: absolute;
    z-index: 2;
    width: 20px;
    height: 20px;
    display: block;
    opacity: 0;
    filter: alpha(opacity=0);
}
.checkBox-con div {
    z-index: 1;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0px;
    top: 0px;
    background-position-y: -82px;
    background-position-x: -7px;
    background-image: url("../../images/common-style-imgs/logoCheckbox.png");
}
