body,html{
    background-color: #eff2f9;
    width:100%;
    min-width: 1200px;
    min-height: 100%;
    color:#333;
    padding: 0;
    margin: 0;
    font-size:12px;
    font-style: normal;
    font-weight: normal;
}
a{
    color:#666;
}
a:link, a:visited{
    color:#666;
    text-decoration: none;
}
a:hover{
    color:#08bee7;
    text-decoration: underline;
}
a:active{
    color:#005ea7;
}
hr{border:none;border-top:1px dashed #add6f3;}
.fl{
    float: left;
}
.fr{
    float: right;
}
li{
    list-style: none;
    
}
.none{
	display:none;
}
.block{
	display:block;
}
#content{
    width:80%;
    min-width:1000px;
    max-width:1500px;
    margin-left: auto;
    margin-right: auto;
    background: #f7f8fc;
    box-shadow:0px 0px 30px #d6d6d6;
}
#head{
    width:100%;
    background: #ffffff;
    height:50px;
    margin-left: auto;
    margin-right: auto;
}

#user_info li{
    float: right;
    list-style: none;
    margin-right:10px;
    margin-top:12px;
}

#user_info img{
    width:40px;
    height:40px;
          
}
.user_info_image{
    width:40px;
    height:40px;
    border-radius: 50%;
    overflow: hidden;
    margin:5px 20px 0 0;
}
.user_info_image:hover{
    width:40px;
    height:40px;
    border-radius: 50%;
    overflow: hidden;
    margin:5px 20px 0 0;
    cursor:pointer;
}
#common-used-function li{
	curosr:default;
}
#common-used-function{
    width:96%;
    margin-right: auto;
    margin-left: auto;
    margin-top:18px;
    overflow:hidden;
}
.common-used-function-title{
    width:100%;
    height:45px;
    background-color: #455b70;
    font-size: 18px;
    color:#add6f3;
    line-height: 45px;
    text-indent: 16px;
}
#common-used-function .common-used-function-title ul{
	width:100%;
    height:50px;
    background: #455b70;
    font-size: 18px;
    color:#8dc0ec;
    line-height: 45px;
    text-indent: 16px;
}
#common-used-function .common-used-function-title li{
	width:100px;
	border:none;
	margin-top:0;
	height:45px;
}
#common-used-function ul{
    background: #ffffff;
    overflow: hidden;
    margin-top:0;
}
#common-used-function li{
    float: left;
    width:23.8%;
    padding-left:1%;
    list-style: none;
    height:68px;
    margin-top:10px;
    border-bottom: 1px solid #f7f8fc;
    display:block;
}

.common-used-function-list a{
    font-size: 14px;
    height:30px;
    line-height:50px;
}
.common-used-function-list .icon-1{
    background: url('../../images/sys_icon/1.png') no-repeat;
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    margin-right:10px;
}
.common-used-function-list i{
    margin-top:10px;
    float: left;
    width: 35px;
    height: 35px;
}
.common-used-function-list .icon-2{
        background: url('../../images/sys_icon/2.png') no-repeat;
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    margin-right:10px;
}
.common-used-function-list .icon-3{
    background: url('../../images/sys_icon/3.png') no-repeat;
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    margin-right:10px;
}
.common-used-function-list .icon-4{
    background: url('../../images/sys_icon/4.png') no-repeat;
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    margin-right:10px;
}
.common-used-function-list .icon-5{
    background: url('../../images/sys_icon/5.png') no-repeat;
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    margin-right:10px;
}
.common-used-function-list .icon-6{
    background: url('../../images/sys_icon/6.png') no-repeat;
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    margin-right:10px;
}
.common-used-function-list .icon-7{

    background: url('../../images/sys_icon/7.png') no-repeat;
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    margin-right:10px;
}
.common-used-function-list .icon-8{
    background: url('../../images/sys_icon/8.png') no-repeat;
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    margin-right:10px;
}
.trade-state-label-title{
    width:96%;
    background-color: #455b70;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    height:50px;
}
.trade-state-label-title ul{
    width:100%;
    overflow: hidden;
    font-size: 14px;
    color: #add6f3;
    margin-top:15px;
}
.trade-state-label-title li{
    width:20%;
    float: left;
}
.trade-state-label ul{
    float: left;
}
.require-state-label{
    width:96%;
    background-color: #ffffff;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #007fff;
}
.purchase{
    width:55px;
    height:55px;
    border-radius: 50%;
    color:#0078d8;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    margin:32px 5px;
    float: left;
}
.require-state-label .require-state-label-before{
    width:30%;
    float: left;
    border-right: 1px solid #007fff;
    height:120px;
    margin:0 0 0 30px;
    overflow: hidden;
}
.require-state-label .require-state-label-before li{
    float: left;
    margin-top:40px;
    font-size: 12px;
    text-align: center;
}
.require-state-label .require-state-label-during{
    padding:0;
    width:22%;
    border-right: 1px solid #007fff;
    margin: 0;
    height:120px;
    margin-left:auto;
    margin-right:auto;
}
.require-state-label .require-state-label-during li{
    width:55px;
    float: left;
    margin-top:40px;
    font-size: 12px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}
.require-state-label .require-state-label-after{
    width:30%;
    max-width:540px;
    float: left;
    height:100px;
    margin:0;
    padding:0;
    margin-left:auto;
    margin-right:auto;
}
.require-state-label .require-state-label-after li{
    float: left;
    margin-top:40px;
    font-size: 12px;
}
#supply-state-label{
    height:100%;
}
.supply-state-label{
    width:96%;
    background-color: #ffffff;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    height:100px;
}
.supply-state-label .sale{
    width:55px;
    height:55px;
    border-radius: 50%;
    color:#0078d8;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    margin:32px 5px;
    float: left;
}
.supply-state-label .require-state-label-before{
    width: 30%;
    float: left;
    border-right: 1px solid #007fff;
    overflow: hidden;
    margin:0 0 0 30px;
    height:120px;
}
.supply-state-label .require-state-label-before li{
    float: left;
    text-align: center;
    margin:20px 30px 0 0;
}
#supply-state-label .require-state-label-during{
    padding:0;
    width:22%;
    border-right: 1px solid #007fff;
    margin: 0;
    text-align: center;
    height:120px;
}
#supply-state-label .require-state-label-during li{
    width:100%;
    float: left;
    margin-top:40px;
    font-size: 12px;
}
.supply-state-label .require-state-label-after{
    width:30%;
    max-width:540px;
    float: left;
    margin:0;
    padding:0;
    height:100%;
    margin-left:auto;
    margin-right:auto;
}
.supply-state-label .require-state-label-after li{
    float: left;
    margin-top:20px;
    font-size: 12px;
}
#tab{
    width:96%;
    overflow: hidden;
    background-color: #ffffff;
    margin-bottom:20px;
    margin-top:20px;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
}
.tab-title{
    width:100%;
    overflow: hidden;
    height:80px;
}
.tab-title ul{
    width:100%;
    border-bottom: 1px solid #f5f5f7;
    height:30px;
    margin:10px 0 0 0;
}
.tab-title span{
    list-style: none;
    float: left;
    height:30px;
    margin: 0 10px ;
}
.tab-title .refresh-span{
	float:none;
	margin:0 0 0 5px;
	font-family: sans-serif;
	font-size:12px;
	color:#fff;
	font-weight:600;
}
.icon-refresh{
	font-size:0.3em;
}
.redStar{
	display: none;
	width: 6px;
	height: 6px;
	border-radius: 6px;
	background-color: #f76f1f;
	position: relative;
	top: -2px;
	left: 3px;
}
.trade-text{
	display: inline-block;
	height: 20px;
	line-height: 22px;
}
.trade-btn-bg{
	display: inline-block;
	width: 34px;
	height: 18px;
	background-color: #aaa;
	border: 1px solid #555;
	border-radius: 18px;
	float: right;
}
.trade-btn-bg.show{
	background-color: #5ecbc7;
}
.trade-btn{
    width: 18px;
    height: 18px;
    border-radius: 18px;
    background-color: #fff;
    display: inline-block;
    position: relative;
    left:0;
}
.tab-title li:nth-child(odd){
    width:70px;
    float: left;
    height:30px;
    text-align: center;
    cursor: pointer;
}
.tab-title li:first-child{
	margin-left:30px;
}
.tab-title li.active{
    border-bottom: 2px solid #003eff;
}
.tab-title li.active a{
    color:#003eff;
}
.tab-title a:hover{
    text-decoration: none;
}

.refresh-btn{
	float:left;
	font-size: 14px;
    padding: 4px 10px;
    color: #fff;
    text-decoration: none;
    background-color: #19a2d5;
    border: 1px solid #19a2d5;
    border-radius:2px;
}
.refresh-btn:hover{
	color:#fff;
    background-color: #28bde6;
}
.tab-content{
    display: none;
    margin-bottom:20px;
}
#tab-content{
    width:100%;
    background: #ffffff;
    margin-bottom:20px;
    margin-left:auto;
    margin-right:auto;
}

.show{
    display: block;
}
.white .tiles {
	background-color: #ffffff;
	color: #8b91a0;
}

.tiles .tiles-body {
	padding: 0px 10px 0px 10px;
}

.tiles {
	background-color: #fff;
	color: #fff;
	position: relative;
	min-height: 100px;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}
.notification-messages {
	font-family: Microsoft YaHei;
	padding: 0px 10px 10px;
	display: block;
	color: #8b91a0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	height: 80px;
	min-height:80px;
	-webkit-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
	position: relative;
}

/* .notification-messages:hover .message-wrapper .heading{
	color:#fff;
}
.notification-messages:hover .message-wrapper .description{
	color:#fff;
}
.notification-messages:hover .date{
	color:#fff;
} */
.msg-close {
	position: absolute;
	top: 5px;
	right: 5px;
	display:none;
	font-size:13px;
}

.notification-messages .date {
    position: absolute;
    top: 3px;
    color: #666;
    text-align: right;
    font-size: 13px;
    line-height: 15px;
    opacity: 1;
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.notification-messages .dates { 
    position: absolute;
    top: 5px;
    color: #000;
    text-align: right;
    font-size: 13px;
    font-weight:900;
    line-height: 15px;
    opacity: 1;
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    
}

.notification-messages .message-wrapper .heading {
    top: 2px;
    left: 150px;
    color: #666;
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    width: 85%;
    line-height: 19px;
    font-weight: 600;
    -webkit-transition: all 0.4s ease-in-out 0s;
    position: absolute;
    transition: all 0.4s ease-in-out 0s;
}

.notification-messages .message-wrapper {
	width: 97%;
	height: 80px;
	min-height:80px;
	overflow: hidden;
	-webkit-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
	border-bottom:2px solid #eee;
	right: 0;
    position: absolute;
}

.notification-messages .message-wrapper.read .description{
    white-space: normal;
}
.notification-messages .message-wrapper.read .descriptions{
    white-space: normal;
}
.notification-messages .message-wrapper .description  {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 97%;
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    position: absolute;
    top: 36px;
    left: 25px;
    font-weight: 900;
    color: #000;
    margin-left: 10px;
}
.notification-messages .message-wrapper .descriptions {
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 13px;
    overflow: hidden;
    width: 98%;
    text-indent:2em;
    transition: all 0.4s ease-in-out 0s;
    position: absolute;
    top: 30px;
    font-weight: normal;
    color: #666;
    margin-left:10px;
}
.showmore {
	height: 35px;
	cursor: pointer;
	text-align: center;
	display:none;
}
.showmore .handle {
	display: block;
	height: 35px;
	text-align: center;
	color: #909090;
	font-size: 14px;
	text-decoration: none;
	line-height: 35px;
	margin: 0px 10px 0px 10px;
	background-color: #f9f9f9;
}

.showmore .handle:hover {
	text-decoration: none;
	background: #e6e6e6;
}

.hand-main-content{
	overflow:auto;
}
.common-used-function-title li a{
	color:white;
	height:17px;
	text-decoration: none;
	padding:5px 10px;
	text-align:center;
	background-color:#19a2d5;
	border-radius:5px;
	font-size:12px;
	margin-top:0
}
.common-used-function-title li a:hover{
	color:white;
	text-decoration: none;
	padding:5px 10px;
	height:17px;
	text-align:center;
	background-color:#28bde6;
	border-radius:5px;
	font-size:12px;
}
.notification-messages .decorate{
	position: absolute;
    left: 17px;
    top: 0;
    height: 100%;
    width: 12px;
}
.notification-messages .message-wrapper .line-wrap {
    position: relative;
    height: 100%;
}
.radio{
	z-index: 2;
    width: 20px;
    height: 16px;
    position: absolute;
    top: 0px;
    left: -7px;
    background: url("../../images/message_v5.png") 0 0px no-repeat;
}
.radios{
	z-index: 2;
    width: 20px;
    height: 16px;
    position: absolute;
    top: 0px;
    left: -7px;
    background: url("../../images/message_v5.png") 0 -16px no-repeat;
}
.notification-messages .message-wrapper:hover{
	background-color: rgba(221, 238, 238, 0.5);
}
.notification-messages:hover .msg-close{
	display:block;
}
.msg-close:hover .message-wrapper{
	background-color:red;
}
.decorate .line-wrap .line {
    height: 100%;
    width: 10px;
    border-left: 2px solid #e1e1e1;
    z-index: 2;
}
.decorate .line-wrap {
    position: relative;
    height: 100%;
}
.notification-messages .messageIcon{
	background: url("../../images/notice.png") no-repeat;
	width:15px;
	height:14px;
    position: absolute;
    top:42px;
}
.notification-messages .messageIconOver{
	width:15px;
	height:14px;
	margin: 10px 0 0 10px;
    position: absolute;
}
#edit{
	font-size:14px;
	padding:8px 10px 5px 10px;
	color:#fff;
	text-decoration:none;
	margin-left:20px;
	border:1px solid #19a2d5;
	background-color:#19a2d5;
	border-radius:2px;
}
#edit:hover{
	background-color:#28bde6;
}
.fGuide.validate {
    z-index: 1000;
}
.fGuide {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}
.fGuide.validate_bg {
	background-color: #000;
	opacity: 0.4;
	filter: alpha(opacity = 40);
}
#tab-title a{
	font-weight:600;
}
@media only screen and (min-width: 600px ) and (max-width: 1200px) {
	.notification-messages .message-wrapper .heading {
    top: 2px;
    left: 150px;
    color: #666;
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    width: 85%;
    line-height: 19px;
    font-weight: 600;
    -webkit-transition: all 0.4s ease-in-out 0s;
    position: absolute;
    transition: all 0.4s ease-in-out 0s;
	}
}
.load{
	background:url("../../images/loading.gif") no-repeat;
	width:20px;
	height:20px;
}
#common_used_function_list a{
	width:35px;
	height:35px;
}
.icon-gear{
	position:relative;
	left:-11px;
}
