body {
	background-color: #ddeeff;
	margin: 0px;
}

div {
	margin: 0px;
}

.header-container {
	width: 100%;
}

.person-center ul>li {
	padding-left: 6px;
	line-height: 20px;
}

.header {
	width: 1190px;
	height: 50px;
	background-color: #2d78f4;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
}

.header-left {
	width: 200px;
	height: 50px;
	background-color: #aaccee;
}

.header-right {
	left: 200px;
	top: 0px;
	width: 990px;
	height: 50px;
	background-color: #aa22ee;
}

.content-main {
	display: block;
	width: 1190px;
	background-color: #ccddee;
	margin-left: auto;
	margin-right: auto;
}

.content-main-left {
	width: 210px;
	background-color: #ffffff;
}

.user-infor {
	line-height: 20px;
	height: 220px;
	width: 100%;
	border-top: 10px solid #eff2f9;
}

.user-infor .select-role .item-wrap {
	position: relative;
	font-size: 12px;
	width: 110px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2px;
	background-color: #ececec;
	border: none;
	margin-top: 6px;
}

.user-infor .select-role .item-wrap input {
	color: #666;
}

.user-infor-con {
	width: 100%;
	padding-top: 20px;
}

.user-infor {
	border-top: 10px solid #d1eaf5;
	color: #666;
}

.common-used-function {
	border-top: 10px solid #d1eaf5;
}

.user-infor-img-con {
	width: 80px;
}

.user-infor-img {
	width: 100px;
	border-radius: 50%;
	margin: auto;
	display: block;
}

.user-infor-person {
	width: 130px;
	height: 70px;
	vertical-align: bottom;
}

.short-link-con {
	text-align: center;
	overflow: hidden;
	background-color: #fff;
	height: 30px;
	line-height: 20px;
	color: #666;
}

.short-link-con .short-link:hover {
	color: #077bc2;
}

.short-link-con .short-link {
	font-size: 12px;
	width: 90px;
	cursor: pointer;
	text-align: center;
}

.user-infor-person ul {
	padding: 35px 0px 0px 0px;
	list-style: none;
}

.user-infor-person li {
	font-size: 12px;
}

.person-attribute {
	width: 100%;
	height: 70px;
	background-color: #fbfbfb;
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
}

.person-attribute-list {
	width: 198px;
	margin-left: auto;
	margin-right: auto;
	height: 50px;
	margin-top: 15px;
}

.person-attribute-item {
	float: left;
	width: 56px;
	text-align: center;
}

.person-attribute-item-name {
	font-size: 12px;
}

.person-attribute-item-value {
	font-size: 22px;
	color: #00aabb;
}

.common-used-function-title {
	padding-left: 20px;
	line-height: 40px;
	font-size: 14px;
	font-weight: 500;
	background-color: #526f8d;
	color: #ffffff;
}

.common-used-function-list {
	width: 100%;
}

.common-used-function-item {
	font-size: 12px;
	padding: 8px 0px 8px 20px;
}

.common-used-function-item a {
	text-decoration: none;
	color: #666;
}

.common-used-function-item:hover {
	background-color: #19a2d5;
	cursor: hand;
}

.common-used-function-item:hover a {
	color: #ffffff;
	text-decoration: none;
}

.content-main-right {
	width: 975px;
	margin-left: 10px;
}

.sales-state-level {
	width: 140px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

.sales-state-level ul {
	list-style: none;
	font-size: 12px;
	padding: 0px;
}

.main-left {
	width: 700px;
	margin-top: 10px;
	float: left;
}

.main-right {
	width: 260px;
	margin-top: 10px;
	float: right;
}

.sales-container,.notice-container {
	height: 250px;
	background-color: #fffcf5;
	overflow: hidden;
}

.sales-container .sale-container-body {
	width: 740px;
	height: 250px;
	margin-left: auto;
	margin-right: auto;
}

.trade-state-label-item-container {
	list-style: none;
	padding: 0px;
	height: 40px;
	line-height: 40px;
	padding-left: 80px;
	background-color: #fff;
	color: #fff;
}

.trade-state-label img {
	display: block;
	left: 130px;
	top: 33px;
	position: absolute;
}

.trade-state-label-item-container li {
	font-size: 14px;
	text-align: center;
	color: #fff;
}

.trade-state-label-item-container .trade-state-label-item-before {
	width: 240px;
	background-color: #0fa1d4;
}

.trade-state-label-item-middle {
	width: 124px;
	background-color: #1fb0e5;
}

.trade-state-label-item-last {
	width: 260px;
	background-color: #36b8e7;
}

.sales-state-content ul {
	list-style: none;
}

.sales-state-content-purchase li,.sales-state-content-sale li {
	padding-left: 1px;
}

.sales-state-content-purchase,.sales-state-content-sale {
	padding: 0px;
	width: 100%;
	height: 90px;
}

.sales-state-content-purchase {
	margin-top: 15px;
}

.sales-state-content-sale {
	margin-top: 4px;
}

.sales-state-content-purchase ul,.sales-state-content-sale ul {
	padding: 0px;
	width: 100%;
	height: 100%;
}

.sales-state-content-purchase-icon,.sales-state-content-sale-icon {
	border-radius: 50%;
	margin-left: 15px;
	margin-right: 15px;
	float: left;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #ffffff;
	font-size: 16px;
}

.sales-state-content-purchase-icon {
	border: 1px solid #3b9bec;
	color: #3b9bec;
}

.sales-state-content-sale-icon {
	border: 1px solid #3b9bec;
	color: #3b9bec;
}

.sales-state-content-purchase-item,.sales-state-content-sale-item {
	width: 116px;
	height: 100%;
	float: left;
	font-size: 12px;
	margin-right: 5px;
}

.notice-title-con {
	height: 20px;
	text-indent:;
	margin-top: 10px;
	border-radius: 2px;
}

.notice-title-con img {
	margin-left: 20px;
}

.notice-title-left {
	margin-left: 20px;
	font-size: 14px;
	color: #333333;
}

.notice-title-right {
	font-size: 12px;
	margin-right: 20px;
}

.notice-list-con {
	position: relative;
	height: 160px;
	width: 240px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

.tab-container {
	width: 700px;
	height: 550px;
	background-color: #fffcf5;
}

.person-journey {
	height: 550px;
	width: 260px;
	background-color: #fffcf5;
}

.pcd-tab {
	width: 680px;
	height: 530px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	margin-top: 10px;
}

.tab-title {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.tab-title ul {
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #e8e8e8;
	margin: 0px;
}

.tab-title li {
	min-width: 80px;
	float: left;
	padding: 10px 10px 5px 10px;
	cursor: pointer;
	border-bottom: 2px solid #ffffff;
	border-top: 2px solid transparent;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	font-size: 12px;
	text-align: center;
	color: #333;
}

.tab-container .tab-content {
	width: 100%;
	display: none;
	position: relative;
	background-color: #fff;
	overflow: auto;
	height: 490px;
}

#tab-son5 {
	display: block;
}

#tab-son1-title {
	border-left: 1px solid transparent;
}

.tab-title ul .active-pcd-tab-item {
    color: #19a2d5;
    padding-bottom: 14px;
    padding-top: 10px;
    border-top: 2px solid #19a2d5;
    border-left-color: #e8e8e8;
    border-right-color: #e8e8e8;
}

.fc-basic-view tbody .fc-row {
	min-height: 2em;
}

.person-journey-title {
	text-align: center;
	width: 100%;
	height: 40px;
}

.scroller {
	background-color: #fff;
	overflow-y: auto;
	height: 100%;
}

.tiles {
	background-color: #bcbcbc;
	color: #fff;
	position: relative;
	min-height: 100px;
	margin-right: auto;
	margin-left: auto;
	width: 95%;
}

.white .tiles {
	background-color: #ffffff;
	color: #8b91a0;
}

.tiles .tiles-body {
	padding: 0px 10px 0px 10px;
}

.tiles {
	background-color: #fff;
	color: #fff;
	position: relative;
	min-height: 100px;
	margin-right: auto;
	margin-left: auto;
	width: 95%;
}

.notification-messages {
	font-family: Microsoft YaHei;
	/* background-color: #eef9f8; */
	background-color: #ddeeff;
	padding: 10px 10px 10px;
	display: block;
	color: #8b91a0;
	margin-bottom: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	height: 65px;
	-webkit-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
	position: relative;
}

.notification-messages:hover {
	background-color: rgba(221, 238, 238, 0.5);
}
/* .notification-messages:hover .message-wrapper .heading{
	color:#fff;
}
.notification-messages:hover .message-wrapper .description{
	color:#fff;
}
.notification-messages:hover .date{
	color:#fff;
} */
.msg-close {
	position: absolute;
	top: 10px;
	right: 10px;
}

.notification-messages .message-wrapper { /* display: inline-block; */
	width: 100%;
	height: 40px;
}

.notification-messages .date { /* display: inline-block; */
	position: absolute;
	right: 25px;
	bottom: 10px;
	color: #999;
	text-align: right;
	font-size: 11px;
	line-height: 15px;
	font-style: italic;
	opacity: 1;
	/* float: left; */
	-webkit-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}

.notification-messages .message-wrapper .heading {
	text-align: center;
	color: #666;
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
	width: 100%;
	margin: 0;
	line-height: 19px;
	font-weight: 600;
	-webkit-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}

.notification-messages .message-wrapper {
	width: 100%;
	height: 40px;
	overflow: hidden;
	-webkit-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}

.notification-messages .message-wrapper.read .description {
	white-space: normal;
}

.notification-messages .message-wrapper .description {
	font-weight: normal;
	text-indent: 2em;
	margin-top: 5px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 100%;
	-webkit-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
/* html,body {
	padding: 0px;
	margin: 0px;
	color: #000000;
	font-family: Microsoft YaHei;
	font-size: 12px;
	padding: 0px !important;
	margin: 0px !important;
	line-height: 1.5;
	font-style: normal;
	font-weight: normal;
} */

.showmore {
	height: 35px;
	cursor: pointer;
	tetx-align: center;
}
.showmore .handle {
	display: block;
	height: 35px;
	text-align: center;
	color: #909090;
	font-size: 14px;
	text-decoration: none;
	line-height: 35px;
	margin: 0px 10px 0px 10px;
	background-color: #f9f9f9;
}

.showmore .handle:hover {
	text-decoration: none;
	background: #e6e6e6;
}

.checkbox input[type=checkbox]:checked+label::after {
	font-family: 'FontAwesome';
	content: <i class="fa fa-check"/>;
}

.fGuide {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999;
}

.fGuide.validate {
	z-index: 1000;
}

.fGuide.validate_bg {
	background-color: #000;
	opacity: 0.4;
	filter: alpha(opacity = 40);
}

#tab_con1{
	width: 100%;
	height: 100%;
	border: 1px solid #DDDDDD;
	padding-right: 1px;
	border-bottom:none;
	border-left: none;
	border-right: none;
}
.tab-title-list{
	width: 120%;	
}
.tab-title-list, .tab-content-list{
	margin: 0px;
	padding: 0px;
	list-style: none;
	background-color: #fff;
}
.tab-title-item{
	display: inline-block;
	width: 20%;
	height: 30px;
	text-align: center;
	font-size: 12px;
	line-height: 30px;
	border: 1px solid #ddd;
	overflow: hidden;
	float: left;
	cursor: pointer;
	margin-top: -1px;
	margin-right: -1px;
	border-bottom-color: transparent;
 	position: relative;
}
.tab-content-list{
    width: 100%;
    height: 190px;
    border: 1px solid #43c8d0;
    padding-top: 10px;
}
.tab-title-list .active{
	border-color: #43c8d0 !important;
	overflow: visible;
	z-index: 20;
}
.tab-title-list .active div {
    z-index: 10;
    background-color: #fff;
    padding-bottom: 1px;
    height: 100%;
    padding-bottom: 6px;
}
#tab_con1 .tab-content-list{
	overflow:hidden;
}
.gl-ads {
    width: 90%;
    margin-left: 6%;
    overflow: hidden;
    margin-top: 50px;
    padding-top: 1px;
    padding-left: 1px;
}
.gl-ad {
    width: 45%;
    padding: 1%;
    float: left;
    border: 1px solid #ccc;
    margin-left: -1px;
    margin-top: -1px;
    height: 85px;
}
.gl-ad img{
	width:96%;
	margin:auto;
	height:96%;
}

