html{
	background-color:#eeeeee;
}
.body{
	width:100%;
	height:auto;
	overflow:hidden;
	margin:0px;
	padding:0px;
	background-color:#eeeeee;
}
div,ul,li{
	font-family:Microsoft YaHei;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
a{
	cursor:pointer;
}
.span{
	font-family:Microsoft YaHei;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.head{
	position:fixed;
	left:0;
	z-index:10;
	width:100%;
	height:100px;
	box-shadow: 2px 2px 10px #888888;
	background: #4f5914 url(../../index/img/background/person-title-2.png) no-repeat center;
	margin-bottom:20px;
	/* overflow: hidden; */
}
.head .head-bell{
	left:0;
	position: absolute;
    width: 100%;
}
.head .user-msg{
	position: relative;
    background-color: #fff;
    width: 800px;
    margin: 0 auto;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 2px 2px 10px #888888;
}
.head .user-msg .user-ms-notRead{
	width:100%;
}
.head .user-msg .user-ms-notRead li{
	border-bottom:1px solid #ddd;
	overflow:hidden;
	width:100%;
}
.head .user-msg .user-ms-notRead li .left-title{
	float:left;
	width:20%;
	padding:20px;
	text-align:center;
	border-right:1px dotted #ddd;
	white-space: nowrap;
    overflow: hidden;
}
.head .user-msg .user-ms-notRead li .left-content{
	float:left;
	width:69%;
	padding:20px;
	text-align:center;
	white-space: nowrap;
    overflow: hidden;
}
.head .user-msg .msg-title{
	width: 100%;
	*width:700px;
    height: 40px;
    background-color: #edf0f7;
    padding: 8px 50px;
    color: #647892;
}
.head .bell{
	width: 70px;
    height: 30px;
    position: relative;
    left: 50%;
    background-color: #fb6621;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #fff;
    margin-left: -40px;
    cursor:pointer;
}
.head .bell:hover{
	background-color: #fb6621;
}
.head .bell i{
	font-size:18px;
	margin-left:17px;
}
.head .bell span{
	font-size: 18px;
    margin-left: 5px;
}
.head .infor{
	width:1000px;
	margin:5px auto;
}
.head .infor .user_image{
	height: 85px;
    border-radius: 50%;
    float:left;
    border: 2px solid #afafaf;
    overflow: hidden;
}
.head .infor .user_infor{
	float:left;
	margin: 25px 0 5px 35px;
    color: #fff;
    font-size: 16px;
}
.head .infor .user_infor .bottom{
    margin-top: 15px;
    font-size: 12px;
}
.head .infor .user_infor .bottom span{
	font-size:12px;
	float:left;
}
.head .infor .user_infor .bottom .user_id:hover{
	text-decoration:underline;
	cursor:pointer;
}
.head .infor .user_infor .bottom .circle{
	float: left;
    margin-left: 10px;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    border: 1px solid #fff;
    margin-top: 1px;
    padding: 0px 4.5px;
    cursor:pointer
}
.head .infor .user_infor .bottom .circle i{
   font-size: 14px;
   line-height: 16px;
}
.head .infor .user_infor .bottom .divison{
	margin-left:30px;
	margin-right:30px;
}
.content{
	width:1000px;
	position:relative;
	margin:0 auto;
	margin-bottom:70px;
	margin-top:120px;
	*top:130px;
	/* background-color:#fff; */
}
.content .li_content{
	float:left;
	display:none;
	position:relative;
	width:100%;
	/* min-height:500px; */
	/* margin-bottom:60px; */
}
.content .li_content .row{
	position:relative;
	width:100%;
	overflow:hidden;
	border:1px solid #e1e1e1;
	min-height:200px;
	margin:0 auto;
	background-color:#fff;
	padding: 10px 0;
}
.content .li_content .back{
	position:absolute;
	top: 100px;
    left: 30px;
}
.content .li_content .step3{
	top: 150px;
    left: 130px;
}
.content .li_content .step4{
	top: 120px;
    left: 130px;
}
.content .li_content .step5{
    top: 140px;
    left: 100px;
}
.content .li_content .step6{
    top: 140px;
    left: 100px;
}
.back i{
	font-size:60px;
	color:#08c;
	cursor:pointer;
}
.content .li_content .row .layout-th div{
	font-size:14px;
	font-family:Microsoft YaHei;
}
.content .li_content .row .item-label{
	font-size:14px;
	font-family:Microsoft YaHei;
}
.content .li_content .row .modify{
	
}
.content .li_content .row .modify span{
	float:left;
	color:#08c;
	margin-left:10px;
	cursor:pointer;
}
.content .li_content .row .crack_ul{
	width: 400px;
    /* height: 180px; */
    background-color: #f5f5f5;
    padding: 10px 20px;
    overflow: hidden;
}
.content .li_content .row .crack_ul li{
	overflow: hidden;
	float: left;
    position: relative;
    height: 50%;
    width:50%;
    *width:40%;
    padding: 0 0 0 45px;
}
.content .li_content .row .crack_ul li i{
    position: absolute;
    font-size: 40px;
    color: #47a8ef;
    top: 0px;
    left: 2px;
}
.content .li_content .row .crack_ul li h3{
	font-size:14px;
}
.content .li_content .row .crack_ul li p{
	font-size:12px;
	color:#999;
	white-space: nowrap;
}
.content .li_content .row .crack_ul li a{
	color:#08c;
}
.content .li_content .row .crack_ul .non_dis *{
	display:none;
	float:left;
}
.content .li_content .row .select_tab{
	float:left;
	width:100%;
	padding: 0 20px;
	overflow:hidden;
	margin-top:20px;
	margin-bottom:30px;
}
.content .li_content .row .select_tab li{
	height: 80px;
    border-bottom: 1px solid #ededed;
}
.content .li_content .row .select_tab li > div{
	overflow:hidden;
	float:left;
	height:100%;
}
.content .li_content .row .select_tab li .left{
	width:300px;
}
.content .li_content .row .select_tab li .left span{
	display: inline-block;
    margin-top: 30px;
    margin-left: 50px;
    font-size: 14px;
}
.content .li_content .row .select_tab li .left i{
	margin-left: 5px;
    margin-right: 20px;
    color: #08c;
    font-size: 14px;
}
.content .li_content .row .select_tab li .desc{
    margin-top: 30px;
    color: #999;
}
.content .li_content .row .select_tab li a{
    margin-top: 30px;
    *margin-top: -15px;
    margin-right: 30px;
    float: right;
    color:#08c;
}
.inline{
	display:inline-block
}
.content #content_1{
	display:block
}
/* 密码修改的css */
            .alter-key{
        	    width:100%;
        	}
        	.logo{
        	    width:800px;
        	    margin: 10px auto;
        	}
        	
        	.logo > div > h1 {
			    font-size: 20px;
			    font-weight: 500;
			}
        	
        	.logo .line{
			    border-bottom: 1px solid #00bbcc;
			    height: 40px;
			}
        	.logo .sms{
        	    width: 326px;
                margin: 0 auto;
                overflow:hidden
        	}
        	.logo .inline{
        	    display: inline-block;
        	}
        	.logo .left_text{
        	    width: 70px;
                text-align: right;
                color: #333;
                font-size: 14px;
        	}
        	.logo .right_buttom{
        	    margin-left: 3px;
                border: 1px solid #d6e5f2;
                color: #005bab;
                background: #ebf5ff;
                width: 70px;
                height: 22px;
                text-align: center;
                padding: 3px;
                cursor:pointer;
        	}
        	.layout-form {
			    background-color: transparent;
			    -webkit-box-shadow: none;
			    -moz-box-shadow: none;
			    -o-box-shadow: none;
			    -ms-box-shadow: none;
			    box-shadow: none;
			}
			        	
    		.login_btn {
			    color: #ffffff;
			    border: solid 0px #0076a3;
			    background-color: #3ba2c0;
			    cursor: pointer;
			    border-radius: 2px;
			    float: right;
			    width: 80px;
			    height: 26px;
			    letter-spacing: 4px;
			    margin:0 25px 0 50px;;float:left
			}
			.alter-key .item-wrap, .alter-key .item-textField {
			    /* width:250px;
			    height: 30px; */
			}
		 	.alter-key .item-invalid{
			    background-color: #fff6f4;
			    border-color: #aabbcc;
			}
			.alter-key .item-notBlank {
			    border-color: #aabbcc;
			    background-color: #fffcee;
			}
			.alter-key .layout-th div {
			    color: #333;
			    font-size: 14px;
			    text-align: right;
			    padding-left: 5px;
			    padding-right: 5px;
			}
			.alter-key .login_btn {
			    width: 100px;
			    height: 32px;
			}
			.alter-key .login_btn:hover {
			    background-color:#5fb4ce;
			}
/* 截止，密码修改css */
#content_3 > div,#content_4 > div{
	display:none
}
.li_content .query{
	position: relative;
    width: 628px;
    padding: 30px;
    margin:0 auto;
    margin-top: 30px;
    border: 1px solid #E8E8E8;
    box-shadow: 0 0 1px #f4f4f4;
    background-color: #fff;
    cursor: pointer;
}
.li_content .tips{
	position: relative;
    width: 628px;
    padding: 30px;
    margin: 0 auto;
    padding: 20px 30px;
    overflow: hidden;
    box-shadow: 0 0 1px #f4f4f4;
    border: 1px solid #E1E1CA;
    background-color: #EDFED0;
}
.li_content .tips .warn{
	background-image:url(../../index/img/background/person1.png);
	background-position: -386px -252px;
	width: 32px;
    height: 32px;
    float:left;
}
.li_content .tips span{
	margin-left: 20px;
    margin-top: 5px;
    float: left;
    font-size:16px;
}
.li_content .query:hover{
	border: 1px solid #8c8c8c;
}
.li_content .query p{
	font-size:18px;
}
.li_content .query span{
	font-size:14px;
	color:#989898;
}
.li_content .query i{
    position: absolute;
    float: right;
    font-size: 60px;
    color: #c9c9c9;
    right: 40px;
    top: 15px;
}
.li_content .query_method{
	width: 628px;
	*width:688px;
	margin: 0 auto;
	overflow:hidden;
	display:none;
	position:relative;
}
.li_content .query_method li{
	width:100%;
	*width:646px;
	overflow:hidden;
	padding:20px;
	background-color: #f7f9fc;
    border:1px solid #efefef;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.li_content .e_query li{
	margin-bottom:20px;
}
.li_content .query_method li:hover{
	border:1px solid #91b3cd;
}
.li_content .query_method li .left{
	float:left;
}
.li_content .query_method li .right{
	float:right;
}
.li_content .query_method li .icon{
	width:50px;
	height:50px;
	background-image:url(../../index/img/background/person1.png);
	background-position: -52px -104px;
}
.li_content .query_method li .mail_pic{
	width: 50px;
    height: 50px;
    background-position: 0 -104px;
}
.li_content .query_method li .text{
	margin-left:20px;
}
.li_content .query_method li .text p{
	font-size:16px;
	color:#4d4d4d;
}
.li_content .query_method li .text span{
	font-size:12px;
	color:#888;
}
.li_content .query_method li .btn{
	margin: 15px 30px;
}
.li_content .process{
	width:800px;
	overflow:hidden;
	margin: 0 auto;
}
.li_content .process li{
	position:relative;
	float:left;
	margin-right: 320px;
	*margin-right:300px;
}
.li_content .emai_li li{
	width:52px;
	margin-right: 190px;
}
.li_content .process li .icon{
	width: 30px;
	*width:8px;
    height: 30px;
    *height:22px;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 5px 13px;
    color:#fff;
	background-image:url(../../index/img/background/person1.png);
}
.li_content .process li .on{
	background-position:-430px -130px;
}
.li_content .process li .non{
	background-position: -568px -100px;
}
.li_content .process li .ok{
	background-position: -463px -130px;
}
.li_content .process li span{
	white-space: nowrap;
	color: #f16f20;
}
.li_content .process li .line{
	position: absolute;
    width: 320px;
    *width:300px;
    height: 3px;
    background-color: #b9b9b9;
    left: 45px;
    top: 14px;
    display: block;
    line-height: 1;
    overflow: hidden;
}
.li_content .emai_li li .line{
	width: 194px;
}
.li_content .step_process{
	position:relative;
	width:900px;
	height:auto;
	*width:838px;
	*height:235px;
	overflow:hidden;
	padding:30px;
	margin:30px auto 0;
	*margin-top:0;
    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 1px;
    box-shadow: 1px 1px 2px #f0f0f0;
}
.li_content .step_process .box_tips{
	width:100%;
	display: block;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.pic1{
	background-image:url(../../index/img/background/person1.png);
}
.box_tips .ii{
	width: 14px;
    height: 14px;
    margin-top: 3px;
    vertical-align: top;
    margin-right: 8px;
    display: inline-block;
    zoom: 1;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: -480px -298px;
}
.li_content .step_process .main_process{
	width:100%;
	overflow:hidden;
}
.inline{
    display: inline-block;
}
.main_process .left_text{
    width: 67px;
    text-align: right;
    color: #333;
    font-size: 14px;
}
.main_process .right_buttom{
    margin-left: 3px;
    border: 1px solid #d6e5f2;
    color: #005bab;
    background: #ebf5ff;
    width: 70px;
    height: 22px;
    text-align: center;
    padding: 3px;
    cursor:pointer;
    line-height:20px;
}
.main_process .layout-th div{
	font-size: 14px;
    font-family: Microsoft YaHei;
}
.main_process .em_sh{
	overflow: hidden;
    margin-left: 250px;
	margin-top:30px;
}
.main_process .em_sh .em{
	height: 25px;
    width: 34px;
	float:left;
	margin-top: 5px;
	background-position: -532px -100px;
}
.main_process .em_sh > div{
	margin-left: 20px;
    float: left
}
.main_process .em_sh > div p{
	font-size: 16px;
    font-weight: bold;
}
.main_process .btn_w{
	background-position: -432px -66px;
    height: 31px;
    width:87px;
    float:left;
    margin: 0px 0 0 370px;
    cursor:pointer;
}
.main_process .se_back{
	float: left;
    margin: 5px 0 0 10px;
    color:#08c;
    cursor:pointer;
}
.main_process .btn{
	color: #fff;
    padding: 0 22px;
    background-color: transparent;
    background-repeat: no-repeat;
    line-height: 31px;
    height: 31px;
    background-position: right -676px;
}
.user-role-div{
	width:650px;
	margin:0 auto;
	box-shadow: 2px 2px 10px #888888;
	background-color:#fff;
}
.user-role-div .role-title{
	border-bottom: 4px solid#2dc3e8;
    padding: 3px;
}
.user-role-div .role-contnet{
	padding: 15px;
}
#sys_user_role_assign_grid,#sys_user_company_grid{
	padding: 20px;
	padding-top:5px;
    /* border: 1px solid #e1e1e1; */
    width: 100%;
    background-color: #f5f5f5;
}
#sys_user_role_assign_grid li,#sys_user_company_grid li{
	margin-top: 15px;
    background-color: #fff;
    position:relative;
    /* padding: 10px; */
    text-align: center;
    display: block;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
    /* overflow:hidden; */
}
#sys_user_role_assign_grid li .role-content,
#sys_user_company_grid li .role-content{
	border-right:1px solid #eee;
	padding: 10px 5px;
	float:left;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#sys_user_role_assign_grid li .check-img,
#sys_user_company_grid li .check-img{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #fff;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    top: 7px;
    right: -13px;
    padding: 2px;
    cursor:pointer;
}
#sys_user_role_assign_grid li .check-img.gray > div,
#sys_user_company_grid li .check-img.gray > div{
	background-color: #ccc;
}
#sys_user_role_assign_grid li .check-img > div,
#sys_user_company_grid li .check-img > div{
	border-radius: 50%;
    background-color: #2dc3e8;
    height: 19px;
	line-height: 19px;
}
/* 尾部 */
.foot{
	position:fixed;
	bottom:0;
	width:100%;
	height: 50px;
	background-color:#333333;
	z-index: 10;
}
.foot .cont{
	width:1000px;
	margin:0 auto;
	height:100%;
	position:relative;
}
.foot .cont .default_trig{
    height: 65px;
    width: 80px;
    position: absolute;
    top: -15px;
    background-color: #271d1a;
    color: #fff;
    padding: 2px 14px;
}
.foot .cont .default_trig i{
	font-size: 36px;
    margin-left: 9px;
}
.foot .cont .left{
	float:left
}
.foot .cont .right{
	float:right;
}
.foot .cont .default_trig div{
	margin-top: 0px;
}
.foot .cont .function{
    position: relative;
    margin: 0;
    margin-left: 100px;
    overflow: hidden;
    height: 100%;
    padding:2px 0;
}
.function li{
	height:100%;
	float: left;
	color:#c7c7c7;
	border-radius: 5px;
    padding: 0 8px;
    cursor:pointer;
}.function li:hover{
	background-color:#000;
}
.function li img{
	height:42px;
	float:left;
}
.function li span{
	float: left;
	margin-left:5px;
    line-height: 50px;
    font-size:14px;
    font-family:Microsoft YaHei;
}
.foot .cont .triggle{
	float:right;
	width:60px;
	height:100%;
	padding:5px 10px;
	background-color:#262525;
	cursor:pointer;
}
.foot .cont .triggle > div{
	width: 40px;
    height: 40px;
    border: 1px solid #6F6363;
    border-radius: 50%;
}
.foot .cont .triggle i{
	color: #CEB9B9;
    font-size: 28px;
    margin-left: 10px;
    line-height: 35px
}
.bottom-desc{
	position:relative;
	width:100%;
	overflow:hidden;
	margin-top: 30px;
	*top:100px;
	margin-bottom:30px;
}
.bottom-desc .bottom-content{
	width:1000px;
	margin:0 auto;
	overflow:hidden;
}
.bottom-content .person-main-link{
	
}
.person-main-link ul{
	overflow:hidden;
	margin:0 auto;
	  width: 650px;
}
.person-main-link ul li{
	border-right: 1px solid#ccc;
    float: left;
    font-size: 12px;
    padding: 0px 15px;
    color:#08c;
    cursor:pointer;
	
}
.hand-copyright{
	text-align:center;
	font-size: 12px;
	margin-top:10px;
}
.content_1 input{
	font-size:14px;
}

/* 新增用登入密码修改手机 */
.phone-modify-password{
	width:100%;
	height:400px;
}