            .ext-mask{
                position:absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
                z-index:20;
                background-color: rgba(168,173,171,0.8);
            }
            .ext-mask .middle{
                position:relative;
                width:50%;
                margin:130px auto;
                text-align:center;
            }
            .ext-mask .middle .text{
                font-size:20px;
                color:#fff
            }
            .ext-mask .middle .img1{
                left:91px;
                width:0px;
                height:167px;
                position:absolute;
                z-index:99;
                background: url("../../index/images/lodading1.png") no-repeat scroll 0% 0%;
            }
            .ext-mask .middle .img2{
                margin:0 auto;
                width:500px;
                height:167px;
                position:relative;
                background: url("../../index/images/loadback.png") no-repeat scroll 0% 0%;
            }
            .ext-mask .line{
                width:100%;
                height:20px;
                /* margin: 250px auto; */
                border-radius: 5px;
                position:relative;
                background-color:#F5F5F5;
                overflow:hidden;
            }
            .ext-mask .progress{
                width:10%;
                font-size:14px;
                height:20px;
                background-color:#3373b7;
                position: absolute;
                color:#fff;
                text-align:center;
                background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
                background-size: 40px 40px;
                -webkit-animation: warning-animation 750ms infinite linear;
	            -moz-animation: warning-animation 750ms infinite linear;
	            animation: warning-animation 750ms infinite linear;
            }
            @-webkit-keyframes warning-animation {
                0% {
                      background-position: 0 0;
                   }
  			  100% {
   				      background-position: 3em 0;
  				   }
			}
            @-moz-keyframes warning-animation {
  	            0% {
                      background-position: 0 0;
                   }
              100% {
                      background-position: 3em 0;
                   }
            }
            @keyframes warning-animation {
                0% {
                      background-position: 0 0;
                   }
              100% {
                      background-position: 3em 0;
                   }
            }