<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>可拖拽的组件</title>
<link rel="stylesheet" href="handReceiveFairComponent.css" type="text/css" />
<link rel="stylesheet" href="handdraggablecomponent.css" type="text/css" />
<link rel="stylesheet" href="font-awesome-4.3.0/css/font-awesome.min.css" type="text/css" />
</head>
<body>
    <div style="width:800px;">
    <div name="handdraggablecomponent" needControl="true">
        <div name="column">
            <div name="handReceiveFairComponent" title_text="报表" color="red" closeFunc="closeFun()" style="opacity:1;">
                <div id="rpt1010_columnRow_content_11">
                    这是一个可以拖拽的组件哦！我是组件11
                </div>
            </div>
            <div name="handReceiveFairComponent" title_text="报表" color="yellow" closeFunc="closeFun(0,1)" style="opacity:1;">
                <div id="rpt1010_columnRow_content_12">
                 这是一个可以拖拽的组件哦！我是组件12
				 <!-- <div style="width:100%;height:100px">123</div> -->
                </div>
            </div>
            <div name="handReceiveFairComponent" title_text="报表" color="green" closeFunc="closeFun(0,2)" style="opacity:1;">
                <div id="rpt1010_columnRow_content_13" class="widget_body">
                    这是一个可以拖拽的组件哦！我是组件13
                </div>
            </div>
        </div>
        <div name="column">
            <div name="handReceiveFairComponent" title_text="报表" color="purple" closeFunc="closeFun(1,0)" style="opacity:1;">
                <div id="rpt1010_columnRow_content_21">
                    这是一个可以拖拽的组件哦！我是组件21
                </div>
            </div>
            <div name="handReceiveFairComponent" title_text="报表" color="blue" closeFunc="closeFun(1,1)" style="opacity:1">
                <div id="rpt1010_columnRow_content_22" >
                    这是一个可以拖拽的组件哦！我是组件22
                </div>
            </div>
            <div name="handReceiveFairComponent" title_text="报表" color="black" closeFunc="closeFun(1,2)" style="opacity:1">
                <div id="rpt1010_columnRow_content_23">
                    这是一个可以拖拽的组件哦！我是组件23
                </div>
            </div>
        </div>
    </div>
	</div>
<script src="handReceiveFairComponent.js" type="text/javascript"></script>	
<script src="handdraggablecomponent.js" type="text/javascript"></script>

</body>
</html>