html,body{
	width: 100%;
}

.hand-main-content{
    overflow: hidden;
    background-color: #fff;
    /* min-height: 1500px; */
    /* border: 1px solid #e5e5e5; */
    box-shadow: 2px 2px 10px #888888;
    font-family: Microsoft YaHei;
    height: 100%;
}
.win-content{
	overflow: hidden;
}
.configs-container{
	width:1230px;
	margin: auto;
}
.item-div{
	width: 100%;
	height:350px;
	overflow:hidden;
	position:relative;
}
.item-ul{
	position:relative;
	overflow:hidden;
}

.enable-text{
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    margin-top: 10px;
    width: 100%;
    text-align: center;
}
.handPlayMoveLi{
	height:350px;
	float:left;
	text-align: center;
}
.handPlayMoveImg{
	width: 350px;
	height:350px;
	max-width: 1200px;
}
.sections{
	width: 350px;
	height:60px;
	position:relative;
	margin:30px auto;
}
.section {
    overflow:hidden;
    width: 100%;
    float: left;
    margin-right:10px;
    /* border: 1px solid #e1e1e1; */
}
.section:nth-child(even) img {
    float:right;
}
.config-img-con .add-new{
	text-align: center;
	line-height: 62px;
	float:right;
}
.home-config-list{
	width:100%;
}
.config-img-con{
    overflow: hidden;
    margin-left:0px;
    width: 60px;
    height: 60px;
    float: left;
    border: 1px solid #ccc;
    position: relative;
    left: 2px;
    /* border-radius:6px; */
}
.icon-2x{
	font-size: 1.5em;
    position: absolute;
    left: 20px;
    top: 10px;
    display:none;
}
#logo-div .config-img-con{
	width:230px;
	height:100px;
	position:relative;
	left:0px;
}
.config-img-con img{
	width: 60px;
	height: 60px;
}	
	
.config-title{
	font-size:16px;
}
.config-declare{
	font-size:12px;
	margin-left: 20px;
	color: #999;
}
.input-file {
    position: relative;
    /* height: 28px;
    width: 100px; */
    float: left;
    /*margin-top: 70px;
    margin-left: 20px; */
    cursor: pointer;
}

 		
.input-file input {
    opacity: 0;
    width: 60px;
    height: 60px;
    position: absolute;
    z-index: 3;
    cursor: pointer;
}
#logo-div input{
	width:230px;
	height:100px;
}
.input-file .cut-btn{
	top: -60px !important;	
}
.btn-div{
	height: 30px;
	margin-top:20px;
	margin-bottom: 10px;
	position:relative;
}
.url-input{
	float: left;
	width: 300px;
    height: 60px;
    margin-left:50px;
    line-height: 60px;
}
.url-input input{
	height: 20px;
	border: 0;
    border-bottom: 1px solid #e1e1e1;
	
}
.enable-btn{
    border: 0px;
    width: 100px;
    position: absolute;
    z-index: 3;
    /* margin-left: 200px; */
    /* margin-top: 10px; */
    border-radius: 2px;
    height: 30px;
    background-color: #19a2d5;
    color: #eee!important;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    top: 0;
    right: 0;
}
.enable-btn:hover{
	background-color: #28bde6;
}
.save-btn{
	float:left;
	border:0px;
    width: 10%;
    /* display: none; */
    position:relative;
    z-index: 3;
    /* margin-top:55px;
    margin-left:130px; */
    border-radius: 2px;
    height: 24px;
    background-color: #19a2d5;
    color: #eee!important;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
}
.config-img-btn{
	position: absolute;
    width: 60px;
    display: none;
    z-index: 3;
}
#logo-div .config-img-btn{
	width:230px !important;
	height:100px !important;
}
#logo-img{
	width:230px;
	height:100px;
}
.upload_btn{
	line-height: 150px;
    width: 60px;
    height: 60px;
    text-align: center;
}
#logo-div .upload_btn{
	width:230px;
	height:100px;
	line-height:100px;
	cursor:pointer;
	position:relative;
}
.config-img-cover{
    overflow: hidden;
    position:absolute;
    width: 60px;
    height: 60px;
    float: left;
    z-index:0;
    border: 0;
    display: none;
    opacity: 0.4;
    background-color:#000;
}
#logo-div .config-img-cover{
	width:230px !important;
	height:100px !important;
	cursor:pointer;
}
.config-icon{
	width: 300px;
    height: 150px;
    overflow: hidden;
}
.config-img-con:hover .config-img-cover{
	display:block;
}
.config-img-con:hover .config-img-btn{
	display:block;
}
.handPlayMovie_div:hover .pages-li-btn{
	display:block;
}
.input-file button, .input-file .cut-btn{
    border:0px;
    width: 60px;
    display: block;
    position: absolute;
    z-index: 2;
    left: 0px;
    top: 0px;
    border-radius: 2px;
    height: 24px;
    background-color: #19a2d5;
    color: #eee;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
}
.input-text{
    width: 400px;
    height: 150px;
    margin: 10px  0px 0px 0px;
}
.input-text textarea{
    width: 280px;
    height: 130px;
    overflow: auto;
    border: 1px solid #ccc;
    overflow:auto;
    float: left;
    padding:10px;
}
.input-text textarea:focus{
	border-color:#0090d9;
}
.input-text button{
    border:0px;
	float:left;
    width: 60px;
    display: block;
    z-index: 2;
    left: 0px;
    top: 0px;
    border-radius: 2px;
    height: 24px;
    background-color: #19a2d5;
    color: #eee;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
    margin-left: 20px;
    margin-top:60px;
}
.handPlayMovie_div{
	width: 97%;
	position:relative;
	height:350px;
	top:0px;
	margin:10px auto;
}
.logo-div{
	width:230px;
	position:relative;
	overflow:hidden;
	top:0px;
}

.pages-li{
	width: 30px;
    height: 20px;
    display: inline-block;
    color: #2f3030;
    margin-left: 5px;
    line-height: 20px;
    background-color: #999;
    text-align: center;
    cursor: pointer;
    opacity: 0.6;
    filter: alpha(opacity=60);
    font-size: 12px;
    
}
.pages-li.active .pages-a{
	background-color:#000;
	color:#fff !important;
	opacity:1;
}
#pages{
	height:20px;
	overflow:hidden;
	position:absolute;
	top:310px;
	z-index:10;
}
.pages-a{
	opacity:.6;
	display: inline-block;
    width: 100%;
    color:#fff;
}
.pages-a:hover{
	background-color:#000;
	color:#fff !important;
	opacity:1;
}
.icon-upload-alt{
	position: absolute;
    top: -45px;
    color: #fff;
    font-size: 2em;
    width: 40px;
    height: 40px;
    left: 6px;
}
#logo-div .icon-upload-alt{
	top:0;
	width:80px;
	height:80px;
}

.sections-title{
	font-size:16px;
	margin-top:10px;
}
.edit{
	cursor:pointer;
	color:#00cab3;
}
.pages-li-btn{
	position: absolute;
    width: 50px;
    height: 50px;
    font-size: 30px;
    color: #fff;
    background-color: #adadad;
    opacity: .6;
    top: 150px;
    text-align: center;
    z-index:10;
    border-radius:50%;
    line-height:46px;
    display:none;
}
.pages-li-btn:hover{
    background-color: #8c8c8c;
    color:#fff;
}
.next-btn{
	right:40px;
}
.prev-btn{
	left:40px;
}

/* .win-caption-label div{
	text-align: right;
} */