.main-tab .strip, .item-tab .strip {
    height: 30px;
    white-space: nowrap;
    vertical-align: middle;
    line-height: 30px;
    cursor: default;
    -moz-user-select: none;
    float: left;
}

.item-tab .strip {
    margin: 0px;
}
.main-tab .tab, .item-tab .tab {
    position: absolute;
    left: -10000px;
    top: -10000px;
    outline: none;
}
.main-tab .tab {
    overflow-x: hidden;
}
.item-tab .tab {
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #ffffff;
}
.item-toolbar .item-btn-icon-text div {
    padding-left: 0px;
    background-repeat: no-repeat;
}


.item-tab-strip {
    float:left;
    position:relative;
    z-index:1;
    background-color: #455a70;
    border-bottom: 1px solid #1f3853;
}

.item-tab .item-tab-strip {
    float: left;
    position: relative;
    z-index: 1;
    background-color: transparent;
    border-bottom: 0px;
    height: 30px !important;
    overflow: visible !important;
}

.item-tab-body {
    position:relative;
    /*overflow:hidden;*/
    background-color:#fff;
}
.item-tab-body .tab>div  {
}
.main-tab .active, .item-tab .active {
    position:relative;
}
.strip .strip-left,.strip .strip-right {
    float:left;
    height:100%;
    width:3px;
}
.main-tab .strips-bar {
    background-color: #455a70;
}
.item-tab .strips-bar {
    border-bottom: 2px solid #ddd;
}
.strip-center {
    font-size: 14px;
    color: #fff;
    float: left;
    height: 28px;
    line-height: 30px;
    text-align: center;
    vertical-align: center;
    padding-top: 2px;
}
.item-tab .strip-center {
    color: #444;
}
.item-tab .active .strip-center {
    color: #333;
    border-bottom: 2px solid #19a2d5;
    background-color: #fff;
    color: #19a2d5;
}
.main-tab .unactive .strip-center {
    color: #f9f9f9;
}
.item-tab .unactive .strip-center {
    color: #666;
}
.tab-prompt {
    float: left;
    padding: 0px 0px 0px 10px;
}
.tab-close {
    float:left;
    width:11px;
    height:11px;
    padding: 0px 0px 0px 5px;
    cursor:pointer;
    visibility:hidden;
}
.tab-close {
    color: #fff;
}
.main-tab .active .tab-close {
}
.tab-btn-over {
    background-position:0 -11px;
}
.main-tab .active .tab-btn-over {
    background-position:-11px -11px;
}
.tab-btn-down {
    background-position:0 -22px;
}
.main-tab .active .tab-btn-down {
    background-position:-11px -22px;
}
.tab-scroll {
    width:18px;
    background:url(../tab/scroll.gif);
    float:left;
    position:relative;
    top:1px;
    z-index:1;
    height:26px;
    margin-top:4px;
}
.tab-scroll-left {
    background-position:-17px 0;
}
.tab-scroll-right {
    background-position:0 -27px;
}
.tab-scroll-left-over {
    background-position:0 0;
}
.tab-scroll-right-over {
    background-position:-17px -27px;
}
.scroll-disabled {
    opacity:.5;
    filter:alpha(opacity=50);
}
