           .handRecFairCp_widget{
               position:relative;
               z-index:1;
               display:block;
               width:100%;
			   margin:0px auto 20px auto;
			   min-width:100px;
               top:0;
               left:0;
               /* overflow:hidden; */
			   font-family:Microsoft YaHei;
			   -moz-user-select: none; 
               -webkit-user-select: none; 
               -ms-user-select: none; 
			   box-sizing: border-box;
	           -moz-box-sizing:border-box;
               -webkit-box-sizing:border-box;
           }
           .handRecFairCp_widget div{
               position:relative;
               box-sizing: border-box;
	           -moz-box-sizing:border-box;
               -webkit-box-sizing:border-box;
           }
		   .handRecFairCp_widget_title{
               position:relative;
               color:#fff;
               height:36px;
               width:100%;
               float:left;
               /* cursor:move; */
               top:0;
               left:0;
           }
           .handRecFairCp_widget.red{
               border:1px solid #DE577B
           }
           .handRecFairCp_widget.yellow{
               border:1px solid #FFB400
           }
           .handRecFairCp_widget.green{
               border:1px solid #74B749
           }
           .handRecFairCp_widget.purple{
               border:1px solid #9D4A9C
           }
           .handRecFairCp_widget.blue{
               border:1px solid #1B76AD
           }
           .handRecFairCp_widget.black{
               border:1px solid #404040
           }
           .handRecFairCp_widget.light_blue{
               border:1px solid #59c2e6
           }
           .handRecFairCp_widget.white{
               border:1px solid #fff
           }
		   .handRecFairCp_widget.red .handRecFairCp_widget_title{
               background-color:#DE577B;
           }
           .handRecFairCp_widget.yellow .handRecFairCp_widget_title{
               background-color:#FFB400;
           }
           .handRecFairCp_widget.green .handRecFairCp_widget_title{
               background-color:#74B749;
           }
           .handRecFairCp_widget.purple .handRecFairCp_widget_title{
               background-color:#9D4A9C;
           }
           .handRecFairCp_widget.blue .handRecFairCp_widget_title{
               background-color:#1B76AD;
           }
           .handRecFairCp_widget.black .handRecFairCp_widget_title{
               background-color:#404040;
           }
           .handRecFairCp_widget.light_blue .handRecFairCp_widget_title{
               background-color:#59c2e6;
           }
           .handRecFairCp_widget.white .handRecFairCp_widget_title{
               background-color:#fff;
               color:#4e5e6e;
           }
           /* 如果设置为白色背景时字体设为#4e5e6e */
           .handRecFairCp_widget.white .handRecFairCp_widget_body{
               background-color:#fff;
           }
		   .handRecFairCp_widget_title .title_left{
               float:left;
               font-size:14px;
               padding:9px 5px 10px 10px;
           }
           .handRecFairCp_widget_title .title_left i{
               display:inline-block
           }
           .handRecFairCp_widget_title .title_left div{
               display:inline-block;
               margin-left:10px
           }
           .handRecFairCp_widget_title .title_right{
               float:right;
               padding:11px 5px 11px 10px;
               cursor:pointer
           }
           .handRecFairCp_widget_title .title_right .widget-btn-b{
               padding: 0 7px;
               height: 22px;
               line-height: 22px;
               background-color: #19a2d5;
               color: #fff;
               border-radius: 2px;
               cursor:pointer;
           }
           .handRecFairCp_widget_title .title_right .widget-btn-b:hover{
               background-color:#27B1E4;
           }
           .handRecFairCp_widget_title .title_right > i{
               margin-right:8px;
               font-size:14px
           }
		   .handRecFairCp_widget_title .title_right > ul{
		       position:absolute;
			   z-index:99;
			   display:none;
			   width:120px;
			   border:1px solid rgba(0, 2, 1, 0.2);
			   top: 30px;
			   right:13px;
			   background-color:#fff;
			   color:#000;
			   list-style: outside none none;
			   margin:0;
			   padding:0
		   }
		   .handRecFairCp_widget_title .title_right > ul li{
		       height:20px;
			   line-height:20px;
			   text-align:left;
			   font-size:14px;
			   font-family:Microsoft YaHei;
			   padding-left:10px;
			   padding-right:10px;
		   }
		   .handRecFairCp_widget_title .title_right > ul li:hover{
		       background-color:#eeeeee;
			   /* color:#fff; */
		   } 
           .handRecFairCp_widget_body{
               /* *overflow:hidden; */
               overflow:hidden;
               float:left;
               width:100%;
               background-color:#fff;
			   font-family:Microsoft YaHei;
			   font-size:14px;
			   text-align:left;
           }