.order .order-item{
    width: 100%;border-bottom: 1px dashed #ddd;height: 30px;
}
.order .order-item .order-item-left{
    float: left;width: 40%;height: 30px;line-height: 30px;
}
.order .order-item .order-item-right{
    float: left;width: 60%;height: 30px;
}
.order .order-item .order-item-right input{
    width: 100%;border: none;height: 30px;
}