<?xml version="1.0" encoding="UTF-8" ?>
<hollyhock-cache:hollyhock-cache-provider xmlns:hollyhock-cache="aurora.plugin.hollyhock.cache" xmlns:cache="aurora.application.features.cache" cacheName="JinkoRfaOnlineCache" key="${@coop_company_id}_${@rfx_header_id}" type="object" refreshBM="cux.JINKO.PUR.JKPUR5230.jk_pur_rfx_feedback_online_cache" cacheDesc="晶科竞标报价在线状态">
</hollyhock-cache:hollyhock-cache-provider>