<?xml version="1.0" encoding="UTF-8" ?>
<hollyhock-cache:hollyhock-cache-provider xmlns:hollyhock-cache="aurora.plugin.hollyhock.cache" xmlns:cache="aurora.application.features.cache" cacheName="JinkoRfaRankCache" key="${@rfx_header_id}_${@rfx_line_item_id}" groupByFields="rfx_header_id,rfx_line_item_id" type="recordSet" refreshBM="cux.JINKO.PUR.JKPUR5230.jk_pur_rfx_feedback_rfa_record_cache" cacheDesc="晶科竞标排名">
</hollyhock-cache:hollyhock-cache-provider>