<?xml version="1.0" encoding="UTF-8" ?>
<!-- <period-mode-cache-provider xmlns="aurora.application.features.cache" refreshInterval="3600000" refreshProc="init.load_role_service" cacheName="RoleServiceAccess" cacheDesc="功能分配">
</period-mode-cache-provider> -->
<!-- <period-mode-stateful-cache-provider xmlns="aurora.plugin.uncertain.cache" refreshInterval="3600000" refreshProc="init.load_role_service" cacheName="RoleServiceAccess" cacheDesc="功能分配">
</period-mode-stateful-cache-provider> -->
<!-- <hollyhock-cache:hollyhock-cache-provider xmlns:hollyhock-cache="aurora.plugin.hollyhock.cache" refreshInterval="3600000" refreshProc="init.load_role_service" cacheName="RoleServiceAccess" cacheDesc="功能分配"> -->
<!-- </hollyhock-cache:hollyhock-cache-provider> -->
<hollyhock-cache:hollyhock-cache-provider xmlns:hollyhock-cache="aurora.plugin.hollyhock.cache" refreshInterval="3600000" loadBM="init.load_role_service_access" key="${@role_service}" type="record" cacheName="RoleServiceAccess" cacheDesc="功能分配">
</hollyhock-cache:hollyhock-cache-provider>