<?xml version="1.0" encoding="UTF-8" ?>
<!-- <period-mode-cache-provider xmlns="aurora.application.features.cache" refreshInterval="3600000" refreshProc="init.load_role_bm" cacheName="RoleBmAccess" cacheDesc="BM分配">
</period-mode-cache-provider> -->
<!-- <period-mode-stateful-cache-provider xmlns="aurora.plugin.uncertain.cache" refreshInterval="3600000" refreshProc="init.load_role_bm" cacheName="RoleBmAccess" cacheDesc="BM分配">
</period-mode-stateful-cache-provider> -->
<!-- <hollyhock-cache-provider xmlns="aurora.plugin.hollyhock.cache" refreshProc="init.load_role_bm" cacheName="RoleBmAccess" cacheDesc="BM分配"> -->
<!-- </hollyhock-cache-provider> -->
<hollyhock-cache:hollyhock-cache-provider xmlns:hollyhock-cache="aurora.plugin.hollyhock.cache" loadBM="init.load_role_bm_access" key="${@role_bm}" type="record" cacheName="RoleBmAccess" cacheDesc="BM分配">
</hollyhock-cache:hollyhock-cache-provider>