<?xml version="1.0" ?>
<!-- <period-mode-cache-provider xmlns="aurora.application.features.cache" refreshInterval="3600000" loadProc="init.load_system_service" cacheName="SystemResourceConfig"
cacheDesc="页面注册">
</period-mode-cache-provider> -->
<!-- <period-mode-stateful-cache-provider xmlns="aurora.plugin.uncertain.cache" refreshInterval="3600000" loadProc="init.load_system_service" cacheName="SystemResourceConfig"
cacheDesc="页面注册">
</period-mode-stateful-cache-provider> -->
<hollyhock-cache:hollyhock-cache-provider xmlns:hollyhock-cache="aurora.plugin.hollyhock.cache" xmlns:cache="aurora.application.features.cache" refreshInterval="3600000" loadBM="sys.sys_service_for_init" key="${@service_name}" type="record" cacheName="SystemResourceConfig"
cacheDesc="页面注册">
	<!-- <eventHandlers> -->
		<!-- <cache:EntityReloadHandler entity="sys_service" topic="dml_event" reloadProc="init.load_system_service" /> -->
	<!-- </eventHandlers> -->
</hollyhock-cache:hollyhock-cache-provider>