<style>
	.col-left {
		margin-left: 0.75rem;
	}
	.icon-circle-message {
		width: 2.5rem;
		height: 2.5rem;
		background-color: #51CCBC;
		border-radius: 50%;
		text-align: center;
		position: relative;
		margin-top: 0.9375rem;
	}
	.icon-circle-bulletin {
		width: 2.5rem;
		height: 2.5rem;
		background-color: #518ECC;
		border-radius: 50%;
		text-align: center;
		margin-top: 0.9375rem;
	}
	.ion-ios-chatbubble-outline {
		position: relative;
		top: 2px;
		font-size: 2.2rem;
		color: #FFFFFF;
	}
	.ion-ios-more {
		position: absolute;
		left: 0.8125rem;
		bottom: 0.625rem;
		font-size: 1.4rem;
		color: #FFFFFF;
	}
	.ion-ios-volume-high {
		position: relative;
		top: 2px;
		font-size: 2.2rem;
		color: #FFFFFF;
	}
	.col-right {
		padding-left: 1.25rem;
		padding-right: 1rem;
	}
	.col-right span {
		font-size: 1rem;
	}
	.col-right .time {
		font-size: 0.75rem;
		color: #999;
	}
	.row-redefined {
		height: 5rem;
	}
	.col-right .message-content {
		height: 2.375rem;
		padding-left: 0.313rem;
		font-size: 0.75rem;
		line-height: 1rem;
		white-space: normal;
		overflow: hidden;
	}
	.item-title {
		display: inline-block;
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.no-data {
		width: 100%;
		height: 2.5rem;
		line-height: 2.5rem;
		text-align: center;
		font-size: 1rem;
		background: #eaeced;
		color: #999999;
	}
</style>
<ion-view view-title="消息列表" ng-controller="messageListController">
	<ion-content>
		<div ng-if="!listItems[0] && hasLoad" class="no-data">没有历史消息记录！</div>
		<ion-refresher pulling-text="下拉刷新" on-refresh="load()"></ion-refresher>
		<ion-list ng-init="initLoad()">

			<ion-item item-height="item.dyHegiht + 80" collection-repeat="item in listItems" ng-click="item.message_type=='BULLETIN'?goMessageListDetail(item):''" class="item item-redefined">
				<div class="item item-divider-redefined" ng-if="item.isFirst">
					{{item.message_date + " " + item.message_day}}
				</div>
				<div class="row row-redefined">
					<div class="col col-10 col-left">
						<div ng-if="item.message_type=='MESSGAE'" class="icon-circle-message">
							<i class="ion-ios-chatbubble-outline"></i>
							<i class="ion-ios-more"></i>
						</div>
						<div ng-if="item.message_type=='BULLETIN'" class="icon-circle-bulletin">
							<i class="ion-ios-volume-high"></i>
						</div>
					</div>
					<div class="col col-90 col-right">
						<div class="row">
							<div class="col col-80">
								<span class="item-title">{{item.title}}</span>
							</div>
							<div class="col col-20 time">{{item.message_time}}</div>
						</div>
						<div class="row">
							<div class="col col-80 message-content" style="color: #999;">
								{{item.contents}}
							</div>
							<div ng-if="item.message_type=='BULLETIN'" class="col col-20" style="text-align: right;color: #999;font-size: 1.5rem;line-height: 1.75rem;"><i class="ion-ios-arrow-right"></i></div>
						</div>
					</div>
				</div>
			</ion-item>
		</ion-list>
		<ion-infinite-scroll on-infinite="loadMore() " ng-if="listItems[0] && hasMoreData " immediate-check="false "></ion-infinite-scroll>
		<div ng-if="!hasMoreData && listItems[0]" class="no-data">没有更多的数据了！</div>
	</ion-content>
</ion-view>