<style>
	.firstRow span.num-small {
		font-size: 80%;
		color: #999;
		border: none;
		padding: 0;
	}
	.tab-item {
		font-size: 1rem !important;
		font-weight: bold;
		line-height: 47px;
	}
	.item-checkbox {
		padding-left: 2.5rem;
	}
	.item-checkbox .checkbox {
		right: auto;
	}
	.btn-search {
		width: 3rem;
		height: 3rem;
		line-height: 3rem;
		border-radius: 50%;
		text-align: center;
		font-size: 1.125rem;
		background: rgba(255, 90, 90, 0.8);
		position: fixed;
		right: 1rem;
		bottom: 1rem;
	}
	.no-data {
		width: 100%;
		height: 2.5rem;
		line-height: 2.5rem;
		text-align: center;
		font-size: 1rem;
		background: #eaeced;
		color: #999999;
	}
</style>
<ion-view view-title="订单列表" ng-controller="orderListController">
	<ion-content ng-class="from == 'supply'?hasFooter:''">
		<div ng-if="!listItems[0] && hasLoad" class="no-data">未查到符合条件的数据！</div>
		<ion-refresher pulling-text="下拉刷新" on-refresh="load()"></ion-refresher>
		<ion-list ng-init="initLoad()">
			<!--<div ng-repeat="items in listItems">-->
			<!--<div class="item item-divider-redefined">-->
			<!--{{items.release_date}}-->
			<!--</div>-->
			<ion-item item-height="item.dyHegiht + 90" collection-repeat="item in listItems" class="item-redefined">
				<div class="item-redefined item-divider-redefined" ng-if="item.isFirst">
					{{item.release_date}}
				</div>
				<div>
					<div ng-class="$parent.isShowCheckbox && item.srm_status != '已确认'?$parent.itemCheckbox:''">
						<label class="checkbox" ng-show="$parent.isShowCheckbox && item.srm_status != '已确认'">
							<input type="checkbox" ng-model="item.is_checked" ng-checked="item.is_checked" ng-click="checkHasChecked(item)">
						</label>
						<div class="div-padding" ng-click="goOrderListDetail(item,$index)">
							<div class="row firstRow">
								<div class="col col-80 no">
									{{item.po_num}}<span class="num-small"><i ng-if="item.release_num">-</i>{{item.release_num}}</span>
									<div class="no-icon">{{item.revision_num}}</div>
									<!--<img alt="附件" src="img/attach.png" />-->
								</div>
								<div class="col col-20 time">{{item.release_time}}</div>
							</div>
							<div class="row">
								<div class="col col-75 secondRow">
									<div class="circle"></div>
									<div class="line"></div>
									<span ng-class="from == 'supply'? blackColor : grayColor">{{item.company_name}}</span>
								</div>
							</div>
							<div class="row">
								<div class="col col-75 thirdRow">
									<div class="circle circle-active"></div>
									<span ng-class="from == 'purchase'? blackColor : grayColor">{{item.vendor_name}}</span>
								</div>
								<div class="col col-25 thirdRow status" ng-class="item.urgent_flag == 'Y'? color1 : color2">{{item.srm_status}}</div>
							</div>
						</div>
						<ion-option-button ng-if="needConfirm(item.srm_status) && from == 'supply'" ng-click="showConfirm(item)" class="button-assertive">确认</ion-option-button>
						<ion-option-button ng-if="item.urgent_flag == 'N' && from == 'purchase' && item.srm_status != '已确认'" ng-click="showUrgentConfirm(item)" class="button-assertive">加急</ion-option-button>
						<ion-option-button ng-if="item.urgent_flag == 'Y' && from == 'purchase' && item.srm_status != '已确认'" ng-click="showCancelUrgentConfirm(item)" style="color:#fff;background-color:#C7C7CC;">取消</ion-option-button>
					</div>
				</div>
			</ion-item>
		</ion-list>
		<ion-infinite-scroll on-infinite="loadMore() " ng-if="listItems[0] && hasMoreData " immediate-check="false "></ion-infinite-scroll>
		<div ng-if="!hasMoreData && listItems[0]" class="no-data">没有更多的数据了！</div>
	</ion-content>
	<div ng-if="from == 'supply'" class="tabs tabs-icon-left tabs-positive">
		<a class="tab-item" href="#" ng-click="hasChecked?showBatchConfirm():showCheckbox()">
			<span ng-if="!isShowCheckbox"><i class="icon ion-ios-list-outline"></i> 批量</span>
			<span ng-if="isShowCheckbox && !hasChecked"><i class="icon ion-ios-undo-outline"></i> 返回</span>
			<span ng-if="isShowCheckbox && hasChecked"><i class="icon ion-ios-checkmark-outline"></i> 确认</span>
		</a>
		<a class="tab-item" href="#" ng-click="openOrderSearchModal()">
			<i class="icon ion-ios-search"></i> 查询
		</a>
	</div>
	<div ng-if="from == 'purchase'" class="btn-search" ng-click="openOrderSearchModal()">
		<a style="color: #FFFFFF;text-decoration: none;font-size: 1.5rem;margin-top: 0.75rem;display: block;" href="#">
			<i class="icon ion-ios-search"></i>
		</a>
	</div>
</ion-view>