<style>
	@media all and (min-device-width: 768px) {
		.header-info {
			margin-top: 1rem;
			height: 4rem;
			padding: 1rem 2rem;
			background: #FFFFFF;
		}
		.header-info:before {
			content: "";
			display: inline-block;
			width: 100%;
			height: 5px;
			background: url(img/info_head_bg.png) repeat-x left top;
			background-size: 320px 5px;
			position: absolute;
			top: -5px;
			left: 0;
		}
		.header-info span {
			display: inline-block;
			font-size: 1.5rem;
		}
		.item-info-header {
			height: 3rem;
			padding: 0.75rem 2rem;
			background: #eaeced;
		}
		.item-info-header span {
			display: inline-block;
			font-size: 1.5rem;
		}
		.item-info-content {
			height: 7rem;
			padding: 1.25rem 2rem;
			font-size: 1.5rem;
			background: #FFFFFF;
		}
		.item-info-content .row .col-33 {
			height: 4rem;
			line-height: 4rem;
		}
		.item-info-content .row .col-33 input {
			position: relative;
			top: -3px;
			width: 35%;
		}
		.img-text {
			min-height: 43rem;
			font-size: 1.5rem;
			background: #f9f9f9;
		}
		.img-padding {
			padding: 0.5rem 30%;
		}
		.button-bottom {
			position: fixed;
			bottom: 1rem;
			width: 94%;
			margin-left: 3%;
			margin-right: 3%;
			border-radius: 3%;
		}
		.box {
			width: 100%;
			height: 100%;
		}
		img {
			width: 100%;
			height: 100%;
			margin-left: 0;
		}
	}
	@media all and (max-device-width: 750px) {
		.header-info {
			margin-top: 1rem;
			padding: 0.5rem 1rem;
			background: #FFFFFF;
		}
		.header-info:before {
			content: "";
			display: inline-block;
			width: 100%;
			height: 5px;
			background: url(img/info_head_bg.png) repeat-x left top;
			background-size: 320px 5px;
			position: absolute;
			top: -5px;
			left: 0;
		}
		.header-info span {
			display: inline-block;
			font-size: 0.75rem;
		}
		.item-info-header {
			padding: 0.5rem 1rem;
			background: #eaeced;
		}
		.item-info-header span {
			display: inline-block;
			font-size: 0.75rem;
		}
		.item-info-content {
			padding: 0.5rem 1rem;
			font-size: 0.75rem;
			background: #FFFFFF;
		}
		.item-info-content .row .col-33 {
			height: 2rem;
			line-height: 2rem;
		}
		.item-info-content .row .col-33 input {
			position: relative;
			top: 6px;
			width: 35%;
			height: 1rem;
			font-size: 0.5rem;
		}
		.img-text {
			height: 43rem;
			font-size: 0.75rem;
			background: #f9f9f9;
		}
		.img-padding {
			padding: 0.5rem 1rem;
		}
		.button-bottom {
			position: fixed;
			bottom: 1rem;
			width: 94%;
			margin-left: 3%;
			margin-right: 3%;
			border-radius: 3%;
		}
		.box {
			width: 100%;
			height: 100%;
		}
		img {
			width: 100%;
			height: 100%;
			margin-left: 0;
		}
	}
</style>

<ion-view view-title="采购详情" ng-controller="purchaseReceiveDetailController" style="background: #F5F5F5;">
	<ion-content ng-init="initLoad()" style="bottom: 5rem;">
		<div class="row header-info">
			<span class="col-67">订单号:&nbsp;&nbsp;{{headerInfo.display_po_number}}</span>
			<span class="col-33">行号:&nbsp;&nbsp;{{headerInfo.line_num}}行</span>
		</div>
		<div style="margin-top: 1rem;">
			<div>
				<div class="row item-info-header">
					<span class="col-20" ng-if="headerInfo.item_code">{{headerInfo.item_code}}</span>
					<span class="col-80">{{headerInfo.item_desc}}</span>
				</div>
				<div class="item-info-content">
					<span>规格:&nbsp;&nbsp;{{headerInfo.unit_meas_lookup_code}}</span>
					<div class="row">
						<div class="col-33">
							<span>接收数量:</span>
							<input onkeyup="this.value=this.value.replace(/[^\d.]/g,'')" ng-model="$parent.rcv_quantity">
						</div>
						<div class="col-33">
							<span>让步数量:</span>
							<input ng-readonly="!concession_flag" onkeyup="this.value=this.value.replace(/[^\d.]/g,'')" ng-model="$parent.concession_quantity">
						</div>
						<div class="col-33">
							<span>让步接收:</span>
							<label class="toggle" style="margin: auto 0;top: 0.375rem;z-index: 3;">
								<input type="checkbox" ng-model="$parent.concession_flag" ng-checked="$parent.concession_flag" ng-click="isConcession()">
								<div class="track">
									<div class="handle"></div>
								</div>
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="img-text">
				<div animation="slide-left-right-ios7" class="img-padding" style="height: 19rem;">
					<ion-slide-box active-slide="0" style="height: 18rem;">
						<ion-slide ng-repeat="slide in lineInfo">
							<div class="box">
								<img ng-src="{{slide.file_path}}" />
							</div>
						</ion-slide>
					</ion-slide-box>
				</div>
				<div style="min-height: 24rem;background: #FFFFFF;padding: 1rem 2rem;font-size: 1.125rem;">
					<div id="latest_standard"></div>
				</div>
			</div>
		</div>
	</ion-content>
	<button class="button button-positive button-bottom" ng-click="receive()">
		收货
	</button>
</ion-view>