<?xml version="1.0" encoding="UTF-8"?>
<dc:data-source-config xmlns:dc="aurora.datasource" useTransactionManager="false">
    <dc:database-connections>           
        <dc:database-connection driverClass="oracle.jdbc.driver.OracleDriver" url="jdbc:oracle:thin:@(DESCRIPTION=
					(ADDRESS_LIST=
						(LOAD_BALANCE=YES)
						(FAILOVER=YES)
						(ADDRESS=(PROTOCOL=tcp)(HOST=192.168.210.51)(PORT=1521))
					)
					(CONNECT_DATA=
						(SERVICE_NAME=srm)
					)
				)" userName="srm" password="srm" pool="true" initSql="BEGIN sys_nls_language_pkg.set_nls_language(p_nls_language => ${/session/@lang}); END;">        
			<dc:properties>
				minPoolSize=3
				maxPoolSize=50
				testConnectionOnCheckin=true
				checkoutTimeout=30000
				idleConnectionTestPeriod=60
				maxIdleTime=120
				preferredTestQuery=select 1 from dual
				debugUnreturnedConnectionStackTraces=true
                		unreturnedConnectionTimeout=12000
                		acquireIncrement=5
			</dc:properties>        
        </dc:database-connection>
    </dc:database-connections>  
</dc:data-source-config>
