<style>
	.col-left {
		margin: auto 0;
		margin-left: 0.75rem;
	}
	.icon-circle-message {
		width: 2.5rem;
		height: 2.5rem;
		background-color: #51CCBC;
		border-radius: 50%;
		text-align: center;
	}
	.icon-circle-bulletin {
		width: 2.5rem;
		height: 2.5rem;
		background-color: #518ECC;
		border-radius: 50%;
		text-align: center;
	}
	.ion-ios-chatbubble-outline {
		position: relative;
		top: 1px;
		font-size: 2.2rem;
		color: #FFFFFF;
	}
	.ion-ios-more {
		position: absolute;
		left: 1.875rem;
		bottom: 1.813rem;
		font-size: 1.4rem;
		color: #FFFFFF;
	}
	.ion-ios-volume-high {
		position: relative;
		top: 1px;
		font-size: 2.2rem;
		color: #FFFFFF;
	}
	.col-right {
		padding-left: 1.25rem;
		padding-right: 1rem;
	}
	.col-right span {
		font-size: 1rem;
	}
	.col-right .time {
		font-size: 0.75rem;
		color: #999;
	}
	.row-redefined {
		height: 5rem;
	}
	.col-right .message-content {
		height: 2.375rem;
		padding-left: 0.313rem;
		font-size: 0.75rem;
		line-height: 1rem;
		white-space: normal;
		overflow: hidden;
	}
</style>
<ion-view view-title="消息列表" ng-controller="messageListController">
	<ion-content>
		<ion-refresher pulling-text="下拉刷新" on-refresh="load()"></ion-refresher>
		<ion-list ng-init="initLoad()">

			<ion-item item-height="item.dyHegiht + 80" collection-repeat="item in listItems" class="item item-redefined">
				<div class="item item-divider-redefined" ng-if="item.isFirst">
					{{item.message_date + " " + item.message_day}}
				</div>
				<div class="row row-redefined">
					<div class="col col-10 col-left">
						<div ng-if="item.message_type=='MESSGAE'" class="icon-circle-message">
							<i class="ion-ios-chatbubble-outline"></i>
							<i class="ion-ios-more"></i>
						</div>
						<div ng-if="item.message_type=='BULLETIN'" class="icon-circle-bulletin">
							<i class="ion-ios-volume-high"></i>
						</div>
					</div>
					<div class="col col-90 col-right">
						<div class="row">
							<div class="col col-75">
								<span>{{item.title}}</span>
							</div>
							<div class="col col-25 time">{{item.message_time}}</div>
						</div>
						<div class="row">
							<div class="col col-80 message-content" style="color: #999;">
								{{item.contents}}
							</div>
							<div ng-if="item.message_type=='BULLETIN'" class="col col-20" ng-click="goMessageListDetail(item)" style="text-align: right;color: #999;font-size: 1.5rem;line-height: 1.75rem;"><i class="ion-ios-arrow-right"></i></div>
						</div>
					</div>
				</div>
			</ion-item>
		</ion-list>
		<ion-infinite-scroll ng-if="hasMoreData" on-infinite="loadMore()" immediate-check="false"></ion-infinite-scroll>
	</ion-content>
</ion-view>