<style>
	.firstRow span.num-small {
		font-size: 80%;
		color: #999;
		border: none;
		padding: 0;
	}
	.tab-item {
		font-size: 1rem !important;
		font-weight: bold;
		line-height: 47px;
	}
</style>
<ion-view view-title="订单列表" ng-controller="orderListController">
	<ion-content>
		<ion-refresher pulling-text="下拉刷新" on-refresh="load()"></ion-refresher>
		<ion-list ng-init="initLoad()">
			<!--<div ng-repeat="items in listItems">-->
			<!--<div class="item item-divider-redefined">-->
			<!--{{items.release_date}}-->
			<!--</div>-->

			<ion-item item-height="item.dyHegiht + 93" collection-repeat="item in listItems" class="item-redefined">
				<div class="item item-divider-redefined" ng-if="item.isFirst">
					{{item.release_date}}
				</div>
				<div>
					<div class="div-padding" on-tap="goOrderListDetail(item,$index)">

						<div class="row firstRow">
							<div class="col col-80 no">
								{{item.po_num}}<span class="num-small"><i ng-if="item.release_num">-</i>{{item.release_num}}</span>
								<div class="no-icon">{{item.revision_num}}</div>
								<!--<img alt="附件" src="img/attach.png" />-->
							</div>
							<div class="col col-20 time">{{item.release_time}}</div>
						</div>
						<div class="row">
							<div class="col col-75 secondRow">
								<div class="circle"></div>
								<div class="line"></div>
								<span ng-class="from == 'supply'? blackColor : grayColor">{{item.company_name}}</span>
							</div>
						</div>
						<div class="row">
							<div class="col col-75 thirdRow">
								<div class="circle circle-active"></div>
								<span ng-class="from == 'purchase'? blackColor : grayColor">{{item.vendor_name}}</span>
							</div>
							<div class="col col-25 thirdRow status" ng-class="item.urgent_flag == 'Y'? color1 : color2">{{item.srm_status}}</div>
						</div>
					</div>

					<ion-option-button ng-if="needConfirm(item.srm_status) && from == 'supply'" ng-click="showConfirm(item)" class="button-assertive">确认</ion-option-button>
					<ion-option-button ng-if="item.urgent_flag == 'N' && from == 'purchase' && item.srm_status != '已确认'" ng-click="showUrgentConfirm(item)" class="button-assertive">加急</ion-option-button>
					<ion-option-button ng-if="item.urgent_flag == 'Y' && from == 'purchase' && item.srm_status != '已确认'" ng-click="showCancelUrgentConfirm(item)" style="color:#fff;background-color:#C7C7CC;">取消</ion-option-button>

				</div>
			</ion-item>
		</ion-list>
		<ion-infinite-scroll on-infinite="loadMore()" ng-if="hasMoreData" immediate-check="false"></ion-infinite-scroll>
	</ion-content>
	<div class="tabs tabs-icon-left tabs-positive">
		<a class="tab-item" href="#">
			<i class="icon ion-ios-list-outline"></i> 批量
		</a>
		<a class="tab-item" href="#" ng-click="openOrderSearchModal()">
			<i class="icon ion-ios-search"></i> 查询
		</a>
	</div>
</ion-view>