<style>
	.order-header-info {
		font-size: 0.9rem;
		margin-top: 10px;
		padding-left: 4%;
		padding-right: 4%;
		background-color: #ffffff;
	}
	.order-header-info td {
		height: 2.5rem;
		vertical-align: middle;
	}
	.order-header-info td.left {
		text-align: left;
	}
	.order-header-info td.right {
		text-align: right;
	}
	.order-header-info td:nth-child(1) {} .order-header-info li:nth-child(3) {
		font-size: 0.7rem;
	}
	.order-header-info li:nth-child(3) span:nth-child(1) {
		font-size: 0.7rem;
		width: 70%;
	}
	.order-header-info:before {
		content: "";
		display: inline-block;
		width: 100%;
		height: 5px;
		background: url(img/info_head_bg.png) repeat-x left top;
		background-size: 320px 5px;
		position: absolute;
		top: -5px;
		left: 0;
	}
	/*重写部分样式*/
	
	#line-info-list .list {
		padding-top: 0px;
		border: 0;
		background-color: #ffffff;
	}
	#line-info-list .item {
		border-width: 1px 0px 0px 0px;
	}
	.order-line-info {
		margin-bottom: 15px !important;
	}
	.order-line-info li {
		padding: 0px;
	}
	.order-line-info .leftLabel {
		font-size: 14px;
		color: #999999;
		padding-left: 4%;
	}
	.order-line-info .rightLabel {
		float: right;
		font-size: 14px;
		padding-right: 4%;
	}
	.order-line-info li:nth-child(1) {
		height: 30px;
		line-height: 30px
	}
	.order-line-info li:nth-child(2) {
		padding-top: 0.8rem;
		padding-bottom: 0.8rem;
		text-overflow: inherit;
		white-space: initial;
	}
	.order-line-info li:nth-child(3) {
		height: 50px;
		line-height: 50px;
	}
	.order-line-info li:nth-child(4) {
		height: 50px;
		line-height: 50px;
	}
	.redColor {
		color: #ff5000;
	}
	.row-height {
		height: 45px;
		font-size: 14px;
	}
	.row-height span.left {
		color: #CCCCCC;
		text-align: left;
		line-height: 35px;
		padding-left: 4%;
	}
	.row-height span.right {
		color: #CCCCCC;
		text-align: right;
		line-height: 35px;
		padding-right: 4%;
	}
</style>

<ion-view view-title="订单详情">

	<ion-content style="background-color: #eaeced">
		<div style="padding-left: 4%;padding-right: 4%;background-color: #ffffff">
			<table class="order-header-info" style="table-layout: fixed;padding-bottom: 30px;width: 100%">
				<tr>
					<td class="left" colspan="10">
						<span>收货方:</span>
						<span>{{headerInfo.receiving_party}}</span>
					</td>

				</tr>
				<tr>
					<td colspan="10">
						<span>收单方:</span>
						<span>{{headerInfo.bill_to_party}}</span>
					</td>

				</tr>
				<tr>
					<td class="left" colspan="7">
						<span style="color: #e4603d">订单摘要:{{headerInfo.comments}}<span ng-if="!headerInfo.comments">无</span></span>

					</td>
					<td class="right" colspan="3">
						<span style="padding: 8px 8px 8px 8px;font-size: 0.7rem;background-color: #0078d8;color: #ffffff;height: 1.5rem;line-height: 1.5rem;">{{headerInfo.po_type}}</span>

					</td>
				</tr>
				<tr style="height: 10px">

				</tr>
			</table>
		</div>
		<!--<div style="table-layout: fixed;display: table;margin-left: 10%;width: 100%">-->
		<!--<div style="display: table-row;width: 100%">-->
		<!--<div style="display: table-cell;background-color: red; width: 60%" >-->
		<!--<span>收货方:</span>-->
		<!--<span>传动事业部</span>-->
		<!--</div>-->
		<!--<div style="display: table-cell;background-color: yellow;width: 30%" >-->
		<!--<span>发放号:</span>-->
		<!--<span> 99888</span>-->
		<!--</div>-->

		<!--</div>-->
		<!--<div style="display: table-row">-->
		<!--<div style="display: table-cell;background-color: red; width: 100%"  colspan="1">-->
		<!--<span>收单方:</span>-->
		<!--<span>山东省济宁市327国道58号</span>-->
		<!--</div>-->

		<!--</div>-->
		<!--<div style="display: table-row">-->

		<!--</div>-->
		<!--</div>-->

		<!--<ul class="order-header-info" style="background-color: #ffffff;padding-bottom: 30px">-->
		<!--<li>-->
		<!--<span>收货方:</span>-->
		<!--<span>传动事业部33333333333</span>-->
		<!--<span style="float: right;margin-right: 3%">发放号: 998</span>-->
		<!--</li>-->
		<!--<li class="order-header-info-li2">-->
		<!--<span>收单方:</span>-->
		<!--<span>山东省济宁市327国道58号</span>-->
		<!--<img style="position: absolute;left: 5px;top: 3rem;height: 30px;width: 30px;" src="img/location.png"/>-->

		<!--</li>-->
		<!--<li>-->
		<!--<span style="color: #e4603d">(订单摘要:补录订单，请勿采购。)</span>-->
		<!--<span style="font-size: 0.7rem;background-color: #0078d8;color: #ffffff;position: relative;top: 50%;margin-top: -0.5rem;float: right;margin-right: 3%;height: 1.3rem;line-height: 1.3rem;vertical-align: middle">标准订单</span>-->

		<!--</li>-->

		<!--</ul>-->
	</ion-content>

	<ion-content style="background-color: #eaeced;margin-top: 9.5rem;margin-bottom: 3rem;">
		<ion-list id="line-info-list" show-delete="showDelete">
			<ion-item class="animated-item" style="background-color: #eaeced;padding: 0px!important;" ng-repeat="item in lineInfo">
				<ul class="list order-line-info">
					<div ng-click="toggle(item)">
						<li class="item">
							<span class="leftLabel">{{item.item_code}}</span>
							<span class="rightLabel">{{item.line_num}}行
							<i ng-if="item.expand_flag" class="icon ion-ios-arrow-down" style="margin-left: 3px"></i>
							<i ng-if="!item.expand_flag" class="icon ion-ios-arrow-up" style="margin-left: 3px"></i></span>
						</li>
						<li class="item ">
							<span class="leftLabel" style="color: #000000">{{item.item_name}}</span>
							<!--<span style="margin-left: 10%;font-size: 18px;">手术刀片 11 # 京鹿</span>-->
						</li>
						<li class="item" style="height: 50px">
							<div style="width: 25%;display: inline-block;color: #999999;padding-left: 4%;font-size: 14px">单价</div>
							<div style="width: 25%;display: inline-block;text-align: right;font-size: 14px" class="redColor">￥{{item.unit_price}}</div>
							<div style="width: 25%;display: inline-block;color: #999999;text-align: right;font-size: 14px">数量</div>
							<span class="rightLabel">{{item.quantity+" "+item.unit_code}}</span>
						</li>
						<li class="item">
							<span class="leftLabel">总价</span>
							<span class="rightLabel redColor">￥{{item.line_amount}}</span>
						</li>
					</div>
					<div ng-hide="item.expand_flag" style="height: 165px;background-color: #333;">
						<div class="row row-height">
							<span class="col col-25 left">
								含税单价
							</span>
							<span class="col col-75 right">
								￥{{item.original_unit_price}}
							</span>
						</div>
						<div class="row row-height">
							<span class="col col-25 left">
								需求日期
							</span>
							<span class="col col-75 right">
								{{item.need_by_date}}
							</span>
						</div>
						<div class="row row-height">
							<span class="col col-25 left">
								送达方
							</span>
							<span class="col col-75 right">
								{{item.actual_receiver_name}}
							</span>
						</div>
						<div class="row row-height">
							<span class="col col-25 left">
								送货地址
							</span>
							<span class="col col-75 right">
								{{item.ship_to_lacation_address}}
							</span>
						</div>
					</div>
				</ul>
			</ion-item>
		</ion-list>
		<ion-infinite-scroll on-infinite="loadMore()" ng-if="hasMoreData" immediate-check="false"></ion-infinite-scroll>
	</ion-content>
	<div style="background-color: #FFFFFF;" class="bar bar-footer">
		<div style="color:gray;font-size: 1rem;font-weight: 600;" class="title">(共{{headerInfo.line_count}}行)&nbsp;<span style="color:#FF5000">￥{{headerInfo.po_amount}}</span></div>
		<button style="position: absolute;top: 0;right: 0;bottom: 0;width: 4.5rem;font-size: 1.25rem;" class="button button-assertive pull-right" ng-if="needConfirm() && from == 'supply'" ng-click="showConfirm()">确认</button>
	</div>
	</ion-viev>