<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<display-name>SRM</display-name>
	<listener>
		<listener-class>aurora.service.http.WebContextInit</listener-class>
	</listener>
	<listener>
		<listener-class>aurora.security.HttpSessionCleaner</listener-class>
	</listener>
	<servlet>
		<servlet-name>service</servlet-name>
		<servlet-class>aurora.service.http.FacadeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>autocrud</servlet-name>
		<servlet-class>aurora.service.http.AutoCrudServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>weixin</servlet-name>
		<servlet-class>aurora.plugin.weixin.WeixinServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>weixin</servlet-name>
		<url-pattern>/weixin/*</url-pattern>
	</servlet-mapping>
	
    <servlet>
        <servlet-name>imageCodeServlet</servlet-name>
		<servlet-class>randomCode.RequestRandomCode</servlet-class>
        <!-- <servlet-class>aurora.service.http.ImageCodeServlet</servlet-class> -->
    </servlet>
    
	
	<!-- 外箱条码打印 -->
	<servlet>
		<servlet-name>BarcodeServlet</servlet-name>
		<servlet-class>org.krysalis.barcode4j.servlet.BarcodeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BarcodeServlet</servlet-name>
		<url-pattern>/outside_barcode</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BarcodeServlet</servlet-name>
		<url-pattern>/asnbarcode</url-pattern>
	</servlet-mapping>
	
    <!--第一段-->
	<servlet>
        <servlet-name>wsdl</servlet-name>
        <servlet-class>aurora.service.http.WSDLServlet</servlet-class>
    </servlet>
    <!--第二段-->
    <servlet-mapping>
        <servlet-name>wsdl</servlet-name>
        <url-pattern>/wsdl/*</url-pattern>
    </servlet-mapping>  
    
    <servlet-mapping>
        <servlet-name>imageCodeServlet</servlet-name>
        <url-pattern>/imagecode</url-pattern>
    </servlet-mapping>    
	<servlet-mapping>
		<servlet-name>service</servlet-name>
		<url-pattern>*.screen</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>service</servlet-name>
		<url-pattern>*.svc</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>autocrud</servlet-name>
		<url-pattern>/autocrud/*</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>login.screen</welcome-file>
	</welcome-file-list>
	<error-page>  
      	<error-code>404</error-code>  
      	<location>/404.html</location>  
   	</error-page>  
   	<error-page>  
      	<error-code>500</error-code>                               
      	<location>/500.html</location>  
   	</error-page>
   	<filter>
   	    <filter-name>xssFilter</filter-name>
   	    <filter-class>aurora.plugin.filter.XSSFilter</filter-class>
   	    <init-param>
                <param-name>exclude</param-name>
   	        <param-value>/;/scripts/*;/styles/*;/images/*;*.svc;*.bm</param-value>
   	    </init-param>
   	    <init-param>
   	        <param-name>protocol</param-name>
   	        <param-value>EcmaScript</param-value>
   	    </init-param>
   	</filter>
   	<filter-mapping>
   	    <filter-name>xssFilter</filter-name>
   	    <url-pattern>*.html</url-pattern>
   	    <url-pattern>*.screen</url-pattern>
   	    <dispatcher>REQUEST</dispatcher>
   	    <dispatcher>FORWARD</dispatcher>
        </filter-mapping>
</web-app>
