.delivery-header-con {
    box-shadow: 1px 1px 2px 0px #cccccc;
    background-color: #f8f6f2;
    border: 1px solid #ddd;
    -webkit-box-shadow: 1px 1px 2px 0 #cccccc;
    -moz-box-shadow: 1px 1px 2px 0 #cccccc;
    -o-box-shadow: 1px 1px 2px 0 #cccccc;
    -ms-box-shadow: 1px 1px 2px 0 #cccccc;
    box-shadow: 1px 1px 2px 0px #cccccc;
}
.delivery-header-con .item-grid-wrap, .delivery-header-con .item-export-wrap {
    background-color: #fff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: 0px 0px 0px 0px #fff;
    border: 0px;
}
.delivery-header-con h1 {
    font-size: 16px;
    line-height: 40px;
    text-indent: 10px;
    color: #333;
    background-color: #f8f6f2;
}
.temp-delivery-details{
    margin-top: 20px;
    border-top: 1px solid #ddd;
}
.disabled-btn{
    background-color: #999 !important;
    cursor: default !important;
}

/*
*tab样式
*/
.cloud-tab {
    background-color: #eee;
    border: 1px solid #ddd;
    padding-bottom: 20px;
}
.cloud-tab-list{
	margin-top:20px;
}
.cloud-tab .cloud-tab-list .active{
	display:block !important;
}
.cloud-tab .cloud-tab-list .cloud-tab-item{
	display:none;
}
.cloud-tab-btn{
    position: absolute;
    top: 26px;
    left: 30px;
}
.cloud-tab .tab-title {
    color: #666;
    line-height: 30px;
    height: 30px;
    font-size: 16px;
    border-bottom: 2px solid #ddd;
    text-indent: 10px;
    padding-top: 10px;
    padding-left: 130px;
    background-color: #fff;
}

.cloud-tab .tab-title span {
    margin-right: 20px;
    padding: 5px  10px;
    cursor: pointer;
}
.cloud-tab .tab-title .active {
    color: #19a2d5;
    border-bottom: 2px solid #19a2d5;
}

/*
*悬浮窗口
*/
a{
	
}
.fw-active{
    color: #28bde6;
}

.cloud-float-window{
    position: fixed;
    z-index: 5;
}
.fw-back {
    position: absolute;
    top: 0px;
    background-color: #455a70;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.9;
    filter: alpha(opacity=90);
}
.fw-body{
	overflow:hidden;
	width:200px;
	color:#fff;
    padding: 10px;
    position: relative;
    z-index: 2;
    font-size:12px;
}
.fw-body p{
	white-space: normal;
	text-align:left;
	padding:0px;
	margin-bottom:6px;
    width: 100%;
    overflow: hidden;
    word-break: break-all;
}


