.ooorder-header-con {
    background: url('complete.png') no-repeat;
    background-position-x: 90%;
    background-position-y: -7px;
}
.step-con{
	position: relative;
	font-family: "微软雅黑", "arial, helvetica, sans-serif";
	margin: auto;
	height:100px;
	width:1000px;
}
.step-con ul{
	list-style: none;
	padding: 0px;
    margin: 0px;
}
.step-con li{
	float: left;
}
.step-con .step-name {
    height: 40px;
    line-height: 40px;
    color: #666666;
    font-size: 14px;
    margin-left: -4px;
}
.step-name li{
	width: 140px;
}
.step-name .active{
	color: #49c1b1;
}
.step-unactive {
    position: absolute;
    z-index: 2;
    color: #fff;
    top: 36px;
    left: -5px;
}
.step-unactive span {
    display: inline-block;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    background: url('status-icon.png') no-repeat;
    background-position-x: 0px;
    background-position-y: 1px;
    text-align: center;
    line-height: 30px;
    color: #fff;
}
.step-active {
    position: absolute;
    z-index: 4;
    left: 0px;
    top: 41px;
}
.step-active li{
	position: relative;
}
.active-back {
    width: 420px;
    height: 4px;
    background-color: #49c1b1;
    position: absolute;
    top: 48px;
    left: 6px;
    z-index: 3;
}

.unactive-back {
    width: 840px;
    height: 8px;
    background-color: #dcdcdc;
    position: absolute;
    top: 46px;
    z-index: 1;
}
.step-active span {
    display: inline-block;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background: url('status-icon.png') no-repeat;
    background-position-y: -32px;
    background-position-x: 0px;
    text-align: center;
    line-height: 20px;
    color: #eee;
    cursor: pointer;
}
.order-detail-options button {
    width: 110px;
    font-size: 14px;
    height: 30px;
    border-radius: 2px;
    border: none;
    background-color: #1da7d6;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
    float:right;
}
.order-detail-options button:hover{
	background-color: #24b8eb;
}
.step-date {
    width: 170px;
    min-height: 40px;
    padding: 10px 0px;
    border: 2px solid #ccc;
    border-radius: 6px;
    position: absolute;
    left: -75px;
    top: 34px;
    background-color: #fff;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color:#666;
}
.step-date-triangle{
    position: absolute;
    width: 0px;
    height: 0px;
    top: -17px;
    left: 73px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 24px solid #bbb;
}

.tab-con{
	margin-top: 10px;
}
.tab-con .header-con{
	width:100%;
	position:relative;
	height: 50px;
}
.tab-con .header-con .back {
    position: absolute;
    width: 100%;
    height: 20px;
    border-bottom: 2px solid #ccc;
}
.tab-list {
    position: absolute;
    z-index: 2;
    width: 90%;
    left: 5%;
}
.tab-list li {
    cursor: pointer;
    float: left;
    height: 40px;
    line-height: 40px;
    min-width: 120px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background-color: #bbb;
    margin-left: 10px;
    position: relative;
    border-radius: 2px;
}
.tab-list button {
    cursor: pointer;
    height: 40px;
    margin-left: 10px;
    border: 1px solid #ccc;
    width: 50px;
    background-color: #455a70;
    color: #fff;
    line-height: 30px;
    font-size: 30px;
    display: inline-block;
}
.tab-list .active {
    background-color: #455a70;
}
#iframe_list_con{
	position:relative;
}
.tab-con iframe{
    width: 100%;
    border: none;
    height:400px;
    position:absolute;
    left:0px;
    top:0px;
    overflow: hidden;
}
.tab-list-option {
    position: absolute;
    width: 340px;
    min-height: 160px;
    background-color: #333;
    left: 0px;
    top: -62px;
    opacity: 0;
    filter: alpha(opacity=0);
    display:none;
    z-index: 2;
    padding: 10px;
}
.card-item {
    width: 100px;
    float: left;
    text-align: center;
    color: #fff;
    margin-left: 10px;
    line-height: 30px;
    cursor: pointer;
    padding-bottom: 10px;
}

.card-item:hover img{
	border-color:#00bb00;
}
.card-item img {
    width: 100px;
    height: 100px;
    border: 1px solid transparent;
}
.tab-list li .edit {
    position: absolute;
    z-index: 4;
    color: #cc0000;
    line-height: 20px;
    top: -11px;
    right: -8px;
    opacity: 0;
    width: 20px;
    filter: alpha(opacity=0);
}
.tab-list li:hover .edit{
	opacity: 1;
    filter:alpha(opacity=100);
  }
