body{
	background-color:#ededed;
}
.aurora-mask{
	z-index:10 !important;
}
.menu-con-left > h1 {
    margin: 0px;
    width: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    color: #ffffff;
    background-color: #455a70;
}
.menu-con-left {
    min-height: 600px;
    padding: 0px;
    width: 200px;
    vertical-align: top;
    background-color: #2c3037;
    color: #919293;
}
.menu-list {
    width: 100%;
    line-height: 40px;
}
.menu-list dt {
    font-size: 14px;
    line-height: 60px;
    font-weight: 600;
    cursor:pointer;
    padding-left: 30px;
}

.menu-list .header-title {
	line-height:40px;
	overflow:hidden;
    font-weight: 600;
    font-size: 14px;
    color: #eff2f9;
    background-color: #6a83a1;
}
.menu-con-left h1 {
    margin: 0px;
    width: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 70px;
    color: #eee;
    font-weight: 600;
    background-color: #ff834c;
    cursor:pointer;
}
.menu-list .header-title i{
	margin-right: 20px;
	float: right;
}
.menu-list li {
    font-size: 12px;
    line-height: 40px;
    cursor: pointer;
    background-color: #212429;
    padding-left: 30px;
}
.menu-list a:link, .menu-list a:visited{
	color: #919293;
}
.menu-list .item-small-tag{
	margin-right:6px;
	font-size: xx-small;
	text-indent: 0em;
}
.menu-list li:hover a, .menu-list li a:hover, .menu-list li:hover a , .menu-list dt:hover,.menu-list .active a{
    color: #ddd;
    text-decoration: none;
}
.menu-list .active{
	border-left: 0px solid #ff834c;
}

input[type=checkbox]{
	cursor:pointer;
} 

.main-content-right {
    border: none;
    vertical-align: top;
}
.orders-type-link{
    height: 36px;
    line-height: 36px;
    background-color: #f8f6f2;
    text-indent: 15px;
    font-size: 15px;
    color: #666;
    border-bottom: 2px solid #dedede;
}
.orders-type-link a {
    margin-right: 10px;
    color: #666;
    cursor: pointer;
    text-decoration: none;
    padding: 0px 12px 8px 12px;
}
.orders-type-link .active {
    border-bottom: 2px solid #ff4401;
    padding-bottom: 8px;
    color: #ff4401;
}
.screenTopToolbar{
	padding: 10px !important;
	background-color: #f8f6f2;
}
.orders-table-con{
    padding: 10px 10px 0px 10px;
    background-color: #fff;
    margin-top: 10px;
    min-height:500px;
}
.items-name {
    width: 250px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.orders-table{
	background-color: #fff;
    margin:auto;
    font-size:12px;
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}
.orders-table a:link, .orders-table a:visited {
	color: #19a2d5;
}
.orders-table a:hover{
	color:#08bee7;
}
.order-infor{
    width: 250px;
    text-align: left;
}
.order-infor p{
	margin:0px;
	padding:3px;	
}
.order-publish-date, .order-status, .if-red{
    width:80px;
}
.order-action{
    width:100px;
    color:#666;
}
.order-action div{
	margin-top:5px;
}
.order-comments{
    width:250px;
}
.order-action a:link, .order-action a:visited {
    color: #005ea7;
}
.order-action a:hover {
    color: #08bee7;
}

.order-action .even-link{
	margin-left:10px;
}
.order-action i {
    width: 12px;
    border-radius: 50%;
    border: 1px solid #666;
    display: inline-block;
    line-height: 12px;
    font-style: normal;
    margin-right: 5px;
}

.item-tab .tab {
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.deep-button, .danger-button{
	color:#ffffff;
    float: left;
    margin-right: 5px;
    border: none;
    height: 26px;
    border-radius: 2px;
    padding: 0px 10px;
    cursor: pointer;
}
.deep-button{
	background: -moz-linear-gradient(top,  #809dbb 0%, #6c839a  100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#809dbb), color-stop(100%,#6c839a ));
    background: -webkit-linear-gradient(top,  #809dbb 0%,#6c839a 100%);
    background: -o-linear-gradient(top,  #809dbb 0%,#6c839a 100%);
    background: -ms-linear-gradient(top,  #809dbb 0%,#6c839a 100%);
    background: linear-gradient(to bottom,  #809dbb 0%,#6c839a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#809dbb', endColorstr='#6c839a',GradientType=0 );
}
.danger-button{
	background: -moz-linear-gradient(top,  #ed5454 0%, #d74545  100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ed5454), color-stop(100%,#d74545 ));
    background: -webkit-linear-gradient(top,  #ed5454 0%,#d74545 100%);
    background: -o-linear-gradient(top,  #ed5454 0%,#d74545 100%);
    background: -ms-linear-gradient(top,  #ed5454 0%,#d74545 100%);
    background: linear-gradient(to bottom,  #ed5454 0%,#d74545 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed5454', endColorstr='#d74545',GradientType=0 );
}
.bright-button{
	float: left;
    margin-right: 5px;
    border: none;
    background-color: #6a83a1;
    height: 26px;
    border-radius: 2px;
    padding: 0px 10px;
    cursor: pointer;
}

.orders-table{
	table-layout: fixed;
}
.orders-table table, .orders-table td {
    position: relative;
    border: 0px solid #e5e5e5;
    border-collapse: collapse;
    vertical-align: middle;
    text-align: center;
    font-size: 12px;
    color: #888888;
    font-family: "宋体";
}
.order-table-header tr th {
    border-bottom: 0px solid #ccc;
    text-align: center;
    font-size: 14px;
    color: #666;
    font-family: "宋体";
}
.orders-table th{
	background-color: #f5f5f5;
}
.order-header-tr{
	background-color: #eaf8ff;
}
.content thead{
	visibility: hidden;
}
.content tr th{
	border: 0px solid transparent;
}
th{
	height: 20px;
}
.content th{
	line-height:12px;
    height: 12px;
    padding: 0px;
    overflow:hidden;
}
.order-body .order-header {
    list-style: none;
    height: 30px;
    margin: 0px;
    padding: 0px;
    line-height: 34px;
    font-size: 13px;
    color: #a1a1a1;
    font-size: 13px;
    font-family: "宋体";
    color: #666;
}

.order-header li{
	float: left;
}
.order-header .infor-part{
	text-indent: 20px;
	text-align: left;
	font-family: "宋体";
}
.order-header .phone-part {
    width: 200px;
    text-align: center;
}
.order-header .operation-part {
    text-align: center;
    height: 100%;
    float: right;
    font-size:14px;
}
.order-body ul {
    list-style: none;
    margin: 0px;
    padding: 10px;
}
.order-red .order-red-back {
  width: 100px;
  height: 100px;
  position: absolute;
  left: -7px;
  top: 0px;
  background: url(icon-red.png?v=1.02) no-repeat;
}
.order-detail-infor li, .order-other-infor li {
    text-align: left;
    height: 26px;
    line-height: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.order-body .aatr-name{
	width: 70px;
	float: left;
	text-align: right;
	overflow: hidden;
	text-overflow: ellipsis;
}
.orders-table li .aatr-value{
	cursor:default;
}
.order-infor, .other-part, .goods-content{
	width: 16%;
}
.order-comments{
	width:21%;
}
.check-part, .order-status, .order-status{
	width: 7%;
}
.order-action{
	width:10%;
}
.phone-icon{
	margin-right:6px;
}
.operation-part a{
	display: block;
	text-align: center;
	margin-top: 5px;
}
.operation-part .operation-icon {
    width: 20px;
    height: 100%;
    float: right;
    text-decoration: none;
}
.operation-part a:link, .operation-part a:visited {
	color: #ff4401;
}
.phone-icon, .operation-icon{
	color: #19a2d5;
}
.orders-table .td-nothing{
	height:400px;
	background:url('nothing-found.png') no-repeat;
	background-position-x: center;
	background-position-y: center;
}
.orders-table .if-red-order{
	color:#cc0000;
	font-size: 14px;
}
.goods-content{
	padding:10px;
	line-height:20px;
}
.search-con {
    float: right !important;
    margin-right: 18px !important;
    margin-top: 2px;
    width: 220px;
    height: 30px;
    border-radius: 4px;
    line-height: 30px;
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
    position: relative;
}
.search-con .icon {
    cursor: pointer;
    display: block;
    float: left;
    width: 30px;
    height: 100%;
    text-align: center;
    display: relative;
    color:#999;
}
.search-con .all{
    height: 16px;
    padding: 7px 0px;
    width: 180px;
    border: none;
    position: absolute;
    left: 30px;
    line-height: 16px;
    background-color: #fff;
    filter: alpha(opacity=100);
    opacity: 1;
}
.search-con .null-input{
	filter: alpha(opacity=0);
    opacity: 0;
}
.search-con .prompt{
    color: #999;
    font-size:14px;
}
#search_results_list{
	display:none;
    border: 1px solid #ddd;
    z-index: 1000;
    background: #fff;
    width: 218px;
    max-height: 80%;
    font-size: 12px;
    overflow-y: auto;
    color:#666;
}
.search-content {
    position: absolute;
    width: 500px;
    z-index: 2;
    right: -29px;
    top: 46px;
    background-color: #f8f6f2;
    opacity: 0;
    filter: alpha(opacity=0);
    display: none;
    padding-bottom: 10px;
    border-bottom: 2px solid #d8dadb;
    border-left: 1px solid #d8dadb;
}
.search-con .search-button{
	display: none;
    width: 60px;
    position: absolute;
    height: 26px;
    border: none;
    right: 0px;
    background-color: #19a2d5;
    color: #fff;
    cursor: pointer;
    line-height: 30px;
}
.search-con .search-button:hover{
	background-color:#28bde6;
}
.hide-search-angle{
    text-align: center;
    font-size: 20px;
}
.hide-search-angle a{
    cursor: pointer;
    text-decoration: none;
}
.hide-search-angle a span{
	color:#aaa;
}
.main-content-right .item-rbtn-blue, .main-content-right .item-rbtn-red, .main-content-right .item-rbtn-green {
    line-height: 30px;
    height: 30px;
    min-width: 60px;
    max-width: 300px;
    width: expression(this.offsetWidth > 100 ? (this.offsetWidth < 300 ? 'auto' : '260px') : '60px');
}
#orders_table_con_id .fixed {
    position: fixed;
    bottom: 0px;
    right: 1%;
    padding: 10px 0px;
    background-color: #e6e7eb;
    filter: alpha(opacity=80);
    opacity: 0.8;
}
.header-part-company{
    color: #666;
    padding-left: 5px;
    display: inline-block;
    color: #666;
    text-indent: 0px;
}
.header-part-company-icon{
    width: 20px;
    height:34px;
    background: url('company-icon.png?v=1') no-repeat;
    background-position-x: -15px;
    background-position-y: -11px;
}

.header-part-code{
    display: inline-block;
    width: 130px;
    text-indent: 0px;
}
.header-part-date{
    width: 200px;
    color:#333;
    font-size: 13px;
}
.gray-btn {
    border: 1px solid #d4d4d4;
    margin-top: 7px;
    width: 86px;
    height: 24px;
    border-radius: 6px;
    background-color: #FFF;
    color: #666;
    margin-left: 30px !important;
}
.yellow-button{
    line-height: 21px;
    width: 60px;
    font-size: 14px;
    height: 21px;
    border-radius: 2px;
    border: none;
    background-color: #ff4401;
    color: #fff;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
}
.yellow-button:hover{
	background-color:#ff5301;
}
.order-header .infor-part span{
	display:inline-block;
	float:left;
	text-indent: 0px;
}