.pur2620-main-body{
	width:100%;
	overflow:auto;
}
.pur2620-main-body .main{
	width: 400px;
    margin: 10px 0;
    margin-left: 150px;
	/* overflow:hidden; */
}
.pur2620-main-body .main .date-group-row{
	width:100%;
	position:relative;
	font-family:Microsoft Yahei;
	/* padding-bottom:20px; */
}
.date-group-row .date-circle{
	position: relative;
    overflow: hidden;
    z-index: 2;
}
.date-group-row .date-circle .img{
	float: left;
    background: #02A2F7;
    border-radius: 50%;
}
.date-group-row .date-circle .img > img{
	width: 60px;
    height: 60px;
}
.date-group-row .font1{
	float: left;
    height: 60px;
    line-height: 60px;
    margin-left: 10px;
    font-size: 14px;
    color: #666;
}
.date-group-row .date-row{
	padding:10px 0;
	/* overflow: hidden; */
	margin: 10px 0;
	position: relative;
	z-index:2;
}
.date-group-row .date-row .date-circle{
	width: 16px;
    height: 16px;
    float: left;
    background: #fff;
    border: 2px solid #02a2f7;
    border-radius: 50%;
    margin-left: 20px;
}
.date-group-row .date-row .date-description{
	float: left;
    margin-left: 30px;
    margin-top: -5px;
    background: #02a2f7;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    border-radius: 3px;
    color:#fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width:80px;
    max-width:300px;
}
.date-group-row .date-bar{
	position: absolute;
    width: 5px;
    height: 100%;
    left: 27px;
    background: #02a2f7;
    z-index: 1;
}
.date-group-row .date-row .date-range{
	position: absolute;
    /* left: -30px; */
    height: 20px;
    line-height: 20px;
    right: 390px;
    width: 140px;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
}
.date-group-row .date-background{
	position: absolute;
    z-index: 0;
    width: 550px;
    height: 100%;
    left: -130px;
    top: 0;
}
.date-group-row:hover .date-background{
	background: #E2DEDE;
}
.pur2620-main-body .main .date-tail{
	width: 5px;
    height: 20px;
    background: #02a2f7;
    margin-left: 27px;
}
/* **********************************物料价格信息展示页面************************************** */
.pur2620-body{
	width:100%;
	height:auto;
	overflow:hidden;
}
.pur2620-body .left{
	float:left;
}
.pur2620-body .right{
	float:right;
}
.pur2620-body .main-body{
	width: 95%;
    margin: 10px auto;
    margin-top:0;
    overflow: hidden;
}
.main-body .item-show-box{
	padding: 10px;
}
.main-body .item-show-box .item-gird-all{
	position:relative;
	width: 340px;
    
}
.item-gird-all .switch-div{
	width: 100%;
    background: #eee;
    font-size: 12px;
    color: #666;
}
.item-gird-all .switch-div ul{
    width: 100%;
    overflow: hidden;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
}
.item-gird-all .switch-div ul li{
	float: left;
    /* width: 50%; */
    overflow: hidden;
    white-space: nowrap;
    border-top: 3px solid #eee;
    cursor:pointer;
}
.item-gird-all .switch-div ul li.active{
	border-top: 3px solid #19a2d5;
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}
.switch-div ul li > div{
	width: 100%;
    height: 35px;
    line-height: 35px;
}
.switch-div ul li > div > span{
	float: left;
    margin-left: 10px;
    width: 70%;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.switch-div ul li > div > i{
	float: right;
    width: 20%;
    text-align: left;
    line-height: 28px;
    text-indent: 2px;
}
.item-gird-all .show-div{
	padding: 10px;
    font-size: 14px;
    background: #fff;
    box-shadow: 1px 0px 10px 1px rgba(0, 0, 0, 0.3);
    height: 420px;
}
.item-gird-all .show-div ul{
	
}
.item-gird-all .show-div ul > li{
	padding: 5px 5px;
    border-bottom: 1px solid #eee;
    overflow: hidden;
}
.item-gird-all .show-div ul > li.active{
	background: #efefef;
	
}
.item-gird-all .show-div ul > li:hover{
	/* background:#efefef; */
	box-shadow: 1px 0px 10px 1px rgba(0, 0, 0, 0.3);
}
.show-div ul > li .item-code-show{
	width: 100%;
    overflow: hidden;
}
.show-div ul > li .item-code-show > span{
	float: left;
    padding: 5px 10px;
    background: #a0d468;
    border-radius: 3px;
    color: #fff;
}
.show-div ul > li .item-name-show{
	margin: 0 5px;
    margin-top: 5px;
    margin-bottom:0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.main-body .vendor-item-price{
	width: 900px;
    height: 458px;
    background: #fff;
    margin-top: 10px;
    padding: 10px;
    box-shadow: 1px 0px 10px 1px rgba(0, 0, 0, 0.3);
    overflow:auto;
}
.vendor-item-price .vendor-list-show{
	margin:10px;
	font-size: 14px;
    color: #666;
}
.vendor-item-price .vendor-list-show > ul{
	
}
.vendor-item-price .vendor-list-show > ul > li{
	padding: 5px 0;
}
.vendor-list-show > ul > li .vendor-box{
	background: #f9f9f9;
    height: 35px;
    line-height: 35px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    text-indent: 7px;
}
.vendor-list-show > ul > li .vendor-box > i{
	padding-right:10px;
	cursor:pointer;
}
.vendor-list-show > ul > li .vendor-box > span{
	/* margin-left: 10px; */
}
.vendor-list-show > ul > li .vendor-box .last-modify-date{
	margin-right:10px;
}
.vendor-list-show > ul > li .vendor-date-list{
	margin-left: 35px;
    margin-top: 10px;
}
.vendor-list-show > ul > li .vendor-date-list > li{
	padding:5px 0;
}
.vendor-list-show > ul > li .vendor-date-list > li .vendor-price-list{
	margin-top:10px;
	margin-left:35px;
}
.vendor-price-list > li{
	padding:5px 0;
}
.vendor-price-list > li .price{
	border-left: 3px solid #19a2d5;
}
.vendor-price-list > li span{
	margin: 0 !important;
    float: left;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.vendor-price-list > li .price .gird-title{
	width: 80px;
}
.vendor-price-list > li .price .gird-value{
	width: 100px;
	border-right: 1px solid #eee;
    padding-right: 5px;
    color: #19a2d5;
}
.page-input-con{
	display:none;
}
 .page-break-con .active, .page-break-con .active:hover{
	background-color: #19a2d5 !important;
    color: #efefef !important;
    border-color: #19a2d5;
}
.page-break-con .pg-item:hover{
	color: #19a2d5;
    border-color: #19a2d5;
}
.show-div .pur-page-break{
    margin-top: 10px;
    padding-bottom: 15px;
    position: absolute;
    bottom: 0;
    left: 15px;
}
.show-div .query-type{
	margin-bottom:10px;
    background: #eee;
    padding: 10px 0;
    overflow:hidden;
}
.show-div .query-type .query-type-set{
	float:left;
}