			.cld-container {
			    width: 100%;
			    background-color: #526f8d;
			    margin-left: auto;
			    margin-right: auto;
			}

			.select-time-bar {
			    width: 100%;
			    font-size: 17px;
			    color: #ffffff;
			    text-align: center;
			    line-height: 60px;
			}
			.select-time-bar a:link{
			    color: #ffffff;
			}
			.select-time-bar a:hover{
			    color: #eeeeee;
			}
			.select-time-bar a:visited{
			    color: #ffffff;
			}
			.year-month-select a {
			    float: none;
			    font-size: 19px;
			    color: #eeeeef;
			    text-decoration: none;
			    margin-left: 5px;
			}
			
			.year-month-select .item-dateField-pre:hover::before, .year-month-select .item-dateField-next:hover::before, .year-month-select .item-dateField-preYear:hover::before, .year-month-select .item-dateField-nextYear:hover::before {
			    color: #ffffff;
			}

			.select-con-next{
			    padding-left: 25px;
			}
			.select-con-last{
				padding-right: 25px;
			}

			.day-title {
			    width: 230px;
			    padding: 0px;
			    font-size: 13px;
			    color: #7f94cb;
			    border-collapse: collapse;
			    text-align: center;
			    margin-left: auto;
			    margin-right: auto;
			}

			.dayTitle td{
				height: 35px;
				vertical-align: inherit;
			}
			.content-container {
			    background-color: #eeeeee;
			    width: 100%;
			    padding-bottom: 40px;
			}
			.current-time {
			    height: 20px;
			    font-size: 12px;
			    color: #eeeeee;
			    text-align: center;
			    padding-bottom:10px;
			}

			.handCalendarTable{
				width: 230px;
				margin-left: auto;
				margin-right: auto;
				border-collapse: separate;
			}
			.handCalendarTable td{
				text-align: center;
				height: 30px;
				vertical-align: top;
				padding: 0px;
				margin: 0px;
				border: 1px solid transparent;
				line-height: 30px;
			}
			.handCalendarTable td:hover{
				border: 1px solid #455971;
				cursor: pointer;
			}
			.handCalendarTable .date-number {
			    margin-top: 3px;
			    text-align: center;
			    width: 100%;
			    line-height: 30px;
			}

			.handCalendarTable .lastDate, .handCalendarTable .nextDate{
				color: #999999;
			}
			.handCalendarTable .currentDate{
				color:#455971;
			}
			.handCalendarTable .weekend .date-number{
				color: #59563d;
			}
			.handCalendarTable .currentDateAsTime .date-number{
				color: #FFFFFF;
			}
			.handCalendarTable .currentDateAsTime {
			    background-color: #526f8d;
			    color: #ffffff;
			    border-radius: 50%;
			}

			.lastuserevent, .currentuserevent, .nextuserevent{
				background: url(cld.png) no-repeat;
			}
			.last-user-event-label {
			   	display:block;
			    width: 100%;
			    height: 8px;
			    margin-top:2px;
			    color: #000000;
			    overflow: hidden;
			    opacity: 0.5;
			    background-color: #dddddd;
			}

			.current-user-event-label {
			    cursor: pointer;
			    border: 1px solid #eeeeee;
			    border-radius: 3px;
			    display: block;
			    width: 200px;
			    height: 20px;
			    margin-top: 2px;
			    color: #dddddd;
			    overflow: hidden;
			    font-size: 12px;
			    line-height: 20px;
			    padding-left: 20px;
			    margin-right: auto;
			    margin-left: auto;
			}

			.next-user-event-label{
			 	display:block;
			    width: 100%;
			    height: 8px;
			    margin-top:2px;
			    color: #000000;
			    overflow: hidden;
			    opacity: 0.5;
				background-color: #dddddd;
			}
			.show-more-btn {
			    color: #ffffff;
			    width: 100%;
			    display: block;
			    font-size: 12px;
			    line-height: 5px;
			    margin-top: 2px;
			    background-color: #aabbff;
			    height: 10px;
			    margin-top: 2px;
			}

			.person-events-con {
			    margin-top: 10px;
			    width: 100%;
			    position: relative;
			    max-height: 160px;
			    padding-top: 5px;
			    padding-bottom: 5px;
			    background-color: #ddeeee;
			}

			.show-more-events-div{
				background-color:transparent;
			}
			..show-more-events-div span{
				opacity:0.9;
			}
			.cell-data-div {
			    padding: 5px 3px 4px 3px;
			    position: absolute;
			    width: 220px;
			    left: -235px;
			    top: 10px;
			    color: #eeeeee;
			    background-color: #4699b7;
			    font-size: 12px;
			    overflow: hidden;
			    z-index: 100;
			    opacity: 0.9;
			    filter: alpha(opacity=90);
			}

			.cell-data-title {
			    width: 100%;
			    height: 20px;
			    font-weight: 600;
			    font-size: 12px;
			    color: #eeeeee;
			    text-indent: 1em;
			    text-align: left;
			}

			.cell-data-message {
			    width: 200px;
			    margin-left: auto;
			    margin-right: auto;
			    min-height: 30px;
			    font-size: 12px;
			    color: #eeeeee;
			    text-indent: 2em;
			    overflow: hidden;
			    text-align: left;
			}
