body, html{
	margin: 0px;
	padding: 0px;
}
.top-bar-back{
	width:100%;
    height:30px;
    overflow:hidden;
    background-color: #323232;
    line-height:30px;
}
.link-shot-bar, .about-content-body, .top-bar-content, .header_container{
	width:1030px;
	margin-left:auto;
	margin-right:auto;
	font-family: Microsoft YaHei, Arial, Helvetica, sans-serif,"宋体";
	font-size:16px;
}
.about-content-body{
	margin-top: 20px;
	/* margin-bottom:20px; */
	/* overflow:hidden; */
}
.about-content-body .content-body{
	display:none;
	background-color:#fff;
	width: 750px;
	float: left;
	margin-left: 40px;
	color: #666;
	min-height:600px;
	position:relative;
	padding:0 20px;
}
.content-body .head-news{
	margin-top: 20px;
}
.content-body .body-news{
	margin-top: 30px;
    width: 100%;
    overflow: hidden;
}
#aboutUs_content_bodyNews li{
	padding:10px 0;
	border-bottom:1px dashed  #dddddd;
}
.body-news .title > span{
	display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #558dd8;
    color: #fff;
    font-size: 12px;
    text-align: center;
}
.body-news .title .title-view{
	display: inline-block;
	margin-left: 20px;
	position:relative;
	font-size:14px;
}
.body-news .title .title-view > div{
	display:none;
}
.body-news .title .hot > div{
	display:block;
	position: absolute;
    right: -30px;
    top: -5px;
}
.body-news .body{
	margin-top: 10px;
    padding-left: 40px;
    color: #558dd8;
    white-space: nowrap;
    overflow: hidden;
    font-size:14px;
    cursor:pointer;
}
.menu-left {
    width: 200px;
    float: left;
    margin: 0px;
    /* background: #558dd8; */
    background:#fff;
    min-height: 600px;
    position:relative;
    z-index:0;
}
.menu-left .tips{
	position: absolute;
    width: 100%;
    height: 44px;
    top: 20px;
    left: 0px;
    background-color: #f8f8f8;
    z-index: -1;
    -webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.menu-left .tips div{
	width: 8px;
    height: 100%;
    position: absolute;
    left: -8px;
    background-color: #558dd8;
}
.menu-left > ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    letter-spacing: 2px;
    margin-top:20px;
}
.menu-left > ul > ul{
	display:none;
	margin-left:40px;
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.menu-left > ul > ul > li{
	/* font-size:14px; */
}
.menu-left li{
	padding:10px 30px;
	font-size: 16px;
	color: #000;
	text-align: center;
	cursor:pointer;
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.menu-left li[child=true]{
	padding-left:60px;
}
/* .menu-left li:hover{
	background-color:#fff;
	color:#558dd8;
} */
.menu-left .active{
	/* border-bottom: 2px solid #FFFFFF; */
	/* background-color:#fff; */
	color:#558dd8;
}
.top-bar-left{
	float: left;
    width: 200px;
    text-align: left;
}
.top-bar-right{
	float: right;
    text-align: right;
   
}
.top-bar-content a, .top-bar-content label {
    color: #cccccc;
    font-size: 12px;
    margin-left:8px;
}

.login_header{
	width:100%;
    height:60px;
    overflow:hidden;
    line-height: 60px;
}
.header_left {
    float: left;
    width: 200px;
}
.cloud-logo{
	height: 60px;
}

.header_right {
    float: right;
    width: 400px;
    text-align:right;
}

.header_link {
    padding-top: 14px;
    height: 60px;
    min-width: 60px;
    font-size: 16px;
    margin-left: 20px;
    font-family: Microsoft YaHei, Arial, Helvetica, sans-serif;
}


.header_link:link{
    color:#666;
 }
 .header_link:visited{
    color:#666;
 }
.header_link:hover{
  	border-top:4px solid #0377c1;
    color:#326d93;
    text-decoration: none;
 }
 .content{
    font-size: 14px;
    color: #666;
    padding-top:10px;
    padding-left:40px ;
    line-height: 30px;
}
.content p{
    margin-top:14px;
}
a:link{
	text-decoration: none;
}
#aboutUs_conten4.content-body .title{
	margin: 30px 0;
    font-size: 16px;
}
.content-body .big{
	font-weight: bold;
}
.content-body .main-location{
	position:relative;
	width: 100%;
    height: 400px;
	background:url(../../index/images/qingpu-office-1.jpg) no-repeat;
    background-size: cover;
}
.content-body .main-location > div{
	position: absolute;
    width: 240px;
    height: auto;
    top: 30px;
    right: 30px;
    padding:20px;
    background-color:rgba(253, 245, 227, 0.9);
}
.content-body h1{
	font-size: 16px;
    font-weight: bold;
    margin: 10px 0 20px;
}
.content-body .main-location p{
	color:#888;
}
.content-body .location{
	padding: 20px;
}
.content-body .location ul{
	overflow: hidden;
    width: 100%;
    margin-top: 20px;
}
.content-body .location ul li{
	float: left;
    color: #888;
    margin-left: 20px;
    max-width: 220px;
    padding-bottom: 10px;
    border-bottom: 5px solid #f0f0f0;
}
.content-body .location ul.max li{
	width: 340px;
	max-width:500px;
	overflow:hidden;
}
.content-body .location ul li h2{
    color: #666;
    margin: 20px 0;
}
.content-body .location ul li p{
	margin:0;
}
.content-body .location ul li a{
	color:#558dd8;
	cursor:pointer;
}