.main-content {
    color: #333;
    font-family: "宋体", "微软雅黑", "arial, helvetica, sans-serif";
    font-size: 12px;
    margin-top: 30px;
}

.head-part{
	height: 36px;
	background: #4684bd;
	font-weight: 600;
    font-size: 14px;
    line-height: 36px;
    color: #FFFFFF;
    width: 100%;
    margin-bottom: 18px;
    background: -moz-linear-gradient(top,  #4c8cc9 0%, #4481ba 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c8cc9), color-stop(100%,#4481ba));
    background: -webkit-linear-gradient(top,  #4c8cc9 0%,#4481ba 100%);
    background: -o-linear-gradient(top,  #4c8cc9 0%,#4481ba 100%);
    background: -ms-linear-gradient(top,  #4c8cc9 0%,#4481ba 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c8cc9', endColorstr='#4481ba',GradientType=0 );
}
.head-part .title{
	margin-left: 20px;
}
.line{
	margin-bottom: 6px;
	overflow:hidden;
}
.input-prompt{
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: right;
	display:block;
	float: left;
	vertical-align: middle;
}
.input-reminder{
	width: 144px;
	text-align: left;
	float: right;
	margin-left: 6px;
	line-height: 30px;
	color: #888;
}
.main-content input {
    width: 180px;
    line-height: 20px;
    border: 1px solid #d1d1d1;
    height: 20px;
    float:left;
    padding: 4px;
}
.pwd-strength{
	color: #FFFFFF;
	margin-top: 2px;
	margin-left: 100px;
}
.pwd-strength span{
	text-align: center;
	width: 63px;
	line-height: 12px;
	height: 12px;
	display: inline-block;
}
.pwd-strength .low{
	background-color: #eecb08;
}
.pwd-strength .middle{
	background-color: #fd9902;
}
.pwd-strength .top{
	background-color: #fd6602;
}
.action-btn{
	width: 190px;
	height: 30px;
	border: none;
	background-color: #0099FF;
	color: #FFFFFF;
	display: block;
	margin-left: 100px;
	margin-top: 16px;
	cursor: pointer;
}
