@CHARSET "UTF-8";

body {
	background-color: #FFF;
}

div,span,li {
	font-family: Microsoft YaHei;
}

a {
	text-decoration: none !important;
}

a:hover {
	color: #0590CC;
}

.openplatform-nav-simple {
	position: relative;
	margin: 0 auto;
	width: 100%;
	height: 64px;
	/* overflow:hidden; */
	background-color: #373942;
	color: #FFF
}

.openplatform-nav-simple .top-openplatform-nav.logo {
	font-size: 0px;
	float: left;
	margin-left: 30px;
}

.openplatform-nav-simple .top-openplatform-nav.pull-left {
	float: left;
	margin-left: 30px;
	position: relative;
}

.top-openplatform-nav.pull-left ul {
	margin: 0px;
}

.top-openplatform-nav.pull-left ul li {
	text-align: center;
	float: left;
	width: 100px;
	position: relative;
}

.top-openplatform-nav.pull-left ul li a:hover {
	background-color: #2B2D34 !important;
}

.sub-nav ul li a:hover {
	color: #0590CC !important;
}

.top-openplatform-nav.pull-left ul li a:focus+.sub-nav {
	/* display:block; */
	/* 	opacity: 1; */
	/* 	z-index: 100; */
	
}

.top-openplatform-nav.pull-left ul li .sub-nav {
	white-space: nowrap;
	z-index: 111;
	position: absolute;
	margin-top: 64xp;
	padding: 15px;
	margin-left: -100px;
	background-color: #2b2d34;
	color: #FFF;
	width: 600px;
	height: 270px;
	visibility: hidden;
	/* 		display:none; */
	/* 	opacity: 0; */
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
	-webkit-transition: opacity 0.5s ease
}

.sub-nav ul {
	width: 200px;
	overflow: hidden !important;
	float: left !important;
	margin-left: 10px !important;
	height: 164px;
}

.sub-nav ul li {
	width: 200px !important;
	overflow: hidden !important;
	float: left !important;
	text-align: left !important;
	margin-right: 40px !important;
}

.sub-nav ul li span {
	color: #5eb5fe;
	font-size: 14px !important;
}

.sub-nav ul li a:hover {
	color: #5eb5fe;
}

.sub-nav ul li a {
	font-size: 10px !important;
	padding: 5px !important;
	cursor: pointer;
}

.top-openplatform-nav.pull-left ul li a {
	display: block;
	color: #e5e9ee;
	padding: 21.5px 20px;
	text-decoration: none;
	font-size: 14px;
}

.openplatform-nav-simple .top-openplatform-nav.pull-right {
	float: right;
	width: 200px;
	height: 64px;
	margin-right: 30px;
	position: relative;
}
/* .openplatform-nav-simple .top-openplatform-nav.pull-right a{
    height:64px;
	margin-top:0px!important;
}
.openplatform-nav-simple .top-openplatform-nav.pull-right a p{
	line-height:64px;
	margin:0px!important;
} */
.top-openplatform-nav.pull-right a {
	color: #FFF;
	float: left;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	/* margin-top: 20px; */
	text-align: center;
	margin-right: 20px;
}
.top-openplatform-nav.pull-right a p,.icon-bell-alt{
	line-height:64px;
	margin:0px!important;
}

.openplatform-nav.label {
	width: auto;
	padding: 20px 90px;
	font-size: 20px;
	color: #057cb2;
	border-bottom: 2px solid #1f4e7c;
	margin-bottom: 30px;
}

.openplatform-nav.content {
	position: relative;
	width: 100%;
	overflow: hidden;
	width: 1100px;
	margin: 0 auto;
	margin-bottom: 30px;
}

.openplatform-nav.content #main ul {
	overflow: hidden;
}

.openplatform-nav.content #main ul li {
	margin-left: 60px;
	position: relative;
	float: left;
}

.openplatform-nav.content .head {margin 0 auto;
	font-size: 24px;
	text-align: center;
}

.openplatform-nav.content {
	text-align: center;
}

.openplatform-nav.content a {
	overflow: hidden;
}

.content1 {
	text-align: left;
	float: left;
	width: 100%;
	margin-left: 20px;
	clear: both; /* 清除左右浮动 */
	word-break: break-word !important; /*文本行的任意字内断开  */
	word-wrap: break-word !important; /* IE */
	white-space: -moz-pre-wrapQ !important; /* Mozilla */
	/* white-space: -hp-pre-wrap; HP printers  */
	/* white-space: -o-pre-wrap; Opera 7  */
	/* white-space: -pre-wrap; Opera 4-6  */
	/* white-space: pre; CSS2  */
	/* white-space: pre-wrap; CSS 2.1  */
	/* white-space: pre-line; CSS 3 (and 2.1 as well, actually)  */
}

.openplatform-nav.content .xfile {
	text-align: left;
	float: left;
	overflow: hidden;
	font-size: 14px;
	width: 70%;
	margin-left: 200px;
	clear: both; /* 清除左右浮动 */
	word-break: break-word !important; /*文本行的任意字内断开  */
	word-wrap: break-word !important; /* IE */
	white-space: -moz-pre-wrapQ !important;
	word-break: break-word !important;
	clear: both; /* Mozilla */
	/* white-space: -hp-pre-wrap; HP printers  */
	/* white-space: -o-pre-wrap; Opera 7  */
	/* white-space: -pre-wrap; Opera 4-6  */
	/* white-space: pre; CSS2  */
	/* white-space: pre-wrap; CSS 2.1  */
	/* white-space: pre-line; CSS 3 (and 2.1 as well, actually)  */
}


.openplatform-nav.content .xfile td {
	font-size: 10px!;
	border: 2px solid #000 !important;
	margin: 0 auto;
	width: auto !important;
	padding: 5%;
}

.openplatform-nav.content .openplatform-nav.sidebar {
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	float: left;
	width: 20%;
	padding: 20px;
}

.openplatform-nav.sidebar .first_ul {
	text-overflow: ellipsis;
	margin-top: 20px;
}

.openplatform-nav.sidebar .first_ul li span:hover {
	background-color: #f5f5f5
}

.openplatform-nav.sidebar .first_ul li span {
	margin-left: 10px;
}

.openplatform-nav.sidebar .first_ul li a {
	margin-left: 10px;
}

.openplatform-nav.sidebar ul .first {
	display: block;
	text-decoration: blink;
	font-weight: bold;
	font-size: 16px;
	width: 200px;
	background: #f5f5f5;
	overflow: hidden;
}

.openplatform-nav.sidebar ul li {
	text-overflow: ellipsis !important;
	width: 100%;
	display: none;
	padding: 5px 0;
	/* height: 20px; */
}

.openplatform-nav.sidebar ul li ul li {
	display: block;
}

.openplatform-nav.sidebar li {
	font-size: 16px;
}

.second_ul a:hover {
	text-decoration: underline !important;
}

.openplatform-nav.sidebar ul li .second_ul {
	margin-left: 30px;
	font-size: 14px;
}

.openplatform-nav.sidebar a {
	font-size: 16px !important;
}

.openplatform-nav.content .openplatform-nav.main {
	overflow: hidden;
	float: left;
	/* margin-right:150px; */
	width: 70%;
	padding: 10px;
	font-size: 14px;
}

.openplatform-nav.content #content1 img {
	width: 500px !important;
}
.covered{
	position: relative;
}
.cover{
	display:block;
	opacity:1;
	z-index:20;
	position: absolute;
	width:90%;
	height:90%;
	margin: 2px 2px;
    background-color: #FFF;
    text-align: center;
}
.cover a{
	z-index:21;
}

.openplatform-nav.content .openplatform-nav.main .labels {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: left;
	background-color: #E9F2FF;
	border-left: 2px solid #333;
	padding-left: 10px;
	font-size: 16px;
}

.openplatform-nav.content .openplatform-nav.main div ul a {
	text-align:left;
	float:left;
	font-size: 14px !important;
	padding: 10px;
	margin: 0 20px;
	width:120px;
}

.openplatform-nav.bottom {
	position: relative;
	width: 100%;
	margin: 0 auto;
	background-color: black;
	overflow: hidden;
}

.openplatform-nav.bottom .copyright {
	width: 100%;
	overflow: hidden;
}

.openplatform-nav.bottom .copyright ul li {
	padding: 15px;
	position: relative;
	float: left;
}

.openplatform-nav.bottom .link {
	width: 100%;
	overflow: hidden;
}

.openplatform-nav.bottom .link ul li {
	padding: 15px;
	position: relative;
	float: left;
}

.openplat-nav-ul {
	text-align: left;
	overflow: hidden;
}

.openplat-nav-ul>li {
	float: left;
}

.grid-group {
	width: 765px;
	margin: 0 auto;
	overflow: hidden;
}

.grid-group .grid {
	height: 170px;
	width: 140px;
	padding-top: 0px;
	background: url(../../index/images/opentest4.png) no-repeat 0 0;
	float: left;
	margin-right: 10px;
}

.hand-play-movie-label-con {
	width: auto;
}

.login_bottom {
	background: #323232;
}

.hand-copyright {
	color: #999;
	line-height: 50px;
	height: 100px;
	font-size: 14px;
	text-align: center;
	font-family: Microsoft Yahei, tahoma, arial, sans-serif, helvetica;
}

.hand-copyright a:link {
	color: #696969
}

.hand-copyright a:hover,.top-bar-content a:hover,.login_footer a:hover {
	color: #ffffff;
}

.industry-part,.our-partners-part,.top-bar-content,.header_container,.login-body,.linkway-connectionway-part,.slogan-hand,.next-part
	{
	width: 1030px;
	margin-left: auto;
	margin-right: auto;
	font-family: Microsoft YaHei, Arial, Helvetica, sans-serif, "宋体";
}

.linkway-part {
	width: 100%;
	float: left;
}

.connectionway-part {
	width: 250px;
	float: right;
}

.linkway-part-ul {
	float: left;
	height: 140px;
	color: #999999;
	/* border-right: 1px solid #474545; */
}

.linkway-part-ul>li {
	height: 30px;
	font-size: 12px;
	line-height: 20px;
	text-align: left;
}

.connectionway-part {
	text-align: left;
	font-size: 14px;
	color: #ffffff;
}

.linkway-part-ul .linkway-classname {
	font-size: 14px;
	color: #ffffff;
}

.linkway-part-ul .linkway-hotline {
	font-size: 24px;
	color: #fff;
}

.linkway-part-ul .linkway-interway {
	width: 150px;
	/* overflow:hidden; */
	margin-top: 20px
}

.linkway-part-ul .linkway-interway .interPic {
	position: relative;
	width: 50px;
	height: 50px;
	float: left;
	cursor: pointer;
	background: url(../../images/login/connect-ways-imgs-color.png)
		no-repeat;
}

.linkway-part-ul .linkway-interway .weixin {
	background-position: -20px -5px;
}

.linkway-part-ul .linkway-interway .weixin:hover {
	background-position: -20px -57px;
}

.linkway-part-ul .linkway-interway .weixin:hover .weixin-qrcode {
	/* display:block; */
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

.linkway-part-ul .linkway-interway .weixin .weixin-qrcode {
	/* display:none; */
	opacity: 0;
	position: absolute;
	top: -110px;
	left: -30px;
	padding: 5px;
	background-color: #fff;
	-webkit-transform: scale3d(0.1, 0.2, 1);
	transform: scale3d(0.1, 0.2, 1);
	-webkit-transform-origin: 50% 120%;
	transform-origin: 50% 120%;
	-webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
	transition: opacity 0.4s, transform 0.4s;
	-webkit-transition-timing-function: ease, cubic-bezier(0.6, 0, 0.4, 1);
	transition-timing-function: ease, cubic-bezier(0.6, 0, 0.4, 1);
}

.linkway-part-ul .linkway-interway .qq {
	background-position: -80px -5px;
}

.linkway-part-ul .linkway-interway .qq .qq-account {
	display: none;
	position: absolute;
	top: -100px;
	left: -25px;
	background-color: #fff;
	color: #000;
	font-size: 20px;
	height: 100px;
	line-height: 100px;
}

.linkway-part-ul .linkway-interway .qq:hover {
	background-position: -80px -57px;
}

.linkway-part-ul .linkway-interway .qq:hover .qq-account {
	display: block;
}

.linkway-part-ul .linkway-interway .weibo {
	background-position: -140px -5px;
}

.linkway-part-ul .linkway-interway .weibo .weibo-qrcode {
	/* display:none; */
	opacity: 0;
	position: absolute;
	top: -110px;
	left: -30px;
	padding: 3px;
	background-color: #fff;
	-webkit-transform: scale3d(0.1, 0.2, 1);
	transform: scale3d(0.1, 0.2, 1);
	-webkit-transform-origin: 50% 120%;
	transform-origin: 50% 120%;
	-webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
	transition: opacity 0.4s, transform 0.4s;
	-webkit-transition-timing-function: ease, cubic-bezier(0.6, 0, 0.4, 1);
	transition-timing-function: ease, cubic-bezier(0.6, 0, 0.4, 1);
}

.linkway-part-ul .linkway-interway .weibo:hover {
	background-position: -140px -57px;
}

.linkway-part-ul .linkway-interway .weibo:hover .weibo-qrcode {
	/* display:block; */
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

.connect-ways label {
	line-height: 50px;
	display: inline-block;
	height: 50px;
	font-size: 20px;
	float: right;
	margin-left: 10px;
}

.focus-us {
	margin-top: 4px;
	width: 230px;
}

.focus-us>div {
	display: block;
	float: left;
	width: 100px;
	margin-right: 10px;
	text-align: center;
}

.login_bottom a {
	color: #999;
}

.linkway-connectionway-part {
	height: 150px;
	padding-top: 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid #474545;
}
#login{
	overflow:hidden;
	z-index:1200;
	right:20px;
	position:absolute;
	width: 270px;
	height: 350px;

	}
}