.login_news_body{
	width:100%;
	overflow:hidden;
	background:#fff;
	font-family:Microsoft Yahei;
}
.head{
	width:100%;
	height:60px;
}
.login_news_body .container{
	width:82%;
	min-width:1000px;
	height:auto;
	margin:0 auto;
	overflow:hidden;
}
.login_news_body .left_pos{
	float:left;
}
.login_news_body .right_pos{
	float:right;
}
.login_news_body .ul_sh{
	position:relative;
	overflow:hidden;
	margin:0;
}
.head .head_menu{
	height:60px;
	padding-top:2px;
}
.head .head_menu li{
	float:left;
	height:100%;
	font-size: 16px;
	border-top:4px solid#fff;
	cursor:pointer;
	text-align:center;
	margin-left:20px;
}
.head .head_menu li a{
    text-decoration: none;
    display: inline-block;
    margin-top: 17px;
    color:#666;
}
.head .head_menu li a:hover{
	color:#326d93;
}
.head .head_menu li:hover{
	border-top: 4px solid #0377c1;
}
.login_news_body .news-content{
	width:100%;
	min-height:600px;
	background: #FFF url(../../index/img/background/loginnewspage-bg.png) repeat-x scroll 0% 0%;
}
.news-content .news-content-contain{
	width:1100px;
	margin:0 auto;
	overflow:hidden;
	padding:20px 0;
}
.news-content-contain .news-list-head{
	overflow:hidden;
}
.left{
	float:left;
}
.right{
	float:right;
}
.news-content-contain .news-list-head img{
	width:830px;
	height:100px;
}
.news-list-head .search-box{
	width: 1100px;
    height: 48px;
    /* border: 1px solid #e1e1e1; */
    background: #fff;
    /* padding: 15px; */
}
.news-list-head .search-box .search-pl{
	
}
.search-pl .search-title{
	height: 25px;
    line-height: 25px;
    font-size: 16px;
    border-bottom: 1px solid #e1e1e1;
}
.search-pl .search-btns{
	    width: 500px;
	   /*  margin: 0 auto; */
	margin-top: 15px;
	margin-left: 50px;
	
}
.search-pl .search-btns > input{
	width: 380px;
    height: 27px;
    line-height: 27px;
    text-indent: 10px;
    float: left;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 1px solid #ccc;
    color:#888;
}
.search-pl .search-btns > span{
	float: left;
    width: 100px;
    height: 29px;
    background: #17AAE1;
    color: #fff;
    text-align: center;
    line-height: 29px;
    font-size: 14px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor:pointer;
}
.search-pl .search-btns > span:hover{
	background:#1EBEFA
}
.news-content-contain .news-list-content{
	margin-top: 20px;
    border: 1px solid #e1e1e1;
    background: #fff;
}
.news-list-content .news-list-h{
	/* padding: 20px 0; */
    margin: 0 30px;
    border-bottom: 1px solid #e1e1e1;
}
.news-list-content .news-list-h .news-list{
	overflow: hidden;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    color: #666;
}
.news-list-value{
	margin: 10px 0;
	height: 20px;
    line-height: 20px;
    font-size: 20px;
    color: #666;
    position: absolute;
}
.news-list li{
	float:left;
	height:58px;
	width: 100px;
	line-height: 58px;
	background-color: #ffffff;
	cursor: pointer;
	text-align: center;
	
}
.news-list .selected{
	border-bottom: 2px solid #8eb8d4;
}
/* .news-list-value-div{
	overflow:hidden;
	width:100px;
	border: 1px solid #000;
	height: 200px;
} */
.news-list-content .news-list-div{
	margin: 0 30px;
    overflow: hidden;
}
.news-list-div .news-list-c{
	margin-bottom:40px;
}
.news-list-div .news-list-c > li{
	height: 50px;
    padding: 30px 0;
    overflow: hidden;
    border-bottom: 1px solid #e1e1e1;
}
.news-list-c > li .num-show-field{
	width: 70px;
}
.news-list-div .news-list-c .num-field{
	width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #17aae1;
    text-align: center;
    line-height: 30px;
    color: #fff;
    margin: 10px auto;
}
.news-list-c > li .bulletin-detial{
	width: 940px;
	overflow:hidden;
}
.left-align-f{
	text-align:left;
}
.right-align-f{
	text-align:right;
}
.out-line-set{
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.news-list-div .news-list-c .news-title{
    font-size: 18px;
    color: #666;
    height: 30px;
    line-height: 30px;
    cursor:pointer;
}
.news-list-div .news-list-c .news-title:hover{
	color:#17aae1;
}
.news-list-div .news-list-c .news-release-infor{
	overflow: hidden;
    font-size: 14px;
    color: #999;
    height: 20px;
    line-height: 20px;
}
.news-list-div .news-list-c .news-release-infor > span{
	width: 40%;
}