div,ul,li{
	font-family:Microsoft YaHei;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
span{
	font-family:Microsoft YaHei;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
[class^="icon-"], [class*=" icon-"]{
	line-height:1.5;
}
.top-head{
	width:100%;
	overflow:hidden;
	padding:10px 0;
	background-color:#1f7cd0;
}
.inline{
	display:inline-block
}
.service-main-content{
	width:1100px;
	margin:0 auto;
	overflow: hidden;
}
.service-left{
	float:left;
}
.service-right{
	float:right;
}
.service-center-top{
	width: 100%;
    height: 30px;
    overflow: hidden;
    background-color: #323232;
    color: #cccccc;
    line-height: 30px;
}
.service-center-top a{
	color:#ccc;
	margin-left:8px;
}
.top-head .center-name{
	color:#fff;
	font-size: 30px;
    margin: 15px 0px;
    padding-left: 20px;
    border-left: 1px solid #156dbe;
}
.top-head .main-menu{
	color: #fff;
    margin-top: 22px;
}
.top-head .main-menu a{
	color:#fff;
	font-size:20px;
	margin-left:15px;
}
.top-head .main-menu a:hover{
	text-decoration: none;
}
.main-content{
	
}
.main-content .main-top-head{
	background-color: #0a6cbf;
}
.main-content .main-top-head ul{
	margin: 0;
    overflow: hidden;
}
.main-content .main-top-head ul li{
    font-size: 16px;
    float: left;
    color:#fff;
    padding: 10px 0;
}
.main-content .main-top-head ul li > div{
	border-right: 1px solid #3c87cb;
    padding: 0 15px;
    cursor:pointer;
}
.main-content .main-top-head ul li > div > a{
	color:#fff;
}
.main-content .main-top-head ul li > div > a:hover{
	  text-decoration: none;
}
.main-content .main-top-head ul li.active{
	background-color:#fff;
	color:#0a6cbf;
}
.main-content .main-top-head ul li.active a{
	color:#0a6cbf;
}
.main-content .main-top-head ul li.active > div{
	border-right:0;
}
.main-content .main-top-head ul li:hover:not(.active){
	background-color:#2c89dd;
}
.main-content .content{
	width: 100%;
    min-width: 1190px;
    background-color: transparent;
    background-image: url(../../index/images/service-center-1.png);
    /* background-position: center -161px; */
    background-size:100% 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
    position:relative;
    /* height: 738px; */
}
.main-content .content .service-son{
	display:none;
}
.main-content .content .list-ul{
	width:100%;
	padding-top: 20px;
}
.main-content .content .list-ul ul.main-ul{
	overflow:hidden;
	width:100%;
	margin:0;
}
.main-content .content .list-ul ul.main-ul>li{
	position:relative;
	*background-color: rgb(169, 169, 184);
	background-color: rgba(69, 69, 84, 0.6);
    padding: 20px 20px;
    *padding:0;
    float: left;
    width: 20%;
    min-height:481px;
    border-right: 1px solid rgba(91,91,91,0.1);
}
.main-content .content .list-ul ul.main-ul>li .shadow{
	position:absolute;
	display:none;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background-color: rgba(0,0,0,0.6);
}
.main-content .content .list-ul ul.main-ul>li .shadow > ul.link{
	width: 60%;
    margin: 50px auto 0 auto;
    height: 300px
}
.main-content .content .list-ul ul.main-ul>li .shadow > ul.link > li{
	width: 100%;
    text-align: center;
    padding: 5px 0;
    margin-bottom: 2px;
    margin-bottom: 5px;
    border: 1px solid #fff;
    color: #fff;
    cursor:pointer;
}
.main-content .content .list-ul ul.main-ul>li .shadow > ul.link > li:hover{
	background-color:#ff7300;
	border-color:#ff7300;
}
.main-content .question-ul{
	width: 60%;
    margin: 0px auto 0 auto;
}
.main-content .question-ul li{
    color: #fff;
    cursor:pointer;
    font-size:12px;
    width:100%;
	list-style-type: disc;
	white-space: nowrap;
}
.main-content .question-ul li:hover{
	color:#ff7300;
}
.main-content .content .list-ul ul.main-ul>li:hover .shadow{
	display:block;
}
.main-content .content .list-ul ul.main-ul>li:hover .page-img{
	display:none;
}
.main-content .content .list-ul ul li .page-img{
	display:block;
	margin-top: 100px;
    text-align: center;
}
.main-content .content .list-ul ul li .page-img img{
	height:101px;
}
.main-content .content .list-ul ul li .page-img i{
	font-size: 40px;
    color: #fff;
}
.main-content .content .list-ul ul li .font{
	margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
    color: #edddad;
}
.main-content .content .list-ul ul li .details{
	margin-top:20px;
	text-align:left;
	font-size:14px;
	color:#fff;
	height:100px;
}
.main-content .content .list-ul ul li.black{
	padding:0;
	*background-color:#333;
	background-color: rgba(0,0,0,0.7);
	border-right: 0;
	color:#fff;
}
.main-content .content .list-ul ul li.black .blanket-f{
	overflow: hidden;
	width:100%;
	height:250px;
	border-bottom:1px solid #5f5e5c;
	color:#adadad;
}
.main-content .content .list-ul ul li.black .blanket-f .button-in{
	width: 70%;
    margin: 80px auto 60px auto;
    border: 1px solid #adadad;
    border-radius: 20px;
    text-align: center;
    padding: 5px 0;
    cursor:pointer;
}
.main-content .content .list-ul ul li.black .blanket-f .button-in a{
	color:#adadad;
}
.main-content .content .list-ul ul li.black .blanket-f .button-in:hover{
	color:#ff7300;
}
.main-content .content .list-ul ul li.black .blanket-f .font-black{
	font-size: 16px;
    width: 80%;
    margin: 0 auto;
}
.main-content .content .list-ul ul li.black .blanket-m{
	overflow: hidden;
	width:100%;
	height:116px;
	border-bottom:1px solid #5f5e5c;
}
.main-content .content .list-ul ul li.black .blanket-b{
	overflow: hidden;
	width:100%;
	height:115px;
}
.main-content .content .list-ul ul li.black .blanket-b .contect{
	width:50%;
	height:100%;
	border-right:1px solid #5f5e5c;
}
.main-content .content .list-ul ul li.black .blanket-b .contect .sub1{
	width: 50px;
    height: 75px;
    margin: 0 auto;
    background: url(../../index/images/2296994_1751704920.png) no-repeat -3px -84px;
}
.main-content .content .list-ul ul li.black .blanket-b .contect .sub2{
  width: 50px;
  height: 75px;
  margin: 0 auto;
  background: url(../../index/images/2296994_1751704920.png) no-repeat -157px -84px;
}
.main-content .content .down-details{
	padding:20px 40px;
	*padding:0;
	background-color:#fff;
	width:100%;
	margin-bottom:20px;
}
.main-content .content .down-details .title-all{
	padding:10px 0;
	*padding:10px 40px;
	width:100%;
	border-bottom:1px solid #d9d4d3;
	color:#8d8988;
}
.main-content .content .down-details .title-all i{
	font-size: 24px;
    margin-right: 10px;
}
.main-content .content .down-details .title-all span{
	font-size:16px;
}
.main-content .content .down-details .link-content-all{
	padding:10px;
	overflow:hidden;
}
.main-content .content .down-details .link-content-all > ul{
	width: 25%;
	float:left;
    text-align: center;
    color: #8d8988;
    margin:0;
}
.main-content .content .down-details .link-content-all > ul > li{
	width: 100%;
    font-size: 14px;
    padding: 3px 0;
    cursor:pointer;
}
.main-content .content .down-details .link-content-all > ul > li.weight{
	color: #666;
    font-weight: bold;
}
/* 常见问题 */
/* 常见问题搜索页面 */
.service-question-query{
	width:100%;
	padding:20px 0;
	background-color: #f0f1f2;
}
.service-question-query .query-main-page{
	width:1100px;
	margin:0 auto;
	background-color:#fff;
	min-height:500px;
}
.query-main-page .query-rs{
	width: 70%;
    /* padding: 40px 60px; */
}
.query-main-page .query-rs > ul{
	list-style-type: disc;
    padding-left: 20px;
    color: #ccc;
    margin: 60px 60px;
}
.query-main-page .query-rs > ul > li{
	margin: 20px 0;
    font-size: 16px;
}
.query-main-page .query-rs > ul > li:hover > span{
	color:#ff7300;
}
.query-main-page .query-rs > ul > li > span{
    color: #5982a9;
    cursor:pointer;
}
.query-main-page .queryResul-hot-question{
	padding: 20px 20px;
}
.query-main-page .queryResul-hot-question .query-hot-title{
    margin: 30px 0;
    font-size: 18px;
    font-weight: 700;
}
.query-main-page .queryResul-hot-question > ul{
	list-style-type: disc;
    color: #ccc;
    padding-left: 20px;
}
.query-main-page .queryResul-hot-question > ul > li{
	margin: 10px 0;
	cursor:pointer;
}
.query-main-page .queryResul-hot-question > ul > li > span{
	color: #666;
}
.query-main-page .queryResul-hot-question > ul > li:hover > span{
	color:#ff7300;
}
.service-main-content .query-form-question{
	overflow: hidden;
    margin-top: 20px;
    margin-right: 20px;
}
.query-form-question .search-input{
	padding: 6px 10px;
    width: 300px;
    height: 30px;
    line-height: 30px;
    background-color: #fff;
}
.query-form-question .search-input > input{
	border:0 !important;
	width:100%;
}
.query-form-question .search-input > input:active {
	border:0;
}
.query-form-question .search-button{
	height: 30px;
    width: 60px;
    background-color: #ff7300;
    color: #fff;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}
.service-main-content .query-hot-question{
	overflow:hidden;
	margin-top: 5px;
    color: #fff;
}
.service-main-content .query-hot-question > ul{
	overflow:hidden;
	margin:0;
	margin-left:10px;
}
.service-main-content .query-hot-question > ul > li{
	float:left;
	padding:0 5px;
}
/* 其他 */
.content-question{
	width: 100%;
    min-width: 1190px;
    background-color: #fff;
    margin: 0 auto;
    position:relative;
}
#service_son2{
	overflow:hidden;
}
.sevice-question-centen{
	width:1100px;
	overflow:hidden;
	margin: 20px auto;
}
.service-son .ques-menu{
	width:249px;
	min-height:600px;
	height:100%;
	/* border:1px solid #dcdcdd;
	background-color:#f5f5f5; */
}
.ques-menu .ques-title{
	width: 100%;
    height: 60px;
    color: #fff;
    background: #6baee8;
    background: -moz-linear-gradient(top,#70b6ef,#609fdb);
    background: -webkit-gradient(linear,0 0,0 bottom,from(#70b6ef),to(#609fdb));
    background: -o-linear-gradient(top,#70b6ef,#609fdb);
}
.ques-title > div{
	float: left;
    width: 30px;
    height: 30px;
    margin: 15px 17px;
    background-color: #0a6cbf;
    border-radius: 50%;
    padding: 1px 6px
}
.ques-title > div > i{
	font-size: 20px;
}
.ques-title > span{
	float: left;
    font-size: 16px;
    margin-top: 17px;
    cursor:pointer;
}
.ques-menu .ques-menu-ul{
	margin: 0;
    width: 100%;
}
.ques-menu .ques-menu-ul > li{
	width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    overflow: hidden;
    border-bottom: 1px solid #e6e6e6;
    cursor:pointer;
}
.ques-menu .ques-menu-ul > li > div{
	float: left;
    width: 20px;
    height: 20px;
    background-color: #dfe0e0;
    color: #bbbaba;
    margin: 20px 22px;
    padding: 0 4px;
    line-height: 22px;
    border-radius: 5px;
}
.ques-menu .ques-menu-ul > li > div > i{
	font-size: 16px;
}
.ques-menu .ques-menu-ul > li > span{
	float: left;
	color: #666;
    margin-top: 17px;
    font-size: 16px;
}
.ques-menu .ques-menu-ul > li:hover{
	background-color:#e1e1e1;
	-moz-box-shadow: 0 1px 0 0 rgba(255,255,255,.94),0 1px 0 0 rgba(131,133,135,.2) inset;
    -webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,.94),0 1px 0 0 rgba(131,133,135,.2) inset;
    box-shadow: 0 1px 0 0 rgba(255,255,255,.94),0 1px 0 0 rgba(131,133,135,.2) inset
}
.ques-menu .ques-menu-ul > li:hover > div{
	background-color:#a4a4a5;
	color:#ebebec;
}
.service-son .ques-content{
	width:849px;
	*width:840px;
	min-height:600px;
	border:1px solid #dcdcdd;
	border-left:0;
	min-height:800px;
}
/* 新手指引 */
#service_son3{
	position:relative;
	overflow:hidden;
}
.service-son .newer-head{
	width:100%;
	position:relative;
	height:150px;
	overflow:hidden;
	margin-bottom: 20px;
}
.service-son .user-new{
	overflow: hidden;
    margin-top: 40px;
    margin-bottom: 40px;
}
.service-son .newer-menu{
	width:200px;
	overflow:hidden;
}
.newer-menu .newer-title{
	text-align:center;
}
.newer-menu .newer-title > i{
	color: #0a6cbf;
    font-size: 24px;
}
.newer-menu .newer-title > span{
	font-size: 18px;
    margin-left: 10px;
}
.service-newer-menu{
	margin-top: 20px;
    font-size: 14px;
    color: #666;
}
.service-newer-menu > li{
	padding: 5px 0 5px 76px;
	cursor:pointer;
}
.service-newer-menu > li:hover{
	color: #0a6cbf;
}
.service-newer-menu > li.strong{
	font-weight: bold;
    padding-left: 60px;
    color: #333
}
.service-newer-menu > li.strong .separetor{
	margin-right: 10px;
    font-size: 14px;
    color: #0a6cbf;
}
.user-new .newer-main{
	width: 900px;
	*width:800px;
    padding: 10px 50px;
}
.newer-main .new-head{
	overflow: hidden;
    width: 100%;
    border-bottom: 1px solid#ddd;
    padding-bottom: 10px;
}
.newer-main .new-identity{
	width:100%;
	margin-top:20px;
}
.newer-main .new-identity > ul{
	overflow:hidden;
}
.newer-main .new-identity > ul > li{
	float:left;
	width:33.3%;
}
.newer-main .new-identity > ul > li > a{
	display: block;
    height: 240px;
    width: 240px;
    margin: 0 auto;
}
.newer-main .new-identity .new-unregist{
	background: url(../../images/service-newer-guide.jpg) no-repeat -170px 0;
}
.newer-main .new-identity .new-unregist:hover{
	background-position: -169px -250px;
}
.newer-main .new-identity .new-seller{
	background: url(../../images/service-newer-guide.jpg) no-repeat -421px 0;
}
.newer-main .new-identity .new-seller:hover{
  background-position: -420px -250px;
}
.newer-main .new-identity .new-buyer{
	background: url(../../images/service-newer-guide.jpg) no-repeat -672px 0;
}
.newer-main .new-identity .new-buyer:hover{
	background-position: -671px -250px
}
.newer-main .newer-show{
	margin-top:30px;
}
.newer-main .newer-show .new-show-bar{
	height: 50px;
    background: url(../../images/service-newer-guide.jpg) no-repeat 0 -556px;
}
.newer-main .newer-show .newer-show-detial{
	
}
.newer-show-detial > ul{
	overflow:hidden;
}
.newer-show-detial > ul > li{
	float: left;
    width: 25%;
    padding:10px 0;
}
.newer-show-detial .show-step{
	width: 136px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid#ddd;
    box-shadow: 2px 2px 10px #ddd;
    cursor: pointer;
}
.newer-show-detial .show-step:hover{
	box-shadow: 2px 2px 10px #888;
}
.newer-show-detial .show-step > h3{
	font-size:16px;
	margin-top:20px;
}
.newer-show-detial .show-step > span{
	display: block;
    font-size: 12px;
    /* margin-top: -15px; */
    margin-bottom: 10px;
}
.service-son .newer-bottom{
	border-top: 1px solid #ddd;
    padding: 10px 0;
    margin-bottom: 0px;
}
.service-son .newer-bottom .copy-right{
	width: 550px;
    margin: 0 auto;
}
.service-link{
	font-size: 12px;
    width: 680px;
	margin:0 auto;
	margin-top: 10px;
    margin-bottom: 20px;
}
.service-link > ul{
	overflow:hidden;
}
.service-link > ul > li{
	float: left;
    margin: 0 5px;
    padding-right: 10px;
    border-right: 1px solid #ccc;
    cursor:pointer;
}
.service-link > ul > li:hover{
	color:#0a6cbf;
}
.service-link > ul > li:last-child{
	border-right:0;
}
/* 常见问题 */
.question-chid{
	display:none;
	width: 100%;
    padding: 10px 0 10px 60px;
    background-color: #ebebec;
}
.question-chid > ul{
	
}
.question-chid > ul > li{
	overflow: hidden;
    padding: 5px;
    cursor:pointer;
}
.question-chid > ul > li > div{
	float: left;
    margin-top: -1px;
}
.question-chid > ul > li > div > i{
	font-size: 16px;
}
.question-chid > ul > li > span{
	float: left;
    font-size: 14px;
    margin-left: 10px;
}
.question-chid > ul > li:hover{
	color:#ff7300;
}
.ques-content .location-title{
	margin: 20px;
    padding-bottom: 20px;
    color: #666;
    border-bottom: 1px solid #f5f5f5;
}
.ques-content .location-title > span{
	margin-left:5px;
}
.service-ques-main-content{
	margin:0;
	overflow:hidden;
	width:100%;
	margin:20px;
}
.service-ques-main-content .question-main-ul{
	width:100%;
    list-style-type: square;
    padding: 0 40px;
    font-size:14px;
    color:#bbb;
}
.service-ques-main-content .question-main-ul > li{
	padding: 10px;
    white-space: nowrap;
}
.service-ques-main-content .question-main-ul > li > span{
	cursor:pointer;
	color:#666;
}
.service-ques-main-content .question-main-ul > li > span:hover{
	color:#ff7300;
}
.service-son .ques-home-head{
	margin: 20px;
    border: 1px solid #d0d0d0;
}
.ques-home-head .hot-ques-head{
	background-color: #fafafa;
    color: #999;
    font-size: 14px;
}
.hot-ques-head > ul{
	/* overflow: hidden; */
	height: 47px;
	margin:0;
    border-bottom:1px solid #d0d0d0;
}
.hot-ques-head > ul.service-about{
	height:110px;
}
.hot-ques-head > ul.service-about > li{
	width:33%;
}
.hot-ques-head > ul.service-about > li:last-child{
	width:34%;
}
.hot-ques-head > ul.service-about > li .title{
	overflow:hidden;
}
.hot-ques-head > ul.service-about > li .title .about-title-li{
	font-size:20px;
}
.hot-ques-head > ul.service-about > li .title .hot-img{
	height: 21px;
    width: 90px;
    margin: 5px 0 0 20px;
	background: url(../../images/service-aboutUs-con1.png) no-repeat 0px 0px !important;
}
.hot-ques-head > ul.service-about > li .description{
	font-size: 14px;
	height:44px;
    margin-top: 10px;
}
.hot-ques-head > ul > li{
	height:100%;
	float: left;
    border-right: 1px solid #d0d0d0;
    cursor:pointer;
    
}
.hot-ques-head > ul > li > div{
	padding: 10px 30px;
	/* height:100%; */
    border-top: 6px solid transparent;
}
.hot-ques-head > ul > li.active > div{
	border-top: 6px solid #78bbed;
	background-color:#fff;
	color:#666;
	padding-bottom:12px;
}
.ques-home-head .hot-ques-content,
.ques-home-head .new-show-content{
	width:100%;
	min-height:100px;
}
.ques-home-head .hot-ques-content > div,
.ques-home-head .new-show-content > div{
	overflow:hidden;
	display:none;
    padding: 20px;
}
.hot-ques-content .hot-ques-ul{
	list-style-type: disc;
	overflow:hidden;
	padding-left: 20px;
    color: #bbb;
}
.hot-ques-content .hot-ques-ul > li{
	float:left;
	width:50%;
	padding:10px 5px;
}
.hot-ques-content .hot-ques-ul > li > span{
	color:#666;
	cursor:pointer;
}
.hot-ques-content .hot-ques-ul > li > span:hover{
	color:#ff7300;
}
.ques-content .ques-home-main{
	padding: 10px 45px;
	width:100%;
}
.ques-home-main .home-main{
	overflow: hidden;
}
.ques-home-main .q-row{
	margin-bottom: 30px;
}
.ques-home-main .home-main .q-column{
	width: 50%;
	padding-right: 50px;
}
.ques-home-main .home-main .q-column h3{
	color: #5982a9;
    font-size: 16px;
    font-weight: bold;
}
.ques-home-main .home-main .q-column > ul{
	margin-top: 5px;
	overflow: hidden;
    color: #888;
}
.ques-home-main .home-main .q-column > ul > li{
	float: left;
	padding:5px;
}
.ques-home-main .home-main .q-column > ul > li > div{
	padding-right: 10px;
    border-right: 1px solid #ddd;
    cursor:pointer;
}
.ques-home-main .home-main .q-column > ul > li > div:hover{
	color:#ff7300;
}
.ques-home-main .home-main .q-column > ul > li:last-child > div{
	border-right:0;
}
.main-question-content{
	margin:0;
	overflow:hidden;
	width:100%;
	margin:30px 15px;
}
h1{
	font-size: 26px;
    font-weight: bold;
    white-space: nowrap;
}
.main-question-content .service-main-qTitle{
	margin-left: 10px;
    overflow: hidden;
    width: 750px;
}
.main-question-content .service-main-qTitle .next-red{
	color:#666;
	cursor:pointer;
}
.main-question-content .service-main-qTitle .next-red:hover{
	color:#0a6cbf;
}
.main-question-content .main-content-dSapn{
	color: #999;
    font-size: 14px;
    margin: 10px 0;
}
.main-question-content .main-content-dSapn span{
	margin-right: 10px;
}
.main-question-content .question-detail{
	margin-top:20px;
	padding:0 10px;
	overflow: hidden;
}
.ques-content .main-question_foot{
	margin: 20px;
	margin-bottom:50px;
    padding: 20px 0;
    border-top: 1px solid#ddd;
}
.main-question_foot > div{
    background-color: #fafafa;
    padding: 20px;
}
.main-question_foot > div > h3{
	font-size: 16px;
    font-weight: bold;
}
.main-question_foot > div > ul{
	overflow: hidden;
    list-style-type: disc;
    padding: 0 20px;
    margin-top: 20px;
    color: #ccc;
}
.main-question_foot > div > ul > li{
	float: left;
    width: 50%;
}
.main-question_foot > div > ul > li > span{
	color: #999;
	cursor:pointer;
}
.main-question_foot > div > ul > li > span:hover{
	color:#ff7300;
}
/* 联系我们 */
.connect-w1{
	width:60%;
}
.service-son .contect-way{
	margin-top:20px;
	margin-bottom:200px;
}
.new-show-content .contect-way1-head{
	overflow: hidden;
    border-bottom: 1px solid #eee;
    padding: 20px 0;
}
.new-show-content .contect-way1-head > span{
	font-size:16px;
	color:#888;
}
.new-show-content .contect-way1-head > i{
	font-size: 20px;
    margin-left: 5px;
    margin-top: -3px;
}
.service-son .bold{
	font-weight:bold;
}
.connect-w1 .connec-way1-f{
	overflow:hidden;
	margin:20px 0;
}
.connect-w1 .connec-way1-f > li{
	float:left;
	width:20%;
	text-align: center;
    cursor:pointer;
}
.connect-w1 .connec-way1-f > li .connect-con{
	width: 59px;
    height: 59px;
    border-radius: 50%;
    background-color: #f3f3f3;
    color: #71b4ee;
    margin: 30px auto;
    margin-bottom: 10px;
}
.connect-w1 .connec-way1-f > li .connect-con:hover{
	background-color:#5393db;
	color:#fff;
}
.connect-w1 .connec-way1-f > li .connect-con:hover + span{
	color:#5393db;
}
.connect-w1 .connec-way1-f > li i{
	font-size: 34px;
    margin: 0 15px;
    line-height: 57px;
}
.connect-w1 .connec-way1-f > li > span{
	font-size: 14px;
}
.new-show-content .common-ques{
	width:35%;
}
.common-ques > ul{
	margin: 10px 40px;
    color: #ccc;
    font-size: 14px;
}
.common-ques li{
	list-style-type: disc;
	padding:10px;
}
.common-ques li > span{
	color:#666;
	cursor:pointer;
}
.common-ques li > span:hover{
	color:#5393db;
}
/* 分布阅读整体设计 */
.step_body{
  background: #f3f3f3 url(../../index/images/step_bg.png) repeat;
  min-height: 600px;
  min-width: 1024px;
  overflow: hidden;
}
.step-left{
	float:left;
}
.step-right{
	float:right;
}
.step-inline{
	display: inline-block;
}
.step-main-content{
	width:900px;
	margin:0 auto;
}
/* 分布阅读图片设计 */
.step_body .step-image-show{
	position:absolute;
	display:none;
	width:100%;
	height:100%;
	z-index:11;
	background-color:rgba(0,0,0,0.6);
}
.step-image-show .img-body{
	width:100%;
	text-align:center;
	overflow:hidden;
	position:relative;
}
.step-image-show .img-body img{
	height:100%;
	width:100%;
}
.step-image-show .img-body > div{
	height:100%;
}
.step-image-show .img-body .step-image-close{
	position: absolute;
    top: 0;
    right: 15px;
    color: #fff;
    font-size: 40px;
    cursor:pointer;
    z-index:100;
}
.step-image-show .img-body .step-image-close i:hover{
	color:#4fb432;
}
.step-image-show .img-body .image-icon-left{
	position: absolute;
    z-index: 99;
    top: 0;
    left:0;
    width: 50%;
    height:100%;
    cursor: url(../../images/pic-left-arrow.cur),auto;
}
.step-image-show .img-body .image-icon-right{
	position: absolute;
    z-index: 99;
    top: 0;
    right:0;
    width: 50%;
    height:100%;
    cursor: url(../../images/pic-right-arrow.cur),auto;
}
.step-image-show .img-bottom{
	width:100%;
	height:66px;
	background-color:#000;
	overflow:hidden;
}
.step-image-show .img-bottom .step-image-list{
	overflow:hidden;
	height:66px;
	margin:0 auto;
}
.step-image-show .img-bottom .step-image-list > li{
	float:left;
	padding:8px 10px;
	position:relative;
	cursor:pointer;
}
.step-image-show .img-bottom .step-image-list > li >img{
	height:50px;
	width:100px;
}
.step-image-show .img-bottom .step-image-list > li .image-list-mask{
	position: absolute;
    top: 8px;
    left: 10px;
    width: 100px;
    height: 50px;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.step-image-show .img-bottom .step-image-list > li.active .image-list-mask{
	border: 2px solid #4fb432;
	background-color: rgba(0,0,0,0);
}
.step-image-show .img-bottom .step-image-list > li:hover .image-list-mask{
	background-color: rgba(0,0,0,0);
}
/* 结束 */
.step_body .service_s_head{
	position:relative;
	overflow:hidden;
	width:100%;
	height:60px;
	background-color:#555251;
	color:#fff;
}
.service_s_head .back-read{
	margin-top: 20px;
    margin-left: 50px;
    cursor:pointer;
}
.service_s_head .step-main-title{
	color:#ccc;
	font-size:24px;
	margin-top:10px;
}
.service_s_head .step-box{
	width: 60px;
    height: 60px;
    text-align: center;
    border-left: 1px solid #474645;
    cursor:pointer;
}
.service_s_head .step-box:hover{
	background-color:#484544;
	color:#fe7e00;
}
.step_body .service-s-content{
	width:900px;
	background-color:#fff;
	position:relative;
	min-height:200px;
	margin-top:20px;
	margin-bottom:20px;
}
.service-s-content .step-all{
	position:absolute;
	height:100%;
	left:0;
	top:0;
	width:900px;
}
.service-s-content .step-all > div{
	height:100%;
	width:900px;
	border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display: inline-block;
    background-color:#fff;
}
.service-s-content .step-all > div .step-content{
	margin: 0 40px;
	height:82%;
	overflow: hidden;
}
.step-content .desc{
	width: 40%;
}
.step-content .step-head{
	border-bottom: 1px solid #ddd;
    font-size: 30px;
    color:#ccc;
}
.step-content .step-head .now-page{
	color: #59b84b;
    font-size: 40px;
    margin-right: 5px;
}
.step-content .step-word{
	margin-top:10px;
}
.step-content .img{
	width:55%;
	height:100%;
	margin-left:5%;
	position:relative;
}
.step-content .img > img{
	cursor:pointer;
}
.step-content .img .img-focus{
	position:absolute;
	width:400px;
	height:100%;
	top:0;
	left:0;
	background-color:rgba(0,0,0,0);
	z-index:5;
	cursor:pointer;
}
.step-content .img .img-focus:hover{
	background-color:rgba(0,0,0,0.2);
}
.step_body .right-icon{
	position: relative;
	z-index:10;
	margin-top:20px;
	opacity:0.9;
	border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #f8f8f8;
    cursor: pointer;
    border-left: 1px solid #ccc;
    background: url(../../index/images/right-cover-edge.png) left top repeat-y;
	background-color:#f8f8f8;
}
.step_body .right-icon:hover{
	background:#ebebeb;
}
.step_body .right-icon  > div{
	margin-left:50px;
}
.step_body .left-icon{
	position: relative;
	z-index:10;
	margin-top:20px;
	opacity:0.9;
	border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #f8f8f8;
    cursor: pointer;
    border-right: 1px solid #ccc;
    background: url(../../index/images/left-cover-edge.png) right top repeat-y;
	background-color:#f8f8f8;
}
.step_body .left-icon:hover{
	background:#ebebeb;
}
.step_body .left-icon  > div{
    text-align: right;
    margin-right: 50px;
}
.step_body .service-step-bottom{
	
}
.step_body .service-step-bottom > ul{
	overflow: hidden;
}
.step_body .service-step-bottom > ul > li{
	float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #adadad;
    color: #fff;
    line-height: 22px;
    margin-left: 15px;
    text-align: center;
    cursor:pointer;
}
.step_body .service-step-bottom > ul > li.active{
	background-color: #5cbc4b;
}
.step_body .service-step-bottom > ul > li:hover:not([class]){
	background-color: #707070;
}
.content .wait,.content-question .wait{
	width: 100%;
    height: 1000px;
    position: absolute;
    z-index: 99;
    background-color: #fff;
    font-size: 100px;
    text-align: center;
    line-height: 400px;
}