body {
	background-color: #FFF;
}

div,span,li {
	font-family: Microsoft YaHei;
}

a {
	text-decoration: none !important;
}

a:hover {
	color: #0590CC;
}

.openplatform-nav-simple {
	position: relative;
	margin: 0 auto;
	width: auto;
	height: 64px;
	/* overflow:hidden; */
	background-color: #373942;
	color: #FFF
}

.openplatform-nav-simple .container-fluid {
	margin: 0 auto;
	width: 100%;
	height: 64px;
}

.logo-container {
	font-size: 0px;
	position: relative;
	overflow: hidden;
	float: left;
	height: 64px;
	margin-left: 30px;
}

.logo-container img {
	height: 64px;
}

.top-openplatform-nav.pull-left {
	float: left;
	width: auto;
	height: 64px;
	color: #FFEC8B;
	margin-left: 30px;
}

.top-openplatform-nav.pull-left>ul {
	margin: 0px;
}

.top-openplatform-nav.pull-left>ul>li {
	text-align: center;
	float: left;
	width: 100px;
	position: relative;
}

.top-openplatform-nav.pull-left>ul>li a:hover {
	background-color: #2b2d34 !important;
}

.top-openplatform-nav.pull-left>ul>li a {
	display: block;
	color: #e5e9ee;
	padding: 21.5px 20px;
	text-decoration: none;
	font-size: 14px;
}

.top-openplatform-nav.pull-left>ul>li a:focus+.sub-nav {
	/* 	display: block; */
	/* 	opacity: 1; */
	
}

.top-openplatform-nav.pull-left>ul>li .sub-nav {
	z-index: 500;
	position: relative;
	top: -20px;
	left: -100px;
	padding: 15px;
	margin-top: 20px;
	background-color: #2b2d34;
	color: #FFF;
	/* 	display: none; */
	/* 	opacity: 0; */
	visibility: hidden;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
	-webkit-transition: opacity 0.5s ease;
}


.sub-nav ul {
	width: 200px;
	overflow: hidden !important;
	float: left !important;
	margin-left: 10px;
	height: 164px;
}

.sub-nav ul li {
	text-align: left !important;
	overflow: hidden !important;
	/* float:left!important; */
	/* margin-right: 40px!important; */
	white-space: nowrap;
	width: 100%;
}

.sub-nav ul li span {
	color: #5eb5fe;
	font-size: 14 px;
	font-weight: bold;
	cursor: default;
}

.sub-nav ul li a:hover {
	color: #5eb5fe;
}

.sub-nav ul li a {
	font-size: 10px !important;
	padding: 5px !important;
	cursor: pointer;
}

.top-openplatform-nav.pull-right {
	float: right;
	margin-right: 30px;
	width: 200px;
	height: 64px
}
/* .openplatform-nav-simple .top-openplatform-nav.pull-right a{
    height:64px;
	margin-top:0px!important;
}
.openplatform-nav-simple .top-openplatform-nav.pull-right a p{
	line-height:64px;
	margin:0px!important;
} */
.top-openplatform-nav.pull-right .person-container,.notify-container,.search-container
	{
	float: right;
	width: 200px;
	height: 64px
}

.top-openplatform-nav.pull-right a {
	color: #FFF;
	float: left;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	/* margin-top: 20px; */
	margin-right: 20px;
}
.top-openplatform-nav.pull-right a p,.icon-bell-alt{
	line-height:64px;
	margin:0px!important;
}

.top-openplatform-nav.pull-right a {
	text-align: center;
}

.play-ppt-con {
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	width: auto;
	height: 470px
}

.container-fluid {
	margin: 0 auto;
	width: auto;
	height: 289px;
}

.container-fluid .row.cols-1 {
	margin: 0 auto;
	text-align: center;
	width: 1100px;
	height: 252px
}

.container-fluid .row {
	text-align: center;
	margin: 0 auto;
	width: 1140px;
	height: 17px
}

.container-fluid .row.cols-1 .col-md-3 {
	padding-left: 15px;
	padding-right: 15px;
	width: 240px;
	height: 274px;
}

.container-fluid .row.cols-1 .col-md-3 {
	text-decoration: none;
}

.container-fluid .row.cols-1 .col-md-3:hover {
	color: #5eb5fe;
}

.container-fluid .row.cols-1 .col-md-3 i {
	font-size: 600%;
	padding-left: 15px;
	padding-right: 15px;
	width: 225px;
	height: 274px;
}

.container-fluid .row.cols-1 .col-md-3 h4 {
	font-weight: 3;
	font-size: large;
	padding-left: 15px;
	padding-right: 15px;
}

.open-portal-wrapper.has-background-1.active {
	padding-top: 20px;
	padding-bottom: 30px;
	color: #FFF;
	margin: 0 auto;
	width: auto;
	height: 520px
}

.open-portal-wrapper.has-background-1.active .container-fluid {
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	width: 1140px;
	height: 453px
}

.open-portal-wrapper.has-background-1.active .container-fluid h3 {
	font-size: 24px;
}

.open-portal-wrapper.has-background-1.active .container-fluid .row.cols-2
	{
	margin-top: 20px;
	padding-left: 50px;
	padding-right: 50px;
	width: 1040px;
	height: 180px;
}

.col-md-6 .J_Slider li:hover a * {
	color: gray;
}

.col-md-6 .J_Slider li a i {
	font-size: 500% !important;
}

.col-md-6 .J_Slider li {
	perspective: 1000;
	float: left;
	width: 150px;
	overflow: hidden;
	height: 160px;
}

.col-md-6 .J_Slider {
	height: 173px;
	margin: 0;
}

.col-md-6 .J_Slider li a {
	color: #FFF;
	text-decoration: none;
}

.col-md-6 .J_Slider li a i {
	width: 150px;
	height: 100px;
	font-size: 24px;
	color: #FFF
}

.col-md-6 .J_Slider li a span {
	width: 150px;
	height: 50px;
	font-size: 14px;
	color: #FFF
}

.row.cols-2 .col-md-3 {
	width: 270px;
	height: 1px;
	margin: 0;
}

.open-portal-wrapper.has-background-1.active .container-fluid h3 i {
	padding-right: 10px;
}

.news-list {
	max-height: 180px;
	max-width: 525px
}

.news-list p {
	text-align: left;
	max-width: 525px;
}

.col-md-6 .J_Slider li:hover .J_Slider-content {
	display: block;
}

.J_Slider-content {
	overflow: hidden;
	opacity: 0;
	position: absolute;
	width: 1140px;
}

.open-portal-wrapper.has-background-1.active .container-fluid .row.cols-2 .col-md-6
	{
	float: left;
	width: auto;
	margin-bottom: 0px;
	padding-left: 15px;
	padding-right: 15px;
}

.open-portal-wrapper.tech-area {
	width: auto;
	height: 532px
}

.open-portal-wrapper.tech-area .container-fluid {
	padding-left: 15px;
	padding-right: 15px;
	margin: auto;
	width: 1100px;
	height: 472px
}

.open-portal-wrapper.tech-area .container-fluid h3 {
	padding-left: 10px;
	font-size: 24px;
}

.open-portal-wrapper.tech-area .container-fluid .row.cols-3 {
	margin-top: 20px;
	padding-left: 15px;
	padding-right: 15px;
	width: 1110px;
	height: auto;
}

.grid-group div .step-1,.step-2 {
	margin-right: 10px;
	margin-top: 20px;
	float: left;
	width: 350px;
	height: 100px;
	border-radius: 40px;
}

.grid-group div .step-1 {
	background-color: black;
	position: relative;
}

.grid-group div .step-2 {
	background-color: gray;
	visibility: hidden;
}

.grid-group div a span {
	width: 250px;
	height: 100px;
	border-radius: 40px;
}

.HelpText {
	color: #FFF;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
	width: 1100px;
	padding-top: 20px;
	/* height: 472px */
}

.HelpText h3 {
	color: black;
	font-size: 24px;
	width: 1140px;
	height: 30px
}

.HelpText .row.cols-4 {
	margin: 0 auto;
	width: 1140px;
	height: 450px
}

.HelpText .row.cols-4 .col-md-6 {
	padding-left: 15px;
	padding-right: 15px;
	background-color: #FFF;
/* 	width: 540px;
	height: 450px; */
}

.col-md-6 .row {
	margin: 0px;
}

.col-xs-12 {
	position: relative;
	background-image: url(../../images/api_docu_img1.png);
	background-size: cover;
	background-repeat: no-repeat;
	float: left;
	width: 540px;
	height: 450px;
	margin-right: 10px;
}

.col-xs-12:hover .col-12-step1,.col-xs-13:hover .col-13-step1 {
	display: none;
}

.col-xs-12:hover .col-12-step2,.col-xs-13:hover .col-13-step2 {
	opacity: 1;
	top: 0;
}

.col-xs-12 .col-12-step1,.col-xs-13 .col-13-step1 {
	text-align: center;
	margin-top: 180px;
}

.col-xs-12 .col-12-step2,.col-xs-13 .col-13-step2 {
	position: absolute;
	z-index: 4;
	width: 100%;
	height: 100%;
	top: 50px;
	left: 0;
	opacity: 0;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.col-xs-12 .col-12-step2>ul,.col-xs-13 .col-13-step2>ul {
	margin: 40px 20px;
	overflow: hidden;
}

.col-xs-12 .col-12-step2>ul>li,.col-xs-13 .col-13-step2>ul>li {
	margin: 30px 0;
	overflow: hidden;
}

.col-xs-12 .col-12-step2>ul>li .col-left-icon,.col-xs-13 .col-13-step2>ul>li .col-left-icon
	{
	float: left;
	width: 35px;
	height: 35px;
	border: 1px solid #fff;
	border-radius: 50%;
	text-align: center;
	font-size: 24px;
}

.col-xs-12 .col-12-step2>ul>li .col-left-font,.col-xs-13 .col-13-step2>ul>li .col-left-font
	{
	float: left;
	margin-left: 20px;
}

.col-xs-12 .col-12-step2>ul>li .col-left-font span,.col-xs-13 .col-13-step2>ul>li .col-left-font span
	{
	display: block;
}

.col-xs-12 .col-12-step2>ul>li .col-left-font .col-blue-title,.col-xs-13 .col-13-step2>ul>li .col-left-font .col-blue-title
	{
	color: #7fc2f6;
}

.col-xs-12 .col-12-step2 .col-list-button,.col-xs-13 .col-13-step2 .col-list-button
	{
	width: 70px;
	height: 44px;
	line-height: 42px;
	background: rgba(80, 133, 177, 0.8);
	border: 1px solid #3199f4;
	color: #fff;
	font-size: 16px;
	padding: 0 40px;
	margin-top: -5px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}

.col-xs-12 .col-12-step2 .col-list-button:hover,.col-xs-13 .col-13-step2 .col-list-button:hover
	{
	background: rgba(80, 133, 177, 0.9);
}

.col-xs-12 .col-12-step1 h,.col-xs-13 .col-13-step1 h {
	font-size: 30px;
}

.col-xs-12 .col-12-step1 span,.col-xs-13 .col-13-step1 span {
	display: block;
	margin-top: 10px;
	font-size: 16px;
}

.col-xs-13 {
	position: relative;
	background-image: url(../../images/api_docu_img2.png);
	background-repeat: no-repeat;
	background-size: cover;
	float: left;
	width: 540px;
	height: 450px;
	margin-left: 10px;
}

.cloud-env:hover .step-1,.cloud-tae:hover .step-1 {
	opacity: 0;
}

.cloud-env:hover .step-2,.cloud-tae:hover .step-2 {
	opacity: 1;
	-webkit-transform: translate(0, -120px);
}

.cloud-env {
	overflow: hidden;
	padding: 15px;
	float: left;
	width: 510px;
	height: 360px;
}

.cloud-tae {
	overflow: hidden;
	padding: 15px;
	width: 510px;
	height: 360px;
}

.step-1 {
	position: absolute;
	text-align: center;
	margin-left: 70px;;
	margin-right: auto;
	font-size: 24px;
	margin-top: 190px;
}

.step-2 {
	margin-top: 120px;
	position: absolute;
	opacity: 0;
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
}

.step-2 ul li i {
	float: left;
}

.open-portal-wrapper.has-background {
	width: auto;
	height: 250px;
	padding-bottom: 30px
}

.open-portal-wrapper.has-background .container-fluid {
	width: 1140px;
	height: 250px;
}

.open-portal-wrapper.has-background .container-fluid h3 {
	font-size: 24px;
}

.open-portal-wrapper.has-background .container-fluid .row.cols-5 {
	width: 1140px;
	height: 83px;
	padding-bottom: 37px;
}

.col-md-4 {
	width: 380px;
	height: 83px;
}

.col-md-4 .row {
	width: 380px;
	height: 83px;
}

.col-md-4 .row .col-xs-6 {
	position: relative;
	float: left;
	width: auto;
	height: auto;
}

.col-xs-6 .img-container {
	perspective: 1000;
	float: left;
	width: 160px;
	height: 83px;
	padding-left: 15px;
	padding-right: 15px;
	transition: 1s linear;
	font-size: 0;
	-moz-transition: 1s linear;
	-webkit-transition: 1s linear;
	-o-transition: 1s linear;
}

.img-container .img-2 {
	opacity: 0;
}

.img-container:hover .img-1 {
	opacity: 0;
}

.img-container:hover .img-2 {
	opacity: 1;
}

.col-xs-6 .img-container .img-1,.img-2 {
	float: left;
	width: 160px;
	position: absolute;
	left: 0;
	height: 83px;
	padding-left: 15px;
	padding-right: 15px;
	backface-visibility: hidden;
}

.open-portal-wrapper.open-portal-footer {
	margin-top: 100px;
	background-color: #323232;
	width: 100%;
	color: #fff;
}

.open-portal-wrapper.open-portal-footer .container-fluid {
	width: 1140px;
	height: 111px;
	padding-top: 20px;
}

.open-portal-wrapper.open-portal-footer .container-fluid .footer-level1
	{
	width: 1110px;
	height: 35px;
	padding-bottom: 30px;
	text-decoration: underline;
}

.open-portal-wrapper.open-portal-footer .container-fluid .footer-level1 ul
	{
	width: auto;
	height: 0px
}

.open-portal-wrapper.open-portal-footer .container-fluid .footer-level1 ul li
	{
	float: left;
	padding-right: 20px
}

.open-portal-wrapper.open-portal-footer .container-fluid .footer-level2
	{
	width: 1110px;
}

.open-portal-wrapper.open-portal-footer .container-fluid .footer-level2 ul
	{
	width: auto;
	height: 0px
}

.open-portal-wrapper.open-portal-footer .container-fluid .footer-level2 ul li
	{
	float: left;
	padding-right: 20px
}

.grid-group {
	width: 765px;
	margin: 0 auto;
	overflow: hidden;
}

.grid-group .grid {
	height: 170px;
	width: 140px;
	padding-top: 0px;
	background: url(../../index/images/opentest4.png) no-repeat 0 0;
	float: left;
	margin-right: 10px;
}

.hand-play-movie-label-con {
	width: auto;
}

.login_bottom {
	background: #323232;
}

.hand-copyright {
	color: #999;
	line-height: 50px;
	height: 100px;
	font-size: 14px;
	text-align: center;
	font-family: Microsoft Yahei, tahoma, arial, sans-serif, helvetica;
}

.hand-copyright a:link {
	color: #696969
}

.hand-copyright a:hover,.top-bar-content a:hover,.login_footer a:hover {
	color: #ffffff;
}

.industry-part,.our-partners-part,.top-bar-content,.header_container,.login-body,.linkway-connectionway-part,.slogan-hand,.next-part
	{
	width: 1030px;
	margin-left: auto;
	margin-right: auto;
	font-family: Microsoft YaHei, Arial, Helvetica, sans-serif, "宋体";
}

.linkway-part {
	width: 100%;
	float: left;
}

.connectionway-part {
	width: 250px;
	float: right;
}

.linkway-part-ul {
	float: left;
	height: 140px;
	color: #999999;
	/* border-right: 1px solid #474545; */
}

.linkway-part-ul>li {
	height: 30px;
	font-size: 12px;
	line-height: 20px;
	text-align: left;
}

.connectionway-part {
	text-align: left;
	font-size: 14px;
	color: #ffffff;
}

.linkway-part-ul .linkway-classname {
	font-size: 14px;
	color: #ffffff;
}

.linkway-part-ul .linkway-hotline {
	font-size: 24px;
	color: #fff;
}

.linkway-part-ul .linkway-interway {
	width: 150px;
	/* overflow:hidden; */
	margin-top: 20px
}

.linkway-part-ul .linkway-interway .interPic {
	position: relative;
	width: 50px;
	height: 50px;
	float: left;
	cursor: pointer;
	background: url(../../images/login/connect-ways-imgs-color.png)
		no-repeat;
}

.linkway-part-ul .linkway-interway .weixin {
	background-position: -20px -5px;
}

.linkway-part-ul .linkway-interway .weixin:hover {
	background-position: -20px -57px;
}

.linkway-part-ul .linkway-interway .weixin:hover .weixin-qrcode {
	/* display:block; */
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

.linkway-part-ul .linkway-interway .weixin .weixin-qrcode {
	/* display:none; */
	opacity: 0;
	position: absolute;
	top: -110px;
	left: -30px;
	padding: 5px;
	background-color: #fff;
	-webkit-transform: scale3d(0.1, 0.2, 1);
	transform: scale3d(0.1, 0.2, 1);
	-webkit-transform-origin: 50% 120%;
	transform-origin: 50% 120%;
	-webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
	transition: opacity 0.4s, transform 0.4s;
	-webkit-transition-timing-function: ease, cubic-bezier(0.6, 0, 0.4, 1);
	transition-timing-function: ease, cubic-bezier(0.6, 0, 0.4, 1);
}

.linkway-part-ul .linkway-interway .qq {
	background-position: -80px -5px;
}

.linkway-part-ul .linkway-interway .qq .qq-account {
	display: none;
	position: absolute;
	top: -100px;
	left: -25px;
	background-color: #fff;
	color: #000;
	font-size: 20px;
	height: 100px;
	line-height: 100px;
}

.linkway-part-ul .linkway-interway .qq:hover {
	background-position: -80px -57px;
}

.linkway-part-ul .linkway-interway .qq:hover .qq-account {
	display: block;
}

.linkway-part-ul .linkway-interway .weibo {
	background-position: -140px -5px;
}

.linkway-part-ul .linkway-interway .weibo .weibo-qrcode {
	/* display:none; */
	opacity: 0;
	position: absolute;
	top: -110px;
	left: -30px;
	padding: 3px;
	background-color: #fff;
	-webkit-transform: scale3d(0.1, 0.2, 1);
	transform: scale3d(0.1, 0.2, 1);
	-webkit-transform-origin: 50% 120%;
	transform-origin: 50% 120%;
	-webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
	transition: opacity 0.4s, transform 0.4s;
	-webkit-transition-timing-function: ease, cubic-bezier(0.6, 0, 0.4, 1);
	transition-timing-function: ease, cubic-bezier(0.6, 0, 0.4, 1);
}

.linkway-part-ul .linkway-interway .weibo:hover {
	background-position: -140px -57px;
}

.linkway-part-ul .linkway-interway .weibo:hover .weibo-qrcode {
	/* display:block; */
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

.connect-ways label {
	line-height: 50px;
	display: inline-block;
	height: 50px;
	font-size: 20px;
	float: right;
	margin-left: 10px;
}

.focus-us {
	margin-top: 4px;
	width: 230px;
}

.focus-us>div {
	display: block;
	float: left;
	width: 100px;
	margin-right: 10px;
	text-align: center;
}

.login_bottom a {
	color: #999;
}

.linkway-connectionway-part {
	height: 150px;
	padding-top: 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid #474545;
}

#login{
	overflow:hidden;
	z-index:1200;
	right:20px;
	position:absolute;
	width: 270px;
	height: 350px;

	}
}