.container-left {
    float: left;
    width: 250px;
}

.container-right{
	float:left;
	width: 40%;
	margin-left: 10px;
	background-color:#efefef;
}

.blue.tiles {
    background-color: #0090d9;
}

/*@media all and (min-width:992px)*/
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11 {
    float: left;
}

/*@media all and (min-width:992px)*/
.row {
    margin-right: 10px;
    margin-left: 10px;
    width:100%;
}

.col-md-33 {
    width: 22%;
    margin-bottom: 10px;
    float:left;
}
.col-md-3 {
    width: 25%;
    margin-bottom: 10px;
}

.calendar-type{
	margin-left: 10px;
}
.col-md-6 {
    width: 48%;
    margin-bottom: 20px;
}
.col-md-9 {
    width: 74%;
}
.col-md-12 {
    width: 100%;
}

.slimScrollDiv{
	width:100% !important;
}
.main-tab .tab {
    overflow-y: hidden;
}

.user-info-friend-item {
    width: 33%;
    float: left;
}
.sidebar-title {
    height: 43px;
    border-bottom: 1px solid #ddd;
    line-height: 43px;
    font-size: 14px;
    padding-left: 33px !important;
}

.p0 {
    padding: 0 !important;
    float:left;
    width:20px;
    height:20px;
}
.fc-grid .fc-day-number {
    float: right;
    text-align: center;
    width: 50%;
    height: 100%;
}

.fc-content {
	position: relative;
	z-index: 1;
	clear: both;
	zoom: 1;
}

.fc-event {
	border: 1px solid #3a87ad;
	background-color: #3a87ad;
	color: #fff;
	font-size: .85em;
	cursor: default;
}
.fc-event-inner {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.external-event-color-selector .selected.point {
    border-bottom: 4px solid #47fcfe;
}
.item-dateButton {
    zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf073;');
    line-height:20px;
}

.tab-close {
    display: inline-block;
    font-family: FontAwesome;
}
.tab-btn-over, .tab-close {
	font-family: FontAwesome;
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf00d;');
}
.item-dateField-preYear{
	font-family: FontAwesome;
	*zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf100;');
}
.item-dateField-nextYear{
	font-family: FontAwesome;
	*zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf101;');
}
.item-dateField-pre{
	font-family: FontAwesome;
	*zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf104;');
}
.item-dateField-next{
	font-family: FontAwesome;
	*zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf105;');
}

 
.item-trigger {
    display: inline-block;
    font-family: FontAwesome;
}
.item-lovButton {
    font-family: FontAwesome;
    zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf002;');
    font-size: 11px;
    line-height: 15px;
}

.panel {
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 1px 1px rgba(0,0,0,0.05);
    border: 1px solid #eee;
    border-bottom: 1px solid #d1d2d3;
    background-color: #F5F5F5;
}
.fc-ltr{
	background-color: #ffffff;
}
.panel-title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    padding:5px 0px 5px 10px;
}
.panel-default .panel-body {
    padding: 15px;
    background-color:#fff;
    height: 150px;
}
p {
    margin: 0 0 10px;
}
.external-event-add-btn{
	margin-top:10px;
}
.external-event-name{
	width:100%;
}

