/*
*创建人：pccold 
*工号：6588
*目的：覆盖框架的样式
*/

/*main-tab
*/
.main-tab > tbody > tr + tr > td > .item-tab-body, .main-tab > tbody > tr + tr > td > .item-tab-body > div{
	width:100% !important;
}
.hand-main-content > table {
	margin:auto !important;
}
.hand-main-content .win-toolbar{
	margin:auto;
}
.win-icon .win-type {
    font-size: 12px;
    overflow: hidden;
}
.win-content {
    overflow: auto;
    position: relative;
}
.grid-hc {
    text-align: center;
}
.grid-lh, .grid-uh, .grid-hc {
    border-collapse: collapse!important;
    color: #666 !important;
    background-color: #fff;
    font: 12px/15px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.grid-ub td, .grid-lb td {
    height: 28px !important;
    text-align: left;
    border: 1px solid #e0e0e0!important;
    border-left-color: transparent;
}

.grid-uh+.item-treegrid .grid-hc{
	border: none;
}  
.grid-hc {
    padding-left: 5px;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}
.node-text .cell-editor {
    margin: 0px;
    height: 24px;
    padding-left: 3px;
    padding-right: 0px;
    line-height: 24px;
}

.grid-cell {
    font: 12px/15px "Helvetica Neue", Arial, Helvetica, sans-serif;
    padding-right: 2px;
    text-indent: 3px;
    line-height: 22px;
    text-overflow: ellipsis;
}

.grid-ub .row-alt, .grid-lb .row-alt{
    background-color: #f0f3f5;
}
.grid-ub .item-node tr{
	background-color:transparent;
}
.grid-ub tr, .grid-lb tr {
    background-color: #ffffff;
}
.grid-lb > table > tbody > tr > td {
    cursor: default;
    overflow: hidden;
    height: 28px !important;
}

.grid-ub table, .grid-lb table {
    border-right: none;
}
.item-node .grid-cell:hover {
	color:#5ec33a;
}
.grid-navbar .item-label {
    font-size: 12px;
    line-height: 30px;
    margin-top: 0px !important;
    color: #666;
    margin-right: 6px !important;
}
.grid-ua .item-node td {
    height: 28px !important;
}
.item-node td {
    border: none;
    /* padding-left: 2px; */
    height: 26px !important;
}
.treegrid-grid-uh{
	/* padding-left: 6px; */
}
.node-text div {
    cursor: pointer;
}
.node-text:hover div {
    color: #19a2d5 !important;
}
/*非常重要 treeGrid 的第二个checkBox 无法勾选
*无法对齐问题
*/
.item-treegrid > .item-node + div{
	display:none;
} 
.item-treegrid .grid-rowbox{
	padding: 1px !important;
}
.item-grid > .grid-la > .grid-lb > .item-node > .item-child{
	padding-bottom:20px;
}
/*.icon-node {
    background: url(../tree/leaf.gif) no-repeat;
}
.icon-folder {
    background: url(../tree/folder.gif) no-repeat;
}
.clip-plus {
    background: url(../tree/plus.gif) no-repeat 50%;
}
.clip-minus {
    background: url(../tree/minus.gif) no-repeat 50%;
}*/

.r-selected, .row-selected{
	background-color: #d0e6f5 !important;
}
.grid-navbar div .item-btn {
    min-width: 20px;
}

.item-btn-mc button {
    color: #666 !important;
    background-color: transparent !important;
    border: none;
}
.item-btn-mc:hover button{
    color: #66afe9 !important;
    background-color: transparent !important;
}
.item-btn-mc:hover button {
    color: #aaaaaa;
}
.item-grid-wrap{
	margin-left:auto;
	margin-right:auto;
	border: 1px solid #eae2e8;
}
.item-grid-wrap, .item-export-wrap, .item-tab{
    border-top: 0px solid #ddd;
    border-left: 0px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
     -webkit-box-shadow: 1px 1px 2px 0 #d8dadb;
    -moz-box-shadow: 1px 1px 2px 0 #d8dadb;
    -o-box-shadow: 1px 1px 2px 0 #d8dadb;
    -ms-box-shadow: 1px 1px 2px 0 #d8dadb;
    box-shadow: 3px 3px 7px 0px #d8dadb;
}

.item-tab-body .item-grid-wrap{
	border:1px solid #ddd;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.grid-rowbox {
    padding: 0px 1px !important;
    border-right: 1px solid #ccc;
    background-image: url(../grid/row-box.gif);
    background-repeat: repeat-y;
    padding: 0px;
}



/*
*button 样式
*/
.infor-btn .item-btn-mc{
	border: 1px solid #999;
}
.item-toolbar .infor-btn .item-btn-mc, .item-btn-icon .infor-btn .item-btn-mc button,.grid-toolbar .infor-btn .item-btn-mc, .grid-toolbar .infor-btn .item-btn-mc, .grid-toolbar .infor-btn .item-btn-mc button, .grid-navbar .infor-btn .item-btn-mc, .grid-navbar .infor-btn .item-btn-mc button{
	border: none;
} 
.item-rbtn-gray div, .item-btn .item-btn-default {
    border: 0px solid #cdcdcd;
    border-radius: 3px;
    -webkit-appearance: none;
    outline: none !important;
    font-size: 12px;
    height: 26px !important;
    line-height: 24px !important;
}

.item-rbtn-blue div:active{
    outline: 0;
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #ffffff;
    background-color: #4fb6d4;
}
.item-rbtn-gray:hover div, .item-btn-default:hover button {
 	background: -moz-linear-gradient(top,  #e6e6e6 0%, #f1f1f1  100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6e6e6), color-stop(100%,#f1f1f1 ));
    background: -webkit-linear-gradient(top,  #e6e6e6 0%,#f1f1f1 100%);
    background: -o-linear-gradient(top,  #e6e6e6 0%,#f1f1f1 100%);
    background: -ms-linear-gradient(top,  #e6e6e6 0%,#f1f1f1 100%);
    background: linear-gradient(to bottom,  #e6e6e6 0%,#f1f1f1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#f1f1f1',GradientType=0 );
}
.item-toolbar .nav-firstpage, .item-toolbar .nav-prepage, .item-toolbar .nav-nextpage, .item-toolbar .nav-lastpage, .item-toolbar .nav-refresh {
    background-color: transparent !important;
    font-size: 14px;
}
.item-toolbar .nav-refresh, .item-toolbar .nav-refresh[class^='icon-'], .item-toolbar .nav-refresh[class*=' icon-'] {
    font-size: 12px;
}
.item-rbtn-blue, .item-rbtn-red, .item-rbtn-green {
	border: 0px;
    display: inline-block;
    cursor: pointer;
    background-color: #19a2d5;
    border-radius: 2px;
    color: #fff;
    text-align: center;
    line-height: 26px;
    height: 26px;
    padding: 0px 15px;
    min-width: 60px;
    max-width: 300px;
    box-sizing: content-box;
    width: expression(this.offsetWidth > 90 ? (this.offsetWidth < 300 ? 'auto' : '300px') : '60px');
}
.item-btn-disabled{
    background-color: #ddd !important;
    cursor:default !important;
}
.item-btn-disabled div button{
	background-color: #ddd !important;
}
.grid-toolbar .item-btn-disabled{
    background-color: #fff !important;
    cursor:default !important;
}
.item-btn-disabled *{
	color:#eee !important;
	cursor:default !important;
}
.item-rbtn-blue button{
	cursor:pointer;
	border:0px;
	background-color:transparent;
	color:#fff;
	height: 100%;
}
.screenTopToolbar .item-rbtn-blue, .screenTopToolbar .urgent_button{
	margin: 5px 5px 0px 5px !important;
}
.item-rbtn-blue, .urgent_button {
    margin: 7px 0px 7px 10px !important;
}
.item-rbtn-blue:hover, .item-rbtn-red:hover, .item-rbtn-green:hover {
	background-color: #28bde6;
}
.item-btn-default div{
	color:#333;
}
.item-rbtn-gray {
    display: inline-block;
    border: #dfe0e0 1px solid;
    cursor: pointer;
    text-align: center;
    height: 100%;
    color: #fff;
    background-color: #fff;
    height: 22px !important;
    line-height: 22px !important;
    min-width: 40px;
    max-width: 300px;
    padding: 0px 10px;
    width: expression(this.offsetWidth > 60 ? (this.offsetWidth < 300 ? 'auto' : '300px') : '40px');
    overflow: hidden;
    white-space: nowrap;
    outline: none;
}
.item-rbtn-gray button {
    cursor: pointer;
    height: 100%;
    border: none;
    background-color: transparent;
}
.item-rbtn-gray:hover {
    background-color: #ededed;
}
.item-rbtn-gray:hover button{
	ccolor:#fff;
}
.status-gray {
    background-color: #a0aa99;
}
.urgent_button:hover {
    background-color: #ff0000 !important;
}
.status-text {
    color: #fff;
    border-radius: 2px;
}
.status-red {
    background-color: #f6504d;
}
.urgent_button {
	background-color: #d9002d !important;
    border-radius: 2px !important;
    border: 0px solid #ffffff !important;
    -webkit-appearance: none;
    box-shadow: none !important;
    -webkit-appearance: none !important;
    outline: none !important;
    -webkit-transition: none;
    transition: none !important;
    color: #ffffff !important;
    height: 25px !important;
    line-height: 25px !important;
    cursor: pointer;
    width: 100px;
    text-align: center;
    margin-left: 10px;
    padding-top: 1px;
    margin-top: 7px !important;
}

.urgent_button:hover{
	background-color: #fd1c49 !important;
}

.status-text {
    font-weight: 600;
    color: #ff0000 !important;
    background-color: transparent !important;
}

.item-rbtn-blue div:hover, .item-rbtn-blue div:focus, .item-rbtn-blue div:active, .item-rbtn-blue div.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #ffffff;
    background-color: #4fb6d4;
}

/*
*修改tab样式
*/
.main-tab .tab {
    overflow-y: hidden;
}
.item-tab > tbody > tr{
	background-color: #ffffff;
}

.item-tab-strip > div > .strip > div{
	width: auto !important;
} 
/*tab未选中的字体颜色*/
.strip-left {
	dsiplay:none;
}

.item-tab .strip .strip-left, .item-tab .strip .strip-right {
    float: left;
    height: 100%;
    background-color: #00ffff;
    display:none;
}
.main-tab .tab {
    padding-left: 0px;
    padding-top: 0px;
}

.main-tab .strip, .item-tab .strip {
    border-radius: 0px;
    overflow: visible;
}

/*覆盖样式
*字体图标
*/
.item-trigger:hover, .item-dateButton:hover:before, .item-lovButton:hover:after, .item-focus .item-trigger, .item-focus .item-dateButton:before, .item-focus .item-lovButton:before, .item-focus .item-lovButton:after{
	color: #66afe9;
}
.item-readOnly .item-trigger:hover, .item-readOnly .item-dateButton:hover:before, .item-readOnly .item-lovButton:hover:after, .item-readOnly .item-trigger, .item-readOnly .item-dateButton:before, .item-readOnly .item-lovButton:before, .item-readOnly .item-lovButton:after{
	color: #ccc;
}
/*
*screenTopToolbar
*/
.screenTopToolbar {
	padding-top: 4px;
    background-color: #fff;
    -webkit-box-shadow: 1px 1px 2px 0 #d8dadb;
    -moz-box-shadow: 1px 1px 2px 0 #d8dadb;
    -o-box-shadow: 1px 1px 2px 0 #d8dadb;
    -ms-box-shadow: 1px 1px 2px 0 #d8dadb;
    border-bottom: 1px solid #d8dadb;
    box-shadow: 1px 1px 2px 0px #d8dadb;
}
.grid-toolbar .item-btn {
    width: auto !important;
}
.item-label {
    line-height: 22px;
    vertical-align: middle;
    white-space: nowrap;
}

/*
*输入框
*/
.item-trigger {
    height: 26px;
    line-height: 24px !important;
    color: #666;
    width: 20px;
    text-align: center;
}
.item-comboBox-view li {
    height: 22px;
    line-height: 22px;
    padding: 0px 2px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.item-comboBox-selected {
    background-color: #dbeeff;
}
.item-focus{
	border-color: #66afe9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.6);
}
.item-readOnly{
	border-color: #dfe0e0 !important;
	box-shadow:none;
	-webkit-box-shadow:none;
}
.item-readOnly, .item-readOnly .item-textField {
    background-color: #eee;
}
.item-textField-test {
    border: 0;
    height: 26px;
    line-height: 26px;
    width: 100%;
    background-color: transparent;
}
[style*='height'].item-textField {
    ppppadding: 4px;
    ghhhheight: 14px !important;
}
.item-textField {
    border: 0;
    height: 16px !important;
    padding: 4px 0px 4px 4px;
    line-height: 16px;
    width: 100%;
    background-color: transparent;
    text-indent: 0px !important;
}

.grid-cell {
	line-height: 24px;
    height: 24px;
}

/*grid item-toolbar
*/
.grid-toolbar .item-btn-mc button div{
	padding-left: 18px;
}
.item-toolbar .item-wrap {
    height: 18px;
}
.item-toolbar .item-wrap input {
    height: 20px;
    line-height: 20px;
    text-align: center;
    padding: 0px;
}
.item-toolbar button:hover{
	color:#66afe9;
}
.item-toolbar .item-trigger {
    height: 20px;
    padding: 0px;
    line-height: 20px !important;
}
.item-wrap div{
	padding-left:0px !important;
}
.item-wrap div[style*="width"]{
	padding:0px !important;
}
/*
*图标
*/
.icon-root, .icon-folderOpen, .icon-folder {
    background: url(small-icon.png?v=1.1) no-repeat !important;
    background-position-x: -9px !important;
    background-position-y: -175px !important;
}
.icon-node {
    background: url(small-icon.png?v=1.1) no-repeat !important;
    background-position-x: -31px !important;
    background-position-y: -176px !important;
}
.cclip-minus {
    background: url(small-icon.png?v=1.1) no-repeat !important;
    background-position-x: -23px !important;
    background-position-y: -139px !important;
}

.cclip-plus {
    background: url(small-icon.png?v=1.1) no-repeat !important;
    background-position-x: -1px !important;
    background-position-y: -142px !important;
}


.aclip-join {
    background: url(../tree/join.gif) no-repeat 50%;
}
.aclip-joinBottom {
    background: url(../tree/joinbottom.gif) no-repeat 50%;
}
.anode-line {
    background: url(../tree/line.gif) no-repeat 50% 50%;
}
.aclip-joinTop {
    background: url(../tree/jointop.gif) no-repeat 50%;
}

.aaitem-dateField-foot {
    background: url(small-icon.png?v=1.1) no-repeat;
    background-position-y: 24px;
}
.item-dateList{
	border:none;
}
.item-treegrid .item-node td {
    border-color: transparent!important;
}

