.main-config-container {
    width: 1000px;
    margin: auto;
    border: 1px solid #ddd;
    padding-top: 5px;
    background-color: #fff;
    -webkit-box-shadow: 10px 10px 30px #eee;
    -moz-box-shadow: 10px 10px 30px #eee;
    box-shadow: 5px 5px 10px #ccc;
}
.config-tab-btn {
    background-color: #ededee;
    overflow: hidden;
    padding: 5px 0px;
    border-bottom: 1px solid #ddd;
}
.config-tab-btn a {
    min-width: 100px;
    display: block;
    border: none;
    line-height: 30px;
    color: #333;
    text-decoration: none;
    cursor: pointer;
    margin-right: 30px;
    margin-left: 10px;
    float: left;
    text-align: center;
    border:1px solid transparent;
    font-size:16px;
    border-radius:4px;
}
.config-tab-btn a:hover{
	border-color:#ccc;
}
.config-tab-btn .active{
	color:#19a2d5;
}
.config-item{
	display:none;
	height:100%;
	overflow:hidden;
}
.confing-items-con {
    width: 100%;
    overflow: hidden;
    height: 100%;
    color:#666;
}
.short-link-list {
    height: 100%;
    width: 150px;
    float: left;
    line-height: 30px;
    margin: 0px;
    background-color: #f0f0f1;
}
.short-link-item{
	background-color:#f0f0f1;
	text-indent: 1em;
}
.short-link-item:hover{
	background-color:#e1e6eb;
}
.short-link-list a{
	color:#333;
	text-decoration:none;
	line-height:40px;
	width:100%;
	display:block;
	font-size:14px;
}
.short-link-list .active, .short-link-list .active:hover{
	background-color:#fff;
}
.item-content {
    float: right;
    width: 750px;
    height: 100%;
    overflow-y: auto;
}
.prompt-part{
	line-height:40px;
	color:#333;
	font-size:14px;
}
.prompt-part .font-colorful{
	color: #19a2d5;
}
.check-a-con{
	overflow: hidden;
}
.check-a-con .check-con{
    float: left;
}
.check-a-con a, .checks-part a{
    float: left;
    line-height: 40px;
    display:none;
    color:#19a2d5;
}
.check-con{
	line-height: 21px;
	margin: 10px;
	min-width:150px;
	color:#666;
}
.checks-part{
	overflow:hidden;
	line-height:40px;
	color:#333;
	font-size:14px;
}
.checks-part .check-con{
	float:left;
	margin-left: 30px;
}
.checks-part .checks-part-title{
	line-height:30px;
	text-indent: 6px;
	font-size: 14px;
	color: #444;
}
.desc-a-part{
    text-indent: 1em;
    line-height: 40px;
    font-size:14px;
   	
}
.desc-a-part a{
	color:#19a2d5;
	margin-left:40px;
}
.radios-con{
	float: left;
	overflow:hidden;
}
.radios-con .item-radio-option{
	margin:5px;
	line-height: 19px;
	margin-left: 30px;
}