<?xml version="1.0" encoding="UTF-8"?>
<weixin:QiyeWeixin-config xmlns:weixin="aurora.plugin.weixin" >
	<instances>	
			<weixin:QiyeWeixin-instance token="QghCmtkq6x4sdejT5JyUGEA" corpId="wxb3c1ffa10f7589c0" encodingAESKey="25dUKXyFcqpvrG15RvHk7MaijhjQQvTOf79IrH1e5uj" appName="app1"/>

			<weixin:QiyeWeixin-instance token="1PYTqPzNVP4h" corpId="wxb3c1ffa10f7589c0" encodingAESKey="wezNDa4VixLpGGfuNtmqNw4xoJIHe8TP9rdIVn63rst" appName="app2"/>

			<weixin:QiyeWeixin-instance token="alP5LM12JphcCBOP" corpId="wxb3c1ffa10f7589c0" encodingAESKey="ZucKTDHxRStelmoYNHdpVhx8CaoWQwhrfUWOy2q8EEb" appName="app3"/>	

	</instances>

	<tokenTasks>
			<weixin:QiyeToken-task  groupname="group1"  corpId="wxb3c1ffa10f7589c0" secrect="kTOEnvpyY-r2HEEHhBkopZBDpC-YItV9Mt-NQaVafR7jI96hc5ctpMEqhrdqemcD"/>

	</tokenTasks>	
</weixin:QiyeWeixin-config>