.body {
	width: 1082px;
	height: 100%;
	margin: 10px auto 100px auto;
	background-color: #fff;
	padding: 15px;
	overflow: hidden;
	overflow-x: visible;
	border: 1px solid #e5e5e5;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.body div {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.body span {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.body .body_left {
	float: left;
	width: 800px;
	overflow-x: visible;
}
.body .body_right {
	float: right;
	width: 250px;
	overflow: hidden;
}
.body_right .right_picture {
	width: 100%;
	box-shadow: 0 0 5px #ddd;
	overflow: hidden;
	margin-bottom: 10px;
	border-bottom: 1px solid #ddd;
}
.right_picture img{
	border:1px solid #c0c0c0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.right_picture .description {
	display: block;
	padding: 8px 12px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	color: #333;
	font-size: 16px;
	line-height: 24px;
	font-family: "微软雅黑";
}
.right_picture .description span {
	background: url(../images/icon-view.png) -78px -213px no-repeat;
	padding-left: 31px;
	*background-position:-78px -206px;
}
.body_right .right_box {
	background-color: #f9f9f9;
	border: 1px solid #ddd;
	margin-bottom: 10px;
	padding: 0 15px;
	padding-bottom: 10px;
}
.body_right .calute_box {
	background-color: #fcfcfc;
}
.right_box .side_title {
	font-size: 14px;
	font-weight: bold;
	padding: 10px 0;
	line-height: 20px;
	color: #5f5f5f;
}
.right_box .side_list_item {
	line-height: 22px;
	color: #555;
	font-size: 12px;
	font-family: Microsoft YaHei;
}
.visited {
	color: #136ec2;
	cursor: pointer;
	text-decoration: none;
}
.visited:hover {
	text-decoration: underline;
}
.body i:hover {
	cursor: pointer;
}
.body_right .right_news {
	/* width: 100%; */
	padding: 10px 13px;
	border: 1px solid rgb(230, 230, 230);
	margin-bottom: 10px;
	overflow: hidden;
}
.body_left .content {
	width: 100%;
	overflow-x: visible;
	padding: 0px;
	margin: 0;
	padding-right: 25px;
	padding-left: 15px;
	font-family: Microsoft YaHei;
}
.content .tool {
	width: 100%;
	height: 25px;
	margin-top: 5px;
}
.content .tool .tool_title_body {
	float: right;
	position: relative;
	color: #519cea;
	font-family: Microsoft YaHei;
}
.tool_title_body .left {
	float: left;
	font-size: 14px;
	line-height: 18px;
	padding-right: 8px;
	padding-left: 8px;
	margin-right: 10px;
	border-right: 1px solid #ccd2d8;
}
.tool_title_body .collect_btn {
	position: relative;
	float: left;
	line-height: 18px;
	color: #519cea;
	padding-right: 8px;
	margin-right: 10px;
	border-right: 1px solid #ccd2d8;
}
.content .content_title {
	font-size: 28px;
	line-height: 34px;
	margin-bottom: 14px;
	color: #000;
	font-weight: 500;
	z-index: 0;
	position: relative;
	overflow: hidden;
}
.content_title span {
	display: inline;
	float: left;
	padding: 5px 0;
}
.content_title .edit{
	float: left;
    line-height: 5px;
    margin-left: 5px;
}
.content_title > div {
	border: 1px solid #e6e6e6;
	border-radius: 5px;
	padding: 6px 10px;
	font-size: 14px;
	float: left;
	line-height: 10px;
	margin-top: 11px;
	margin-left: 10px;
	color: #519cea;
	cursor: pointer;
}
.content_title > div:hover {
	background-color: #74adec;
	color: #fff;
}
.content .content_summary {
	background-color: #fff;
	line-height: 25px;
	font-size: 16px;
	color: #333;
	margin-bottom: 18px;
	text-indent: 2em;
}
.content .baseinfor {
	display: inline-block;
	width: 100%;
	font-size: 12px;
	position: relative;
	z-index: 10;
	text-indent: 0;
}
.content .baseinfor > div {
	width: 100%;
	border-bottom: 1px dotted #dddddd;
	padding: 5px;
	overflow: hidden;
	white-space: nowrap;
}
.content .baseinfor .left {
	float: left;
	width: 50%;
	padding: 0 10px;
	font-size: 14px;
	*padding:0px;
}
.content .baseinfor .right {
	float: right;
	width: 50%;
	padding: 0 10px;
	font-size: 14px;
	*padding:0px;
}
.content .baseinfor .column {
	float: left;
	width: 33.3%;
	padding: 0 10px;
	font-size: 14px;
}
.content .baseinfor span {
	float: left;
	color: #999;
	width: 40%;
}
.content .baseinfor div {
	color: #333;
}
.content .catalog {
	position: relative;
	width: 100%;
	overflow: hidden;
	margin-top: 30px;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	background: #fbfbfb;
	box-shadow: 0 0 5px #ddd;
}
.content .catalog .left {
	float: left;
	width: 90px;
	height: 100%;
	background: #fbfbfb;
	font-size: 20px;
	color: #333;
	padding-top: 22px;
	line-height: 22px;
	font-weight: 200;
	text-align: center;
	position: relative;
}
.content .catalog .left span {
	display: block;
	width: 64px;
	height: 48px;
	position: relative;
	float: right;
	background: #64a0de;
	color: #fff;
	border-right: 3px solid #4c88c7;
	font-size: 18px;
	line-height: 48px;
}
.content .catalog .main_text {
	border-left: 1px solid #ebebeb;
	padding: 6px 0 6px 0;
	background: #fff;
	min-height: 60px;
	overflow: hidden;
	height: 100%;
}
.content .catalog .main_text .text_column {
	float: left;
	width: 25%;
	border-right: 1px solid #f5f5f5;
	padding: 0 10px 0 13px;
}
.content .catalog .main_text .text_column .column {
	line-height: 20px;
	margin-top: 3px;
	padding: 2px 0 2px 0;
}
.content .catalog .main_text .text_column .column span {
	position: relative;
	width: 18px;
	color: #63a0df;
	font-size: 16px;
	padding-right: 8px;
	text-align: right;
	display: inline-block;
}
.content .catalog .main_text .text_column .column a {
	font-size: 16px;
	font-weight: 500;
	color: #136ec2;
	/*text-decoration: none;*/
}
.content .catalog .main_text .text_column .column_text {
	line-height: 12px;
	margin-top: 3px;
	padding: 2px 0 2px 24px;
}
.content .catalog .main_text .text_column .column_text span {
	color: #ccc;
	padding-right: 3px;
	font-size: 12px;
}
.content .catalog .main_text .text_column .column_text a {
	font-size: 12px;
	color: #333
}
.content .lemma_main_content {
	outline: 0;
	overflow-x: visible;
	padding-bottom: 16px;
	width: 100%;
	position: relative;
	/*padding-left: 30px;*/
}
.content .lemma_main_content .headline_1 {
	display: block;
	font-size: 24px;
	font-weight: 500;
	line-height: 22px;
	margin: 35px 0 15px -30px;
	clear: both;
	zoom: 1;
	overflow: hidden;
	position: relative;
}
.content .lemma_main_content .headline_1 .icon {
	width: 25px;
	height: 24px;
	line-height: 24px;
	font-size: 16px;
	display: block;
	float: left;
	margin: 1px 0 0 0;
	background: #519cea;
	color: #fff;
	text-align: center;
	border-radius: 0 2px 2px 0;
	z-index: 99;
	position: relative;
}
.content .lemma_main_content .headline_1 .text {
	line-height: 24px;
	display: block;
	float: left;
	padding: 0 8px 0 5px;
	background: #fff;
	z-index: 99;
	position: relative;
}
.content .lemma_main_content .headline_1 .line {
	right: 50px;
	border-bottom: 1px solid #dddddd;
	width: 100%;
	margin-top: 13px;
	*margin-top: -10px;
	margin-right: 15px;
	position: absolute;
}
.content .lemma_main_content .headline_1 .edit {
	font-size: 14px;
	line-height: 24px;
	float: right;
	color: #888;
	z-index: 99;
	position: relative;
}
.content .lemma_main_content .headline_1 .edit:hover {
	color: #519cea;
	cursor: pointer;
}
.content .lemma_main_content .para {
	color: #333;
	margin: 15px 0 5px 0;
	text-indent: 2em;
	line-height: 24px;
	font-size: 14px;
	overflow: hidden;
}
.content .lemma_main_content .text_none{
	text-indent: 0;
}
/* 增加新型table样式 */
.content .lemma_main_content .text_none .para-table{
	border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
    margin: 0;
    width: 100%;
    color: #000;
    line-height: 24px;
    margin-bottom: 20px;
}
.para-table tr{
	
}
.para-table tr td{
	padding: 2px 2px;
    font-size: 12px;
    line-height: 22px;
    height: 22px;
    border: 1px solid #e6e6e6;
    border-left: 0!important;
    border-right: 0!important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}
.para-table tr td.title{
	text-align: center;
    font-weight: 700;
    height: 23px;
    background-color: #f9f9f9;
    border-top: 2px solid #ccc!important;
    border-bottom: 1px solid #e6e6e6!important;
}
.content .lemma_main_content .para .para_title{
  font-size: 18px;
  line-height: 19px;
  margin: 10px 0 10px 0;
  font-weight: 500;
  text-indent: 0;
}
.content .lemma_main_content .para .para_left {
	float: left;
	width: 67%
}
.content .lemma_main_content .para .para_right {
	float: right;
	width: 30%;
	text-indent: 0;
}
.content .lemma_main_content .para .para_right img {
	width: 220px;
	height: 110px;
	border: 1px solid #dddddd
}
.content .lemma_main_content .para .para_picture {
	clear: right;
	width: 220px;
	text-indent: 0;
	border-bottom: 1px solid #ddd;
	position: absolute;
	right: 0px;
}
.content .lemma_main_content .para .para_picture img {
	display: block;
}
.content .lemma_main_content .para .para_picture span {
	display: block;
	padding: 5px;
	font-size: 14px;
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
}
.para .link-at{
	cursor:pointer
}
.back_to_top{
	position: fixed;
    z-index: 999;
    right: 30px;
    bottom: -10px;
    width: 60px;
    background-color:rgba(255,255,255,1);
    padding: 10px 10px 15px;
    *max-width:38px;
    display: block;
    font-size: 14px;
    font-weight: 800;
    text-align: center;
    border-width: 1px 1px 0px;
    border-color: #BBB;
    border-style: solid;
    box-shadow: 0px 0px #FFF, 0px 1px 3px rgba(34, 25, 25, 0.5);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* transition: bottom 250ms ease-in-out 0s; */
}
.back_to_top:hover{
	text-decoration: none;
	background-color:#519cea;
	color:#fff;
}
.body .body_right .right_item{
	/* position: relative; */
    width: 100%;
    padding: 10px 0;
    overflow: hidden;
    border-collapse:collapse;
    margin-bottom:20px;
    /* border: 1px solid rgb(230, 230, 230); */
}
.body .body_right .right_item .left{
	position:relative;
	float:left;
	cursor:pointer;
	width:50%;
	border: 1px solid rgb(230, 230, 230);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	
}
.body .body_right .right_item .left .shadow{
	display:none;
	position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    left:0;
    background-color: rgba(81,156,234,0.7);
    color: #fff;
    text-align: center;
    padding: 5px;
}
.body .body_right .right_item .left:hover .shadow{
	display:block;
}
.body .body_right .right_item_list{
	position:relative;
	width:100%;
	overflow:hidden;
	margin-bottom:100px;
}
.body .body_right .right_item_list img{
	margin-bottom:10px;
}
.body .body_right .right_item_list img:hover{
	opacity:0.8;
}
.body .body_right .right_item_show{
	position:relative;
	width:100%;
	overflow:hidden;
	border-top:2px solid #519cea;
	margin-bottom:20px;
	height: 384px;
}
.body .body_right .right_item_show .item_show{
	position:absolute;
	left:100%;
	top:0;
}
.body .body_right .right_item_show .left_turn{
    position: absolute;
    display:none;
    top: 35%;
    left:0;
    padding: 20px 10px;
    color: #fff;
    background-color: rgba(0,0,0,0.3);
}
.body .body_right .right_item_show .right_turn{
    position: absolute;
    display:none;
    top: 35%;
    right:0;
    padding: 20px 10px;
    color: #fff;
    background-color: rgba(0,0,0,0.3);
}
.body .body_right .right_item_show:hover .left_turn,
.body .body_right .right_item_show:hover .right_turn{
	display:block;
}
.body .body_right .right_show_list{
	position:relative;
	width:100%;
	height:480px;
	overflow:hidden;
	border: 1px solid rgb(230, 230, 230);
	padding:5px 0px;
	margin-bottom:20px;
}
.body .body_right .right_show_list .title{
	/* width:100%; */
	height:50px;
	text-align:center;
	padding:15px 0;
	margin:0 10px;
	border-bottom:3px solid #519cea;
	font-weight: bold;
	font-size:14px;
}
.body .body_right .right_show_list .content{
	position:relative;
	overflow:hidden;
	height:371px;
	width:100%;
}
.body .body_right .right_show_list ul{
	top:100%;
	width:100%;
	position:absolute;
	padding:0 10px;
	/* border-bottom:1px solid #ccc; */
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.body .body_right .right_show_list ul li{
	width:100%;
	/* height:90px; */
	padding:10px 0;
	overflow:hidden;
	border-bottom:1px dotted #dddddd;
	white-space: nowrap;
/* 	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box; */
}
.body .body_right .right_show_list ul li img{
	border:1px solid #fff;
}
.body .body_right .right_show_list ul li:hover img{
	border:1px solid #519cea;
}
.body .body_right .right_show_list ul li:hover p{
	color:#519cea;
}
.body .body_right .right_show_list ul li .left{
	float:left;
	height:100%;
}
.body .body_right .right_show_list ul li .right{
	float:left;
	height:100%;
	width:45%;
	padding: 5px 10px;
    text-align: left;
}
.body .body_right .right_show_list ul li .right .big{
	font-size: 20px;
    color: #519cea;
    margin-right: 5px;
}
.body .body_right .right_show_list .foot{
    position: absolute;
    width: 100%;
    bottom: 0px;
    border-top: 1px solid #ccc;
    padding: 7px;
    text-align: center;
}
.body .body_right .right_show_list .foot i{
    border: 2px solid #519cea;
    height: 28px;
    width: 28px;
    border-radius: 16px;
    font-size: 26px;
    color: #519cea;
}
.body .body_right .right_show_list .foot i:hover{
    background-color:#519cea;
    color: #fff;
}
.body .body_right .right_show_item{
	position:relative;
	margin-bottom:20px;
}
.body .body_right .right_show_item .show_bar{
    position: absolute;
    top: 65%;
    left: 15px;
    background-color: #519cea;
    color: #fff;
    padding: 5px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.body .side_bar{
	display: block;
    position: relative;
    /* bottom: 100px;
    right: 120px; */
}
.body .side_bar .side_bar_menu{
	width: 250px;
    height: 355px;
    /* overflow: hidden; */
    padding: 10px;
    padding-bottom: 0;
    padding-left: 0;
    position: relative;
}
.body .side_bar .side_bar_menu .height_line{
	width: 0;
	float:left;
    height: 100%;
    border: 1px solid #eaeaea;
    position: relative;
    left: 10px;
}
.body .side_bar .side_bar_menu .height_line .top_cirlce{
	position: absolute;
    top: -2px;
    left: -7px;
    width: 15px;
    height: 15px;
    /* border: 2px solid #d1d1d1; */
    border-radius: 10px;
    /* background-color: #fff; */
    background:url(../images/circle-white.png);
}
.body .side_bar .side_bar_menu .height_line .bottom_cirlce{
	position: absolute;
    bottom: -2px;
    left: -7px;
    width: 15px;
    height: 15px;
    /* border: 2px solid #d1d1d1; */
    border-radius: 10px;
    /* background-color: #fff; */
    background:url(../images/circle-white.png);
}
.body .side_bar .side_bar_menu .catalog{
    float: left;
    height: 305px;
    width:200px;
    overflow: hidden;
    margin-top: 20px;
    padding-left: 25px;
    margin-bottom: 20px;
    position: relative;
}
.body .side_bar .side_bar_menu .catalog ul{
    position: absolute;
    top: 0px;
    left: 25.5px;
}
.body .side_bar .side_bar_menu .catalog ul li{
	position:relative;
	padding:5px;
}
.body .side_bar .side_bar_menu .catalog ul li.son{
	padding-left:15px;
}
.body .side_bar .side_bar_menu .catalog ul li .index{
	color: #999;
    padding-right: 5px;
}
.body .side_bar .side_bar_menu .catalog ul li a{
	color: #555;
    font-size: 14px;
    font-weight: bold;
    line-height:1.5;
}
.body .side_bar .side_bar_menu .catalog ul li:hover a,
.body .side_bar .side_bar_menu .catalog ul li.son:hover a{
	color:#519cea;
	text-decoration: none;
}
.body .side_bar .side_bar_menu .catalog ul li.son a{
	color: #666;
    font-size: 14px;
    font-weight: normal;
}
.body .side_bar .side_bar_menu .catalog ul li > div{
	position: absolute;
    top: 7px;
    left: -23px;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    /* background-color: #d1d1d1; */
    background-image:url(../images/circle-grey.png);
}
.body .side_bar .side_bar_menu .up_down{
	float: right;
	display:none;
	cursor:pointer;
    margin: 140px 10px 140px 0;
}
.body .side_bar .side_bar_menu:hover .up_down{
	display:block;
}
.body .side_bar .side_bar_menu .up_down .up{
	padding: 8px 5px 0 5px;
    border: 1px solid #ddd;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.body .side_bar .side_bar_menu .up_down .down{
	padding: 0px 5px 8px 5px;
    border: 1px solid #ddd;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.body .side_bar .side_bar_menu .up_down i{
	font-size:16px;
	color:#555;
}
/* 供应商生命周期 */
.content .pur-cycle{
	overflow: hidden;
    width: 100%;
    margin: 20px auto;
}
.content .pur-cycle .cycle-step{
	width: 160px;
    height: 110px;
    float: left;
    overflow: hidden;
    text-align: center;
}
.content .pur-cycle .cycle-step .cycle-show-circle{
	float: left;
    width: 90px;
    height: 90px;
    border-radius: 45px;
    line-height: 90px;
    margin-top: 10px;
    border: 1px solid #ccc;
    color: #aaa;
    font-size: 14px;
}
.content .pur-cycle .cycle-step .cycle-show-circle.active{
	border:1px solid #64a0de;
	color:#64a0de;
}
.content .pur-cycle .cycle-step .cycle-turn-img{
	float:left;
	height: 40px;
    margin-top: 35px;
    margin-left: 20px;
}