.blt-query-body{
	width:1200px;
	min-width:1000px;
	margin:10px auto;
	min-height:200px;
	overflow:hidden;
	border:1px solid #ccc;
	background:#fff;
	font-family:Microsoft Yahei;
}
.blt-query-body .body-content{
	margin:20px;
}
.blt-query-body .query-head{
	
}
.blt-query-body .query-head ul{
	overflow: hidden;
}
.blt-query-body .query-head ul li{
    float: left;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    padding: 0 10px;
    cursor:pointer;
}
.blt-query-body .query-head ul li.active{
	border-bottom:4px solid #19a2d5;
}
.blt-query-body .query-result{
	position:relative;
	margin-top:10px;
}
.query-result .query-result-content{
	display:none;
}
.query-result .query-result-content ul{
	
}
.query-result .query-result-content ul li{
	font-size: 14px;
    border-top: 1px solid #ccc;
    padding: 15px 0;
}
.query-result-content ul li .row{
	/* overflow:hidden; */
	color: #19a2d5;
}
.query-result-content ul li .row .left{
	float:left;
	margin-right: 10px;
}
.query-result-content ul li .row .right{
	float:right;
	margin-right: 10px;
	margin-right: 20px;
    /* overflow:hidden; */
}
.query-result-content ul li .row .right > div{
	float: left;
    margin: 0 7px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 18px;
    position:relative;
}
.query-result-content ul li .row .right > div.over{
	color:red;
}
.query-result-content ul li .row .right .icon-prompt{
	display:none;
	position: absolute;
    top: -35px;
    left: -14px;
    width: 50px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    font-family:Microsoft Yahei;
    z-index: 10;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 1px 1px #ddd;
}
.query-result-content ul li .row .right .icon-prompt .trianegle{
	position: absolute;
    width: 0;
    height: 0;
    top: 20.5px;
    left: 16px;
    border-top: 7px solid #ddd;
    border-left: 7px solid #fff;
    border-right: 7px solid #fff;
}
.query-result-content ul li .row .right > div:hover .icon-prompt{
	display:block;
}
.query-result-content ul li .row .right  i{
	cursor:pointer;
}
.query-result-content ul li .row .right > div:hover{
	font-size:22px;
}
.query-result-content ul li .row .right > i:hover{
	
}
.query-result-content ul li .row .link-title{
	cursor:pointer;
	max-width:70%;  
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.query-result-content ul li .tips{
	font-size: 12px;
    color: #aaa;
    text-indent: 90px;
    margin-top: 5px;
}
.bulletin-type-after{
	
}
.bulletin-type-after .left-prompt{
	float: left;
    width: 100px;
    height: 24px;
    line-height: 24px;
    text-align: center;
}
.bulletin-type-after .right-div{
	position:relative;
	float: left;
    width: 143px;
    height: 22px;
    padding-left: 7px;
    background: #fff;
    border: 1px solid #ddd;
}
.bulletin-type-after .right-div > input{
	float: left;
    width: 125px;
    height: 22px;
    line-height: 22px;
    border: 0;
    background: transparent;
}
.bulletin-type-after .right-div > i{
	float: left;
    margin-left: 4px;
    line-height: 22px;
    cursor:pointer;
}
.bulletin-type-after .right-div > i:hover{
	color:#19a2d5;
}
.right-div .type-list{
	position: absolute;
	display:none;
    z-index: 1000;
    top: 23px;
    left: -1px;
    width: 150px;
    /* height: 100px; */
    background: #eff2f9;
    border: 1px solid #ddd;
    box-shadow: 2px 3px 4px 1px #aaa;
}
.right-div .type-list > ul{
	font-size:12px;
	overflow:hiddem;
}
.right-div .type-list > ul > li{
	padding:3px 15px;
	cursor:pointer;
}
.right-div .type-list > ul > li.title{
	font-weight: bold;
    padding: 5px;
}
.right-div .type-list > ul > li:hover{
	background:#dbeeff;
}
.right-div .mask{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity:0.1;
    filter: alpha(opacity=10);
}