div,ul,li{
	font-family:Microsoft YaHei;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
span{
	font-family:Microsoft YaHei;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.head{
	width:100%;
	/* height:40px; */
	height:0px;
	overflow:hidden;
}
.body{
	width:100%;
	overflow:hidden;
	min-height:600px;
	background: #f3f3f3 url(../images/step_bg.png) repeat;
}
.main-content{
	width:900px;
	margin:0px auto;
}
.body .content-m{
	margin-top:20px;
	margin-bottom:20px;
}
.body .title{
    font-size: 24px;
    color: #999;
    margin-bottom: 20px;
}
.body .head-desc{
	border: 1px solid #c7dec6;
    background-color: #f1fbf0;
    padding: 35px 0 35px 80px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 20px;
    color: #666;
}
.body .body-editor{
	width:100%;
	margin:0 auto;
    border: 1px solid #eee;
    border-top:0;
	background-color:#fff;
	overflow:hidden;
}
.body .body-editor .step_title{
	width: 700px;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 18px;
}
.body .body-editor .step{
	width:700px;
	margin:50px auto;
	position:relative;
}
.body .body-editor .step .order{
	position: absolute;
    width: 35px;
  	height: 35px;
  	background-color: #5bc648;
  	color: #fff;
  	border-radius: 50%;
  	text-align: center;
  	line-height: 35px;
  	font-size: 18px;
  	top: 0;
  	left: 0;
}
.body .body-editor .step [id]{
	box-sizing: content-box;
	-moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
}
.body .body-editor .step .step-opera{
	position: absolute;
    top: 80px;
    right: 15px;
    font-size: 20px;
    color:#999;
}
.body .body-editor .step .step-opera li{
	cursor:pointer;
}
.body .body-editor .step .step-opera li:hover{
	color:#333;
}
.body .body-editor .step .add-btn{
	display: block;
    height: 33px;
    width: 141px;
    font: 14px/32px '';
    background-color: #fcfcfc;
    color: #5dc34a;
    border: 1px solid #dadada;
    cursor: pointer;
    text-align: center;
    font-weight: 700;
    margin-left:50px;
}
.body .body-editor .step .add-btn:hover{
    background-color: #f1ffed;
    border-color: #aed7a7;
    color: #5dc300;
}
.body .operation-set{
	margin: 20px 0;
    text-align: center;
}
.body .operation-set .save-btn{
	width: 111px;
    height: 35px;
    background-color: #68c856;
    color: #fff;
    border: 1px solid #dadada;
    margin: 0 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    text-align: center;
    line-height: 32px;
}
#api5010_api_attachment_file_upload_window{
	z-index: 10000;
}