.wfl1001_body_class{
	width:100%;
	overflow:hidden;
	background-color:#edf3f7;
	-moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none;
    cursor:default;
}
.wfl1001_body_class div{
	box-sizing: border-box;
	-moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.wfl1001_body_class li{
	box-sizing: border-box;
	-moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.wfl1001_body_content{
	width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    margin-top: 0px;
}
.wfl1001_body_table{
	width:100%;
	height:100%;
	padding:0;
	margin:0 auto;
	border-collapse:collapse;
}
.wfl1001_body_table .table_left{
	width:200px;
	vertical-align: top;
	height:100%;
	padding:0;
	background-color:#303030;
}
.wfl1001_body_table .table_right{
	width:1000px;
	height:100%;
	padding:0;
	background-color:#edf3f7;
}

/*
........�Ҳ�˵��� 
*/

.wfl1001_body_table .table_left .side_title{
	margin:20px 31px;
	border-bottom: 2px solid #ccc;
}
.wfl1001_body_table .table_left .side_title_div{
	width:100%;
	height:100px;
	color:#fff;
	padding: 40px 31px;
    font-size: 20px;
    font-style:oblique;
    font-weight:bold;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.wfl1001_body_table .table_left .ident{
	width:100%;
	height:100px;
	margin:top:10px;
}
.wfl1001_body_table .table_left ul{
	list-style: none;
    margin: 0;
    padding: 0;
    /* margin:20px 31px; */
    color:#000;
    font-size:14px;
}
.wfl1001_body_table .table_left ul li{
	height:40px;
	line-height:40px;
	width:100%;
	color:#fff;
}
.wfl1001_body_table .table_left ul li:hover{
	background-color:#272020;
	color:#fff;
	border-right:5px solid #00a489
}
/* .wfl1001_body_table .table_left ul li:hover a i{
	color:#fff;
}
.wfl1001_body_table .table_left ul li:hover a span{
	color:#fff;
} */
.wfl1001_body_table .table_left ul li a{
	margin:20px 31px;
	text-decoration:none;
}
.wfl1001_body_table .table_left i{
	color:#fff;
}
.wfl1001_body_table span{
	color:#fff;
	font-size:14px;
    font-family:Microsoft YaHei;
}

/*
........�м�����
*/

.wfl1001_content{
	margin-left:10px;
	width:990px;
	position: relative;
	height:1500px;
	background-color:#edf3f7;
	/* overflow:hidden; */
	padding-top:10px;
}
/* ��ͼ */
.wfl1001_map_slide {
	margin: 0 0; 
	padding: 0;
	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: #418bca;
	/* width:100%; */
}
.wfl1001_map_slide .btn_slide {
	background-color:#418bca;
	text-align: center;
	width: 144px;
	height: 31px;
	margin: 0 auto;
	display: block;
	color: #fff;
	text-decoration: none;
	font-family:Microsoft YaHei;
	font-size:14px;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	cursor:pointer;
}
.Obtn {
	/* MARGIN-TOP: 120px; */
    WIDTH: 25px;
	background-color: #fff;
	border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
	FLOAT: left;
	HEIGHT: 100px;
	color:#418bca;
	cursor:pointer;
}
#wfl1001_map_main_div{
	height:100%;
	width:100%;
	float:right;
	z-index:1;
	overflow:hidden;
	border:0
}
#wfl1001_mapMain{
	height:100%;
	width:100%;
	float:right;
	z-index:1;
	overflow:hidden;
	border:0;
	/* color:#000 */
}
#wfl1001_mapMain span{
	color:#000;
}
/* ��ת��div�� */
.wfl1001_content .card_content{
	margin:10px 0px 0 0px;
	/* overflow:hidden; */
}
.wfl1001_content .card_content .card_row{
	width:25%;
	float:left;
	padding-left:10px;
	padding-right:10px;
	margin-bottom:10px;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.wfl1001_content div{
	font-family:Microsoft YaHei;
}
.wfl1001_content .card_content .car_container{
	position:relative;
	width:100%;
	cursor:pointer;
	z-index:0;
}
.wfl1001_content .card_content .car_container .front{
	width:100%;
	min-height:90px;
	position:relative;
	border-radius: 4px;
	color:#fff;
	padding:15px;
	overflow:hidden;
	position: relative;
	z-index:900;
	transform: rotateX(0deg) rotateY(0deg);
	-webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg);
    -o-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
	transition: all 0.4s ease-in-out;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.wfl1001_content .card_content .car_container:hover .front{
	z-index:900;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}
.wfl1001_content .card_content .car_container .back{
	position: absolute;
	text-align: center;
	width:100%;
	height:auto;
	top:0;
	left:0;
	z-index:800;
	min-height:90px;
	border-radius: 4px;
	background-color: white !important;
	padding: 0 15px 0 15px;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
	transition: all 0.4s ease-in-out;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.wfl1001_content .card_content .car_container:hover .back{
	z-index:1000;
	transform: rotateX(0deg) rotateY(0deg);
	-webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg);
    -o-transform: rotateX(0deg) rotateY(0deg);
}
.wfl1001_content .card_content .car_container .back a:hover{
	text-decoration: none;
	color:#418bca;
}
.redbrown .front{
	background-color:#d9544f;
}
.greensea .front{
	background-color:#16a085;
}
.blue .front{
	background-color:#418bca;
}
.slategray .front{
	background-color:#3f4e62;
}
.wfl1001_content .row_2{
	margin:20px 20px 0 20px;
	position:relative;
	/* overflow:hidden; */
}
.wfl1001_content .row_2 .column1{
	float:left;
	width:50%;
	padding:10px;
	box-sizing: border-box;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.wfl1001_content .row_2 .column2{
	float:right;
	width:50%;
	padding:10px;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
/* �·���̬���� */
.wfl1001_content .row_column{
	margin:20px 0px 0 0px;
	position:relative;
	overflow:hidden;
}
#wfl1001_clound_row_rec01{
	display:none;
	border-right:8px solid #fff;
	border-bottom: 8px solid rgba(255, 255, 255, 0);
	border-top: 8px solid rgba(255, 255, 255, 0);
	position:absolute;
	left: -8px;
	top: 300px;
}
#wfl1001_cloud_row_column1{
	padding:0 0;
	position:absolute;
	width:0;
	height:134px;
	top:230px;
	z-index:19;
	background: #fff;
	opacity:1;
	transition: all 0.4s ease-in-out 0s;
}
#wfl1001_clound_row_rec02{
	display:none;
	border-right:8px solid #fff;
	border-bottom: 8px solid rgba(255, 255, 255, 0);
	border-top: 8px solid rgba(255, 255, 255, 0);
	position:absolute;
	left: -8px;
	top: 330px;
}
#wfl1001_cloud_row_column2{
	padding:0 0;
	position:absolute;
	width:0;
	height:134px;
	top:250px;
	z-index:9;
	background: #fff;
	transition: all 0.4s ease-in-out 0s;
}
.wfl1001_content .row_column .column_1{
	color: white;
    cursor: pointer;
    display: block;
    float: left;
    height: 114px;
    letter-spacing: 0.02em;
    margin: 10px 1% 10px 0;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    width: 17%;
    z-index: 1;
    padding:5px 10px;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.wfl1001_content .row_column .double{
	width:28%;
}
.wfl1001_content .row_column .column_1 i{
    font-size:50px;
    margin-top:20px;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.wfl1001_content .row_column .column_1 .number{
    position:absolute;
    top:40px;
    right:15px;
    font-size:24px;
    font-family:Microsoft YaHei;
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.wfl1001_content .row_column .column_1 .name{
    position:absolute;
    top:80px;
    font-size:14px;
    font-family:Microsoft YaHei;
}
.wfl1001_content .row_column .column_1:hover{
	opacity: 0.8;
}
.wfl1001_content .row_column .column_1:hover i{
	transform: rotate(83deg);
    -moz-transform: rotate(83deg);
    -webkit-transform: rotate(83deg);
    -o-transform: rotate(83deg);
    font-size: 140px;
    opacity: 0.2;
}
.wfl1001_content .row_column .column_1:hover .number{
	transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    font-size: 40px;
    opacity: 0.6;
}
.wfl1001_content .row_column .orange{
	background-color:#f37b53;
}
.wfl1001_content .row_column .olive{
	background-color:#959801;
}
.wfl1001_content .row_column .yellow{
	background-color:#ffb400;
}
.wfl1001_content .row_column .green{
	background-color:#74b749;
}
.wfl1001_content .row_column .red{
	background-color:#de577b;
}
.wfl1001_content .row_column .purple{
	background-color:#847cc5;
}
.wfl1001_content .row_column .light_blue{
	background-color:#61b9ff;
}
.wfl1001_content .row_column .light_green{
	background-color:#00a489;
}
.wfl1001_content .row_column .light_brown{
	background-color:#ab8465;
}
.wfl1001_content .row_column .block_grey{
	background-color:#77808a;
}
/* ��Ϣ�� */
.wfl1001_content .row_column .left{
	float:left;
	width:60%;
	padding:0 10px;
}
.wfl1001_content .row_column .right{
	float:right;
	width:40%;
	padding:0 10px;
}
.wfl1001_content .row_column .left .information{
	height:300px;
	width:100%
}
.wfl1001_content .row_column .left .information .infor_left{
	float:left;
	width:40%;
	height:100%;
	background-color:#22a2ab
}
.wfl1001_content .row_column .left .information .infor_right{
	float:left;
	width:60%;
	height:100%;
	background-color:#303030;
}
.information .infor_left ul{
	width:100%;
	height:100%;
	color:#fff;
	font-size:14px;
}
.information .infor_left ul li{
	width:100%;
	height:12.5%;
	color:#fff;
	padding:10px;
	white-space:nowrap;
}
.information .infor_left ul li .triangle{
	border-right:10px solid #303030;
	border-bottom: 10px solid rgba(255, 255, 255, 0);
	border-top: 10px solid rgba(255, 255, 255, 0);
	position:relative;
	margin-right:-10px;
	display:none;
}
.information .infor_left ul li:hover{
	background-color:#0e99a0;
}
.information .infor_right > div{
	width:75%;
	height:90%;
	margin:30px auto
}
.information .infor_right .title{
	color:#fff;
	font-size:22px
}
.information .infor_right .content{
	width:100%;
	margin-top:30px;
	overflow:hidden
}
.information .infor_right .content > div{
	float:left;
	width:33%;
	color:#fff;
	font-size:12px;
	text-align:center
}
.information .infor_right .infor_foot{
	position:relative;
	width:100%;
	margin-top:30px;
	overflow:hidden
}
.information .infor_right .infor_foot .background{
	width:100%;
	height:5px;
	background-color:#272020
}
.information .infor_right .infor_foot .value{
	position:absolute;
	width:60%;
	height:5px;
	top:0;
	z-index:9;
	background-color:#00a489
}
.information .infor_right .infor_foot .text{
	margin-top:10px;
	margin-bottom:10px;
	color:#fff;
	font-size:12px;
	width:100%;
	text-align:center;
}
/* �Ҳ౨�����Ϣ�� */
.wfl1001_content .row_column .right .top_chart{
	width:100%;
	height:170px;
	background-color:#9d4a9c;
	padding:0 10px
}
.wfl1001_content .row_column .right .bottom_div{
	width:100%;
	height:110px;
	margin-top:20px;
	background-color:#fff;
}
.wfl1001_content .row_column .right .bottom_div > div{
	float:left;
	width:50%;
	height:100%;
	padding:10px 50px;
	text-align:center;
}
/* �����Ⱥ�ʱ�ӿ� */
.wfl1001_content .row_column .column_progress{
	float:left;
	width:70%;
	height:200px;
	padding:0 10px
}
.column_progress > div{
	width:100%;
	height:100%;
	padding:10px 20px;
	background-color:#fff
}
.column_progress .title{
	color:#a1a8b4;
	font-size:20px;
}
.column_progress .task_progress{
	height:80px;
	width:100%;
	padding:15px
}
.column_progress .task_progress .side_circle{
	float:left;
	border:5px solid #dee6eb;
	width:50px;
	height:100%;
	border-radius:50px
}
.column_progress .task_progress .task_line{
	float:left;
	margin-top:21px;
	width:90px;
	border:3px solid #dee6eb;
}
.column_progress .task_progress .middle_circle{
	float:left;
	border:5px solid #fff;
	background-color:#dee6eb;
	width:50px;
	height:100%;
	border-radius:50px
}
.column_progress .task_prompt{
	width:100%;
	height:50px
}
.column_progress .task_prompt .prompt1{
	float:left;
	position:relative;
	height:100%;
	margin-left:100px;
}
.column_progress .task_prompt .prompt2{
	float:left;
	position:relative;
	height:100%;
	margin-left:50px;
}
.column_progress .task_prompt .prompt3{
	float:left;
	position:relative;
	height:100%;
	margin-left:35px;
}
.column_progress .task_prompt .prompt_triangle{
	position:absolute;
	left:50px;
	top:-8px;
	/* border-bottom: 8px solid #d65a94; */
	border-right:3px solid rgba(255,255,255,0);
	border-left:13px solid rgba(255,255,255,0)
}
.column_progress .task_prompt .prompt_content{
	height:80%;
	width:100px;
	border-radius:8px;
	/* background-color:#d65a94; */
	color:#fff;
	text-align:center;
	padding:10px;
}
/* ʱ�� */
.wfl1001_content .row_column .clock_column{
	float:left;
	width:30%;
	height:200px;
	padding:0 10px
}
.clock_column > div{
	width:100%;
	height:100%;
	padding: 5px 65px;
	background-color:#16a086
}
.clock_column .title{
	color:#fff;
	height:30px;
	width:100%;
	text-align: left;
	font-size: 14px;
}
.clock_column .title i{
	font-size: 20px;
	margin:3px 50px 0 -40px
}
.clock_column .clock_content{
	position:relative;
	width:150px;
	height:80%;
	border-radius:80px;
	border:5px solid #fff;
}
.clock_column .clock_content .left_pointer{
	position:absolute;
	top:70px;
	float:left;
	width:15px;
	border-bottom:5px solid #fff
}
.clock_column .clock_content .right_pointer{
	position:absolute;
	top:70px;
	left:125px;
	float:left;
	width:15px;
	border-bottom:5px solid #fff
}
.clock_column .clock_content .top_pointer{
	position:absolute;
	top:0px;
	left:68px;
	float:left;
	height:15px;
	border-right:5px solid #fff
}
.clock_column .clock_content .bottom_pointer{
	position:absolute;
	top:127px;
	left:68px;
	float:left;
	height:15px;
	border-right:5px solid #fff
}
.clock_column .clock_content .circle_pointer{
	position:absolute;
	top:68px;
	left:65px;
	border:1px solid #fff;
	width:10px;
	height:10px;
	border-radius:10px;
	background-color:#fff
}
.clock_column .clock_content .hour_hand{
	position:absolute;
	top:70px;
	left:74px;
	float:left;
	width:35px;
	border-bottom:5px solid #fff
}
.clock_column .clock_content .minute_hand{
	position:absolute;
	top:54px;
	left:29px;
	transform:rotate(-140deg);
	-ms-transform:rotate(-140deg);
	-moz-transform:rotate(-140deg);
	-webkit-transform:rotate(-140deg);
	-o-transform:rotate(-140deg);
	float:left;
	width:45px;
	border-bottom:5px solid #fff
}
/* �ζ��� */
.wfl1001_content .row_column .price{
	float:left;
	width:25%;
	height:200px;
	color:#fff;
}
.wfl1001_content .row_column .price_table{
	width:90%;
	height:90%;
	margin:10px auto;
	font-size:14px;
	-webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.wfl1001_content .row_column .price_table:hover{
	width:100%;
	height:100%;
	margin:0 auto;
	/* font-size:16px; */
}
.wfl1001_content .row_column .price_table:hover .head .h_content span{
	/* font-size:44px; */
}
.wfl1001_content .row_column .terques{
	background-color:#36b1b9;
}
.wfl1001_content .row_column .terques .h_content{
	background-color:#309fa6;
}
.wfl1001_content .row_column .terques .foot div{
	background-color: #2b8e94;
}
.wfl1001_content .row_column .light_red{
	background-color:#de577b;
}
.wfl1001_content .row_column .light_red .h_content{
	background-color:#c74e6e;
}
.wfl1001_content .row_column .light_red .foot div{
	background-color: #b24662;
}
.wfl1001_content .row_column .sea_green{
	background-color:#0ca289;
}
.wfl1001_content .row_column .sea_green .h_content{
	background-color:#0b927b;
}
.wfl1001_content .row_column .sea_green .foot div{
	background-color: #0a826e;
}
.wfl1001_content .row_column .sea_purple{
	background-color:#9d4a9c;
}
.wfl1001_content .row_column .sea_purple .h_content{
	background-color:#8d428c;
}
.wfl1001_content .row_column .sea_purple .foot div{
	background-color: #7e387d;
}
.wfl1001_content .row_column .light_purple{
	background-color:#418bca;
}
.wfl1001_content .row_column .light_purple .h_content{
	background-color:#1E7EC1;
}
.wfl1001_content .row_column .light_purple .foot div{
	background-color: #1177B4;
}
.wfl1001_content .row_column .orangle{
	background-color:#f37b53;
}
.wfl1001_content .row_column .orangle .h_content{
	background-color:#EC6937;
}
.wfl1001_content .row_column .orangle .foot div{
	background-color: #D76633;
}
.wfl1001_content .row_column .price_table .head{
	width:100%;
	height:80%;
	margin:0;
}
.wfl1001_content .row_column .price_table .head .h_title{
	width:100%;
	height:25%;
	/* font-size: 16px; */
	padding: 8px;
	text-align: center;
}
.wfl1001_content .row_column .price_table .head .h_content{
	width:100%;
	height:75%;
	padding:15px 0;
	text-align: center;
}
.wfl1001_content .row_column .price_table .head .h_content span{
	font-size:40px;
}
.wfl1001_content .row_column .price_table .head .h_content div{
	margin-top: -12px;
	/* font-size: 16px; */
}
.wfl1001_content .row_column .price_table .content{
	width:100%;
	height:20%;
	margin:0;
}
.wfl1001_content .row_column .price_table .content li{
	/* width:100%; */
	height:100%;
	/* border-bottom: 1px dotted #fff; */
	margin: 0 2em;
    padding: 0.7em 0;
    text-align: center;
    /* font-size:14px; */
    font-family:Microsoft YaHei;
}
.wfl1001_content .row_column .price_table .foot{
	width:100%;
	height:0%;
	margin-bottom:0;
	text-align:center;
}
.wfl1001_content .row_column .price_table .foot div{
	width: 40%;
    height: 70%;
    margin: 5px auto;
    /* padding: 9px; */
    /* background-color: #2b8e94; */
    /* font-size: 14px; */
}
/* �Ƹ��� */
.row_column .cloudV_left{
	float:left;
	height:450px;
	width:130px;
	margin-left:10px
}
.row_column .cloudV_left > div{
	width:100%;
	height:24%;
	background-color:#ededed;
	color:#969696;
	/* background-color:#0ca389; */
	margin-bottom:10px;
	padding: 10px;
    text-align: center;
    cursor:pointer;
	transition-duration: 500ms;
    transition-property: width, #000;
    transition-timing-function: ease;
}
.row_column .cloudV_left > div:hover{
	color:#fff;
	background-color:#0ca389;
}
.row_column .cloudV_left .first{
	color:#fff;
	background-color:#0ca389;
}
.row_column .cloudV_left .title{
	font-size: 24px;
    margin: 7px auto;
}
.row_column .cloudV_left .foot{
	font-size: 18px;
}
.row_column .cloudV_right{
	float:right;
	position:relative;
	height:450px;
	width:600px;
	padding-left:10px;
	padding-right:10px;
	overflow:hidden;
}
.row_column .cloudV_right .title{
    font-size: 20px;
    text-align: center;
    height:18%;
    padding:20px 0;
}
.row_column .cloudV_right .content{
    width: 100%;
    overflow: hidden;
    height: 60%;
    /* margin-bottom:2%; */
}
.row_column .cloudV_right .foot{
    width: 100%;
    height:20%;
    color:#fff;
    background-color:#0ca389;
    overflow: hidden;
    padding:5px;
}
.row_column .cloudV_right .foot .head{
	margin-top:5px;
    margin-bottom:10px;
    margin-left:15px;
}
.row_column .cloudV_right .foot .body_content{
	position:relative;
	float:left;
    width: 19%;
    height:35px;
    background-color:#0b927b;
    color:#fff;
    text-align: center;
    padding: 7px;
    /* margin-left:15px; */
    overflow:hidden;
    margin-left:1%;
    transition-duration: 500ms;
    transition-property: width, #000;
    transition-timing-function: ease;
    box-sizing: border-box;
	-moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.row_column .cloudV_right .foot .middle_size{
	width:15.5%;
}
.row_column .cloudV_right .foot .body_content p{
	position:relative;
	z-index:100;
}
.row_column .cloudV_right .foot .body_content .inter{
	width: 0%;
    height: 100%;
    position: absolute;
    background-color:#fff;
    top: 0;
    left: 0;
}
.row_column .cloudV_right .foot .body_content:hover{
    background-color:#fff;
    color:#969696;
}
.row_column .cloudV_right .ul_show{
	list-style: outside none none;
	float:left;
	widht:50%;
}
.row_column .cloudV_right .ul_show li{
	position:relative;
	width:100%;
	list-style:none;
}
.row_column .cloudV_right .ul_show li .shadow{
	position:absolute;
	display:block;
	width:100%;
	height:100%;
	top:-5px;
	left:6px;
	padding: 15px 60px;
	text-align:center;
	opacity:0;
	background-color:rgba(0,0,0,0);
    transition: all 0.3s linear 0s;
    -webkit-transition: all 0.3s linear 0s;
}
.row_column .cloudV_right .ul_show li:hover .shadow{
	display:block;
	opacity:1;
	background-color:rgba(0,0,0,0.6);
}
.row_column .cloudV_right .ul_show2{
	list-style: outside none none;
	float:left;
	widht:50%;
}
.row_column .cloudV_right .ul_show2 li{
	position:relative;
	width:100%;
	margin-bottom:5px;
	background-color:#fff;
	list-style:none;
}
.row_column .cloudV_right .ul_show2 li img{
	margin-left:0px;
    transition: all 0.2s linear 0s;
    -webkit-transition: all 0.2s linear 0s;
}
.row_column .cloudV_right .ul_show2 li:hover img{
	margin-left:-10px;
}
.row_column .cloudV_right .show_list{
	height:80%;
	width:100%;
	overflow:hidden;
	position:relative;
}
.row_column .cloudV_right .show_list img{
	position:absolute;
	left:100%;
	top:0;
}
.row_column .cloudV_right .show_list:hover .angle_left,
.row_column .cloudV_right .show_list:hover .angle_right{
	display:block
}
.row_column .cloudV_right .show_list .angle_left{
	position: absolute;
	display:none;
    top: 40%;
    left: 0px;
    padding: 20px 10px;
    background-color: rgba(0,0,0,0.2);
}
.row_column .cloudV_right .show_list .angle_right{
	position: absolute;
	display:none;
    top: 40%;
    right: 0px;
    padding: 20px 10px;
    background-color: rgba(0,0,0,0.2);
}
.row_column .cloudV_right .show_list i{
    color: #fff;
    font-size: 30px;
}
.row_column .view_link{
	width:100%;
	height:226px;
	background-color:#66bbfc;
	color:#fff;
	padding:10px;
}
.row_column .view_link .head{
	width:100%;
	height:10%;
}
.row_column .view_link .content{
	width:100%;
	height:90%;
	padding:10px 5px;
}
.row_column .view_link .content .link{
	float:left;
	width:47%;
	height:47%;
	margin-bottom:2.5%;
	background-color:#5ca8e2;
	padding:10px;
	text-align:center;
	cursor:pointer;
	transition-duration: 500ms;
    transition-property: width, #000;
    transition-timing-function: ease;
}
.row_column .view_link .content .link:hover{
	background-color:#fff;
	color:#606060;
}
.row_column .view_href{
	width:100%;
	height:226px;
	background-color:#f37b53;
	margin-top:19px;
	padding: 40px 10px;
	color:#fff;
	text-align:center;
}
.row_column .view_href i{
	margin-left:10px;
	font-size: 18px;
	color:#EFC7D2;
}
.row_column .view_href i:hover{
	color:#fff;
}
/* lb_top ten */
.lb_customer_wrap{
	position:relative;
	width:100%;
	height:100%;
	margin:0 auto;
	padding:0;
	/* background-color:#fff; */
}
.lb_customer_wrap .customer_ele{
	float:left;
	width:20%;
	height:100%;
	position:relative;
	overflow:hidden;
	font-size:16px;
	font-family:Microsoft YaHei;
	color:#000;
}
.lb_customer_wrap .customer_ele .shadow{
	position:absolute;
	width:100%;
	height:100%;
	top:0px;
	left:-100%;
	background-color:#0ca389;
}
.lb_customer_wrap .customer_ele .text{
	display: block;
	position:absolute;
	top:10px;
	left:5px;
    width: 16px;
    height:auto;
    overflow:hidden;
    color: #484b50;
    font-size: 16px;
}
.lb_customer_wrap .customer_ele img{
	position:absolute;
	width:140px;
	height:100%;
	top:0px;
	left:60px;
}