
 .layer {
	text-align: center;
	text-shadow: 1px 1px 0px rgba( 0, 0, 0, 0.1 );
} 

.layer p {
	position: relative;
	top: 30%;
	margin: 0;
}

.layer.one {
	width:100%
}

.layer.two {
	width:100%
}

.layer.three {
	width:100%
}

.layer.four {
	width:100%
}

.bullets {
	position: absolute;
	width: 100%;
	bottom: 20px;
	padding: 0;
	margin: 0;
	text-align: center;
}

	.bullets li {
		display: inline-block;
		width: 26px;
		height: 26px;
		border-radius: 50%;
		margin: 0 3px;

		background: #5F9EA0;
		box-shadow: 0px 0px 4px rgba( 0, 0, 0, 0.2 );
		cursor: pointer;

		-webkit-tap-highlight-color: rgba( 0, 0, 0, 0 );
	}

		.bullets li:hover {
			background: #7FFFD4;
		}

		.bullets li.active {
			cursor: default;
			background: #7FFFD4;
		}


