.login_header{
	width:100%;
    height:60px;
    overflow:hidden;
    background-color: #f8f8f8;
}
.header_container{
	width:960px;
	margin-left:auto;
	margin-right:auto;
}
.header_left {
    float: left;
    width: 200px;
}
.cloud-logo,.header_left{
	height: 55px;
}

.header_right {
    float: right;
    width: 500px;
}
.header_link {
    padding: 20px 15px 12px 5px;
    float: right;
    height: 60px;
    font-weight: bold;
    font-size: 15px;
}
.header_link:link{
    color:#8a8f91;
    border-top:0px solid #cacccc;
 }
 .header_link:visited{
    color:#8a8f91;
 }
  .login .header_link:hover{
    color:#307083;
    background-color:#aabbcc;
 }
.header_link:hover{
 	color:#307083;
 }
 .header_link:active{
 	color:#00ddee;
 }
 
/*body*/
.container{
	width:1200px;
	margin-left:auto;
	margin-right:auto;
}

.amount_infor {
	margin-left:auto;
	margin-right:auto;
	margin-top: 30px;
	margin-bottom: 40px;
	width:80%;
}
.amount_infor td{
	width:25%;
}
.amount_infor td div{
	margin-left:auto;
	margin-right:auto;
}
.infographic-box I {
    font-size: 2.4em;
    display: block;
    float: left;
    margin-right: 15px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #fff;
}
.infographic-box .headline {
    display: block;
    font-size: 1.2em;
    font-weight: 300;
}
.infographic-box .value {
    font-size: 1.7em;
    font-weight: 600;
    margin-top: -5px;
    display: block;
}
.red-bg {
    background-color: #e74c3c !important;
}
.emerald-bg {
    background-color: #3498db !important
}
.green-bg {
    background-color: #2ecc71 !important
}
.golden-bg {
    background-color: #ffcc00 !important
}

.img_play_container{
	width:80%;
	margin-left:auto;
	margin-right:auto;
}

 .category-item-type{
 	font-size:20px;
 	margin-bottom:15px;
 	font-family: Microsoft YaHei;
 	color: #696969 !important;
 	width:100%
 }
 
.login_bottom {
    color: #999;
    line-height: 50px;
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
    background: #323232;
}

.infor_body{
	width:90%;
	margin-left:auto;
	margin-right:auto;
}

.infor_block{
	width:80%;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	border:solid 2px #efefef;
	background-color:#ffffff;
}

.product_field {
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    margin-top: 0px;
    background-color: #f9f9f9;
    color: #055a78;
}


.panel-title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
}
.panel-heading {
    background-color: #fafafa !important;
    border-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
}
.panel-default > .panel-heading {
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}
.input-append INPUT {
    display: inline-block !important;
    width: 100%;
    float: left;
}

.login-powerpoint .imgList img {
    width: 100%;
    height: 240px;
}

ul li {
    overflow: hidden;
    cursor: pointer;
}
.category-item a {
    font-size: 14px !important;
    color: #696969 !important;
}
.infographic-box .headline {
    display: block;
    font-size: 1.2em;
    font-weight: 300;
}
.countNum li{
	text-align:center;
	padding:2px 1px 0px 1px;
}



