@charset "utf-8";

ul {
	list-style-type: none;
}

#box {
	position: relative;
	width: 100%;
	height: 240px;
	margin-top: 20px;
}

#box .imgList {
	position: relative;
	width: 100%;
	height: 240px;
	overflow: hidden;
}

#box .imgList li {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 240px;
}

#box .countNum {
	position: absolute;
	right: 0;
	bottom: 5px;
}

#box .countNum li {
	width: 20px;
	height: 20px;
	float: left;
	color: #0090d9 ;
	background: #ffffff;
	margin-right: 5px;
	cursor: pointer;
	opacity: 0.7;
	filter: alpha(opacity = 70);
	border-color: #0090d9;
	border-style: solid;
	border-width: 1px;
}

#box .countNum li.current {
	color: #ffffff;
	background: #0090d9;
	font-weight: bold;
	opacity: 1;
	filter: alpha(opacity = 70);
}

#nav {
	line-height: 24px;
	list-style-type: none;
	background: #666;
}

#nav a {
	display: block;
	width: 80px;
	text-align: center;
}

#nav a:link {
	color: #666;
	text-decoration: none;
}

#nav a:visited {
	color: #666;
	text-decoration: none;
}

#nav a:hover {
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
}

#nav li {
	float: left;
	width: 80px;
	background: #CCC;
}

#nav li a:hover {
	background: #999;
}

#nav li ul {
	line-height: 27px;
	list-style-type: none;
	text-align: left;
	left: -999em;
	width: 980px;
	position: absolute;
	float: left;
}

#nav li ul li {
	float: left;
	width: 80px;
	background: #F6F6F6;
}

#nav li ul a {
	display: block;
	width: 80px;
	text-align: center;
}

#nav li ul a:link {
	color: #666;
	text-decoration: none;
}

#nav li ul a:visited {
	color: #666;
	text-decoration: none;
}

#nav li ul a:hover {
	color: #F3F3F3;
	text-decoration: none;
	font-weight: normal;
	background: #0963b1;
}

#nav li:hover ul {
	left: 0;
}

#nav li.sfhover ul {
	left: 0;
}

#content {
	clear: left;
}