.rfx-head{
	width: 100%;
    padding: 10px 0;
    border-bottom: 3px solid #19a2d5;
    text-indent: 20px;
    font-size: 16px;
    font-family: Microsoft Yahei;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.rfx-head #pur5240_compare_head{
	float: left;
    width: 60%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.rfx-head .rfx-show-compare{
	float: right;
    width:20%;
    cursor: pointer;
    color: #19a2d5;
}
.rfx-head .head-btn{
	float: left;
    width: 20%;
    font-size: 14px;
    background: #19a2d5;
    text-align: center;
    color: #fff;
    text-indent: 0;
    border-radius: 3px;
    padding: 2px 0;
    cursor: pointer;
}
.rfx-head .head-btn:hover{
	background:#28bde6;
}
.rfx-head .rfx-show-compare > span{
	font-size: 14px;
}
.rfx-head .rfx-show-compare > i{
	font-size: 20px;
	display:none;
}
.rfx-head .rfx-show-compare:hover > span{
	display:none;
}
.rfx-head .rfx-show-compare:hover > i{
	display:block;
}
#pur5240_item_rfx_ul{
	margin: 20px;
	font-family: Microsoft Yahei;
    /* border: 1px solid #ccc;
    border-bottom:0; */
}
#pur5240_item_rfx_ul > li{
    position:relative;
    border: 1px solid #ccc;
    margin-top: 10px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 4px 4px #eee;
}
#pur5240_item_rfx_ul > li .left-vendor{
	float: left;
    width: 49%;
    text-align: center;
    overflow: hidden;
    /* height: 40px; */
    line-height: 40px;
}
#pur5240_item_rfx_ul > li .left-vendor > span{
	float: left;
    width: 95%;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    color: #666;
    margin-left:10px;
}
#pur5240_item_rfx_ul > li .left-vendor > i{
	font-size: 16px;
	cursor: pointer;
}
#pur5240_item_rfx_ul > li .right-price{
	float: right;
    width: 50%;
    text-align: left;
    text-indent: 10px;
    font-size: 14px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 40px;
    line-height: 40px;
    border-left: 1px solid #ddd;
}
#pur5240_item_rfx_ul > li .icon{
	position: absolute;
    top: 8px;
    right: -12px;
    width: 17px;
    height: 17px;
    padding: 3px;
    line-height: 17px;
    text-align: center;
    font-size: 16px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #ddd;
    color: #fff;
    cursor:pointer;
}
#pur5240_item_rfx_ul > li .icon > div{
	background: #19a2d5;
    border-radius: 50%;
}
.rfx-main-window{
	position:relative;
}
.rfx-main-window > div{
	display:none;
}
#pur5240_item_rfx_list{
	margin: 20px;
	font-family: Microsoft Yahei;
}
#pur5240_item_rfx_list > li{
    position: relative;
    border: 1px solid #ccc;
    margin-top: 10px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 4px 4px #eee;
    overflow: hidden;
    height: 100px;
    font-size: 14px;
}
#pur5240_item_rfx_list > li .check-box-vendor{
	position: absolute;
    right: 5px;
    top: 5px;
    width: 13px;
    height: 13px;
    border: 3px solid #19a2d5;
    border-radius: 50%;
    cursor: pointer;
}
.check-box-vendor > i{
	color:#19a2d5;
}
.left{
	float:left;
}
.right{
	float:right;
}
#pur5240_item_rfx_list > li .vendor-name{
	width: 28%;
    height: 100%;
    line-height: 25px;
    padding: 0 5px;
    overflow: hidden;
    /* text-indent: 5px; */
    border-right: 1px solid #ccc;
}
.vendor-name .bold-font{
	display: block;
    font-weight: bold;
}
#pur5240_item_rfx_list > li .rfx-detail{
	width: 69%;
    overflow: hidden;
}
.rfx-detail .detail-1{
	width: 47%;
}
.detail-1 .row-seperate{
	overflow:hidden;
	margin-bottom:5px;
}
.rfx-detail .detail-row{
	margin: 5px 0;
    text-align: right;
    font-size: 12px;
    overflow: hidden;
}
.rfx-detail .detail-row span{
	float:left;
	width:50%;
	overflow:hidden;
	white-space: nowrap;
    text-overflow: ellipsis;
}
.font-big{
	font-size:16px;
}
.price-least{
	color:#69F209;
}
.price-most{
	color:#F70623;
}
.detail-row .rfx-input{
	width: 65%;
    margin-right: 16px;
    padding: 0 5px;
    border: 1px solid #ccc;
}
.rfx-detail .detail-2{
	width:42%;
}
.rfx-detail .detail-2.widther{
	width:48%;
}
.detail-2 .detail-table{
	float:right;
	border-collapse:collapse;
	width:90%;
	border: solid thin #ccc;
}
.detail-2 .detail-t-input{
	width: 60px;
    border: 0;
    text-align: right;
}