#rpt7010_cView_owner_bg{
    position:relative;
    width:100%;
    padding-top:10px;
    /* overflow:auto; */
    box-sizing: border-box;
	-moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
#rpt7010_cView_owner_bg .column{
    float:left;
    width:33%;
    height:auto;
    overflow:hidden;
    padding:10px;
    margin:0
}
#rpt7010_cView_owner_bg .column .content{
    width:100%;
    height:auto;
    overflow:hidden;
    font-size:12px;
    font-family:Microsoft YaHei;
}
#rpt7010_cView_owner_bg .column .content .left{
    float:left;
    width:40%;
    text-align:right;
}
#rpt7010_cView_owner_bg .column .content .right{
    float:right;
    width:60%;
    text-align:left;
}
#rpt7010_cView_owner_bg table{
    width: 98%;
    margin:0 auto;
    border-collapse: collapse;
    border-spacing: 0px;
    position:relative;
    display:none;
}
#rpt7010_cView_owner_bg table td{
    padding: 8px;
    line-height: 20px;
    text-align: center;
    vertical-align: top;
    border-top: 1px solid #DDD;
    color:#000;
    white-space:nowrap;
    overflow:hidden;
}
#rpt7010_cView_owner_bg .head td{
    border-top: 0;
    text-align: center;
}