div,ul,li,input{
	font-family:Microsoft YaHei;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
span{
	font-family:Microsoft YaHei;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.head{
	width:100%;
	/* height:40px; */
	height:0px;
	overflow:hidden;
}
.body{
	width:100%;
	overflow:hidden;
	min-height:600px;
	background: #f3f3f3 url(../images/step_bg.png) repeat;
}
.main-content{
	width:900px;
	margin:0px auto;
}
.body .content-m{
	margin-top:20px;
	margin-bottom:20px;
}
.body .title{
    font-size: 24px;
    color: #999;
    margin-bottom: 20px;
}
.body .head-desc{
	border: 1px solid #c7dec6;
    background-color: #f1fbf0;
    padding: 35px 0 35px 80px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 20px;
    color: #666;
}
.body .body-editor{
	width:100%;
	margin:0 auto;
    border: 1px solid #eee;
    border-top:0;
	background-color:#fff;
	overflow:hidden;
}
.body .body-editor .step_title{
	width: 700px;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 18px;
}
.body .body-editor .step{
	width:700px;
	margin:50px auto;
	position:relative;
}
.body .body-editor .step .order{
	position: absolute;
    width: 35px;
  	height: 35px;
  	background-color: #5bc648;
  	color: #fff;
  	border-radius: 50%;
  	text-align: center;
  	line-height: 35px;
  	font-size: 18px;
  	top: 10px;
  	left: 0;
}
.body .body-editor .step .line-detail{
	width: 100%;
    margin-bottom: 10px;
    position:relative;
    z-index:1000;
}
.step .line-detail .detail-row{
	padding: 10px 0;
    position: relative;
    /* overflow:hidden; */
}
.step .line-detail .detail-row.z-h{
	z-index:10;
}
.step .corner{
	position: absolute;
    height: 12px;
    width: 12px;
    top: 19px;
    left: 11px;
    border-radius: 6px;
    background-color: #5bc648;
}
.step .line-detail .detail-row .receive-window{
	position: absolute;
    width: 250px;
    height: 200px;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    box-shadow: 4px 4px 8px #dfdfdf;
    background-color: #efefef;
    z-index: 1000;
    right: 10px;
    top:45px;
    padding: 10px 0;
    display:none;
    overflow:auto;
}
.step .line-detail .detail-row .trangle{
	position: absolute;
    width: 0;
    height: 0;
    top: 37px;
    right: 58px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #efefef;
    z-index: 2000;
    display:none;
}
.detail-row .receive-window > ul{
	margin: 0 20px;
	margin-right: 10px;
    color: #888;
}
.detail-row .receive-window > ul > li{
	overflow: hidden;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    cursor:pointer;
}
.detail-row .receive-window > ul > li:hover{
	color:#444;
}
.detail-row .receive-window > ul > li > span{
	float: left;
    width: 180px;
}
.detail-row .receive-window > ul > li > i{
	float: right;
    color: #5bc648;
    display: none;
}
.step .line-detail .detail-row .receive-person-field{
	border: 1px solid #d4d4d4;
    width: 600px;
    margin-left: 50px;
    color: #999;
    height: 32px;
    overflow: hidden;
}
.step .line-detail .detail-row .receive-person-field span{
	margin:0 10px;
}
.step .line-detail .detail-row .receive-person-field input{
	border: 0;
    width: 500px;
    margin-left: 0;
    height: 30px;
    color: #333;
}
.step .line-detail .detail-row .receive-person-field i{
	position: absolute;
    color: #5bc648;
    font-size: 18px;
    right: 60px;
    top: 16px;
    cursor:pointer;
}
.step .sql-line-set{
	margin-top: 20px;
	position:relative;
}
.step .sql-line-set .sql-field{
	border: 1px solid #d4d4d4;
    width: 600px;
    height: 100px;
    margin-left: 50px;
    color: #999;
    overflow: hidden;
}
.step .sql-line-set span{
	float: left;
    margin: 0 10px;
    height: 32px;
    line-height: 20px;
}
.step .sql-line-set textarea{
	border: 0;
    width: 550px;
    height: 100px;
    color:#333;
    resize : none;
    line-height: 20px;
}
.body .body-editor .step [id]{
	box-sizing: content-box;
	-moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
}
.body .body-editor .step .step-opera{
	position: absolute;
    top: 80px;
    right: 15px;
    font-size: 20px;
    color:#999;
}
.body .body-editor .step .step-opera li{
	cursor:pointer;
}
.body .body-editor .step .step-opera li:hover{
	color:#333;
}
.body .body-editor .step .add-btn{
	display: block;
    height: 33px;
    width: 141px;
    font: 14px/32px '';
    background-color: #fcfcfc;
    color: #5dc34a;
    border: 1px solid #dadada;
    border-radius:3px;
    cursor: pointer;
    text-align: center;
    font-weight: 700;
    margin-left:50px;
}
.body .body-editor .step .add-btn.red{
	float: left;
    /* background-color: #F24E4E; */
    color: #F24E4E;
    letter-spacing: 2px
}
.body .body-editor .step .add-btn:hover{
    background-color: #f1ffed;
    border-color: #aed7a7;
}
.body .body-editor .step .add-btn.red:hover{
	background-color: #FDF0F0;
    border-color: #FD8F8F;
}
.step .line-detail .detail-row .add-btn{
	width:100px !important;
	float:left;
	margin-left:10px;
}
.step .line-detail .detail-row .add-btn.first{
	margin-left:50px;
}
.step .line-detail .detail-row .add-btn.active{
	background-color: #68c856;
	color:#fff;
}
.body .operation-set{
	margin: 20px 0;
    text-align: center;
}
.body .operation-set .save-btn{
	width: 111px;
    height: 35px;
    background-color: #68c856;
    color: #fff;
    border: 1px solid #dadada;
    margin: 0 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    text-align: center;
    line-height: 32px;
}
#api5010_api_attachment_file_upload_window{
	z-index: 1000;
}