<?xml version="1.0" encoding="UTF-8"?>
<weixin:QiyeWeixin-config xmlns:weixin="aurora.plugin.weixin" >
	<instances>	
			<weixin:QiyeWeixin-instance token="xksXffzr" corpId="wx1732a32050d4169e" encodingAESKey="G3dA8wlXu15BPxetjyeSonZsil8vXRRbxkuyK4m4uca" appName="app1"/>
			<weixin:QiyeWeixin-instance token="LnXD1foQ6kPOw6j" corpId="wx1732a32050d4169e" encodingAESKey="6csVgBhbQ4ozVepYpeDBKPHFrzWai5vL9hUvKmXWVt2" appName="app2"/>
			<weixin:QiyeWeixin-instance token="n8meuWb4hRxLkim4" corpId="wx1732a32050d4169e" encodingAESKey="Hym72EMPtbcb8pXX9xNtcazP4ZseYIvGYfRitysSumC" appName="app3"/>
	</instances>

	<tokenTasks>
			<weixin:QiyeToken-task  groupname="group1"  corpId="wx1732a32050d4169e" secrect="qZX7ISG98UZwmEGDIcZGeyEm509RYUmd4wnqltzd3_xtIbEv5NZwH9mHdNKvm9YK"/>
	</tokenTasks>	
</weixin:QiyeWeixin-config>