<cache-factory-config xmlns="uncertain.cache" defaultCacheFactory="InMemory" >
	<cache-factories>
<!--		<HollyhockCacheFactory xmlns="aurora.plugin.hollyhock.cache" name="InMemory" /> -->
		<map-based-cache-factory name="InMemory" />
		
		<!--<memcached-client-factory xmlns="aurora.plugin.memcached" name="Memcached" serverList="localhost:9999"/>-->
	</cache-factories>
	<cache-mappings>
		<cache-mapping name="BusinessModel" cacheFactory="InMemory" enabled="false"/>
		<cache-mapping name="ProcedureConfig" cacheFactory="InMemory" enabled="false" />
		<cache-mapping name="WebResource" cacheFactory="InMemory" enabled="false" />
		<!--<cache-mapping name="ResponseCache" cacheFactory="Memcached" enabled="true" />-->
		<cache-mapping name="ViewComponentTemplates" cacheFactory="InMemory" enabled="false" />
		
		
		<cache-mapping name="RoleBmAccess" cacheFactory="InMemory" enabled="true" />
		<cache-mapping name="promptCache" cacheFactory="InMemory" enabled="true" />
		<cache-mapping name="RoleServiceAccess" cacheFactory="InMemory" enabled="true" />
		<cache-mapping name="SystemResourceConfig" cacheFactory="InMemory" enabled="true" />
		<cache-mapping name="lookupListCache" cacheFactory="InMemory" enabled="true" />
		<cache-mapping name="lookupPromptCache" cacheFactory="InMemory" enabled="true" />
<!--		
		<cache-mapping name="JinkoRfaRankCache" cacheFactory="InMemory" enabled="true" />
		<cache-mapping name="JinkoRfaVendorCache" cacheFactory="InMemory" enabled="true" />
		<cache-mapping name="JinkoRfaFeedbackTimeCache" cacheFactory="InMemory" enabled="true" />
		<cache-mapping name="JinkoRfaChartCache" cacheFactory="InMemory" enabled="true" />
		<cache-mapping name="JinkoRfaOnlineCache" cacheFactory="InMemory" enabled="true" />
-->
	</cache-mappings>
</cache-factory-config>
