.step-icon{
	position: absolute;
}
.current-step-title{
	color: #FFFFFF;
}
.step-title{
}
.step-title-content span{
	font-size: 14px;
	font-weight: 500;
	font-family: "微软雅黑", "arial, helvetica, sans-serif";
	color: #FFFFFF;
    display: block;
    float: left;
}

.step-title-content {
    position: relative;
    z-index: 2;
    padding-top: 2px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 30px;
}

.step-back-img {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}
img:hover { 
     border-color:#333;
 }
.container .content-div .layout-td-cell .item-tf{
	 padding:3px;
}
.container .content-div .layout-td-cell .item-tf:not(.item-readOnly):not(.item-focus){
	 background-color:#fff;
}
.container .content-div .layout-td-cell .item-focus{
	 background-color:#F4F5F7;
}
.container .content-div .layout-td-cell .item-lovButton{
	 margin-top:4px;
}
.container .content-div .layout-th > div{
     font-size: 14px;
     font-family: Microsoft YaHei;
     color: #666666;
}
.input-separate-part {
     line-height: 40px;
     font-size: 16px;
     font-family: Microsoft YaHei;
     width: 120px;
     position: relative;
     background-color: #ee691b;
     color: #ffffff;
     text-align: center;
     margin-bottom: 20px;
     border-radius: 4px;
}
.input-separate-part span {
     left: 90px;
     top: 38px;
     position: absolute;
     display: inline-block;
     width: 0px;
     height: 0px;
     border-left: 10px solid transparent;
     border-right: 10px solid transparent;
     border-top: 8px solid #ee691b;
}
.container .sms-text{
	 padding: 3px;
     font-size: 12px;
     width: 70px;
     height: 22px;
     line-height: 22px;
     text-align: center;
     border: 1px solid #d6e5f2;
     color: #005bab;
     float: right;
     background: #ebf5ff;
     cursor: pointer;
     margin-top: 2px;
}
.container .content-div .itemupf > span{
	 float: right;
     margin: 8px 0 0 5px;
}
.container .content-div .itemupf > div{
	 float: left;
	 border-radius:5px;
	 min-width: 100px;
     min-height: 30px;
}
/* 新版注册页面样式 */
.content-div{
	width:1020px;
	margin:0 auto;
	/* overflow:hidden; */
	background-color:#fff;
	min-height:1500px;
	border:1px solid #e5e5e5;
	box-shadow: 2px 2px 10px #888888;
	font-family: Microsoft YaHei;
}
.content-div div,.content-div span{
	font-family: Microsoft YaHei;
}
.registed_row{
	margin: 40px 70px;
}
.registed_row .head-desc{
	font-size: 18px;
    color: #666;
    padding: 20px 0;
    border-bottom: 8px solid #e5e5e5;
    font-family: Microsoft YaHei;
}
.registed_row .registed-content{
	margin-top:20px;
	padding-top: 50px;
	border-top:3px solid #e5e5e5;
	position:relative;
}
.registed_row .contact{
	border:0px solid #e5e5e5;
	overflow:hidden;
	position:relative;
	padding-top: 0px;
	/* height: 300px; */
	/* height:900px; */
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.registed_row .contact.active{
	height:900px;
}
.registed_row .registed-content .r-left{
	float:left;
}
.registed_row .registed-content .r-right{
	float:left;
}
.registed_row .registed-content .three-infor-showMessage{
	float:right;
	margin-top: 10px;
	margin-right:470px;
	/* position: absolute;
    top: 7px;
    left: 380px; */
    /* overflow:hidden; */
}
.registed_row .registed-content .three-infor-showMessage .icon-exclamation-sign{
	display:none;
	font-size: 16px;
    color: #1887ca;
    float:left;
}
.registed_row .registed-content .three-infor-showMessage .exclamation{
	display:none;
	/* float: right; */
	position:absolute;
    margin-left: 20px;
}
.registed_row .registed-content .three-infor-showMessage .icon-exclamation-sign:hover + .exclamation{
	display:block;
}
.registed_row .registed-content .three-infor-showMessage .icon-ok-sign{
	display:none;
	font-size: 16px;
    color: #1887ca;
}
.registed_row .registed-content .three-infor{
	display: block;
    float: left;
    width: 143px;
    *width:130px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    color: #666666;
    text-align: right;
    font-family: Microsoft YaHei;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0 7px;
}
.registed_row .registed-content .three-infor-set{
	border: 1px solid #dfe0e0;
	border-radius:5px;
    float: left;
    color: #666;
    width: 208px;
    height: 32px;
    /* padding-left: 20px; */
    text-align:center;
    line-height: 32px;
    cursor: pointer;
    font-family:Microsoft YaHei;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.registed_row .registed-content .three-infor-d{
	display:block;
	position: absolute;
    z-index: 12;
    top: 32px;
    left: 143px;
    width: 450px;
    min-height: 200px;
    background:#fff;
    box-shadow: 2px 2px 10px #888888;
    border: 1px solid #dfe0e0;
    border-top: 0;
    padding-bottom: 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.registed_row .registed-content .three-infor-d .three-icon-close{
	margin-right: 10px;
    margin-top: 10px;
    text-align: right;
    font-size: 20px;
    color: #32a4b6;
    cursor:pointer;
}
.registed_row .registed-content .three-infor-d.active{
	display:none
}
.three-infor-d .three-row{
	margin-top:20px;
	width:100%;
	border-top:1px dashed #a7a7a7;
	border-bottom: 1px dashed #a7a7a7;
}
.three-infor-d .header-t-row{
	border-top:0;
	padding-bottom:10px;
}
.registed-content .registed-conatact-infor{
	float: left;
    width: 30%;
    margin-right: 5%;
}
.registed-content .registed-conatact-infor .registed-contact-thumbnail{
	background-color: #fff;
    margin: 20px auto;
    border: 1px solid #EBEBEB;
    border-radius: 10px;
    cursor:pointer;
    box-shadow: 2px 2px 8px #ccc;
    padding-bottom:20px;
    position:relative;
    /* float:left;
    width:30%; */
}
.registed-content .registed-conatact-infor .registed-contact-thumbnail:hover{
	background-color:#f4f4f4;
}
/* .registed-content .registed-conatact-infor .registed-contact-thumbnail:hover .thumbnail-head div .tranigle-contact{
	border-left: 30px solid #f4f4f4;
    border-bottom: 30px solid #f4f4f4;
} */
.registed-content .registed-conatact-infor .registed-contact-thumbnail.active{
	border: 1px solid #d5d5d5;
}
.registed-contact-thumbnail .thumbnail-head{
	font-size: 20px;
    color: #1887ca;
    font-weight: 500;
    padding: 15px 0;
    margin: 0 20px;
    font-family: Microsoft Yahei;
    position:relative;
    /* border-bottom: 1px dashed #ccc; */
}
.registed-contact-thumbnail .thumbnail-head .rightTop-tragnle-book{
  background: -webkit-linear-gradient(45deg, #D0E9FA 24%, #95E2E0 40%,#A3D5F0 43%,#8FCDEE 46%,#70BAE5 50%,#fff 50%,#fff);
  background: -moz-linear-gradient(45deg, #D0E9FA 24%, #95E2E0 40%,#A3D5F0 43%,#8FCDEE 46%,#70BAE5 50%,#fff 50%,#fff);
  height: 90px;
  background: -o-linear-gradient(45deg, #D0E9FA 24%, #95E2E0 40%,#A3D5F0 43%,#8FCDEE 46%,#70BAE5 50%,#fff 50%,#fff);
  height: 90px;
  background: -ms-linear-gradient(45deg, #D0E9FA 24%, #95E2E0 40%,#A3D5F0 43%,#8FCDEE 46%,#70BAE5 50%,#fff 50%,#fff);
  height: 90px;
  background: linear-gradient(45deg, #D0E9FA 24%, #95E2E0 40%,#A3D5F0 43%,#8FCDEE 46%,#70BAE5 50%,#fff 50%,#fff);
  height: 90px;
  width: 0px;
  height: 0px;
  border-radius: 0px 15px 0px 90px / 0 15px 0 30px;
  /* border-radius: 0px 10px 0px 25px; */
  /* -webkit-transform: rotate(-90deg); */
  /* -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg); */
  /* transform: rotate(-90deg); */
  position: absolute;
  right: -20px;
  top: 0;
  z-index:8;
  /* box-shadow: 5px 2px 8px black; */
  overflow: hidden;
  -webkit-transition: all 0.5s linear 0s;
  -moz-transition: all 0.5s linear 0s;
  -o-transition: all 0.5s linear 0s;
  -ms-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
}
.registed-contact-thumbnail .thumbnail-head div.tranigle-contact{
	position: absolute;
    width: 0;
    height: 0;
    top: 0px;
    right: -20px;
    border-top: 30px solid #67B5E3;
    border-left: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right: 30px solid #67B5E3;
    border-top-right-radius: 10px;
}
.registed-contact-thumbnail .thumbnail-head div .font-1{
	position: absolute;
    font-size: 12px;
    top: -25px;
    right: -7px;
    color: #fff;
}
.registed-contact-thumbnail .thumbnail-head div .font-2{
	position: absolute;
    font-size: 12px;
    top: -7px;
    right: -25px;
    color: #fff;
}
.registed-contact-thumbnail .thumbnail-head span{
	margin-left:0px;
}
.registed-contact-thumbnail .thumbnail-mask{
	height: 142px;
    line-height: 142px;
    font-size: 24px;
    color: #ccc;
    font-family: Microsoft Yahei;
    text-align: center;
}
.registed-contact-thumbnail .thumbnail-content{
	/* padding: 10px 0;
    font-size: 20px; */
    display:none;
}
.registed-contact-thumbnail .thumbnail-content .thumbnail-name{
	font-size:20px;
	height: 48px;
    line-height: 48px;
	text-align:center;
}
.thumbnail-content .item-label{
	font-size:14px;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.thumbnail-content .thumbnail-name .item-label{
	font-size:20px;
}
.fnd9100-mask-window{
	width: 100%;
    height: 100%;
    
    background-color: rgba(0,0,0,0.5);
    
    position: absolute;
    z-index: 40;
    top: 0;
    left:0;
}
.registed-content .contact-row{
	position:absolute;
	top:0;
	left:0;
	z-index:100;
	background-color:#fff;
	display:none;
	margin-bottom: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding-bottom: 20px;
    float: left;
    width: 878px;
    overflow: hidden;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    /* box-shadow: 2px 2px 10px #ccc; */
    /* padding: 10px 0; */
}
.registed-content .contact-row .contact-head{
	width: 100%;
	padding: 20px 0;
	overflow:hidden;
	font-family: Microsoft YaHei;
}
.registed-content .contact-row .contact-content{
	width: 878px;
    overflow: hidden;
}
.registed-content .contact-row .contact-head > div{
	float:left;
}
.registed-content .contact-row .contact-head .circle-icon{
	width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #e5e5e5;
    line-height: 37px;
    text-align: center;
    color: #bbb;
    font-size: 26px;
    margin-left: 40px;
    cursor:pointer;
}
.registed-content .contact-row .contact-head .desc-title{
	height: 35px;
    line-height: 40px;
    color: #666;
    font-size: 20px;
    margin-left: 20px;
}
.contact-head .copy-contact{
	float:right !important;
	overflow:hidden;
	margin-right:55px;
}
.contact-head .copy-contact .copy-desc{
	height: 40px;
	float:left;
    line-height: 40px;
    font-size: 20px;
    color: #666;
}
.contact-head .copy-contact .copy-btn{
	float: left;
    width: 100px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #65cea7;
    color: #fff;
    border-radius: 3px;
    margin-left: 10px;
    cursor:pointer;
}
.contact-head .copy-contact .copy-btn:hover{
	background-color:#4DC196;
}
.registed_row .list-btn{
	border: 2px solid #e5e5e5;
    border-top: 0;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor:pointer;
    font-family: Microsoft YaHei;
}
.registed-content .license-more{
	height: 40px;
    line-height: 40px;
    padding: 0 15px;
    width: 160px;
    margin-top: 50px;
    border: 2px solid #32a4b6;
    font-family: Microsoft YaHei;
    color: #32a4b6;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
}
.registed-content .license-more > i{
	font-size:24px;
}
.registed-content .license-more > span{
	font-size: 18px;
    margin-left: 10px;
}
.registed_row .regist-license-box{
	float: left;
    width: 50%;
}
.registed_row .regist-license-box.fnd-readonly input{
	background-color:#eaeaea;
	/* border-radius:0; */
}
.registed_row .license-vBox-calss{
	position:relative;
	margin:0 auto;
	margin-top:20px;
	/* margin-left:2.5%; */
	border:1px solid #ccc;
	border-radius:20px;
	padding:30px 10px;
	*padding:0;
	/* float:left; */
	width:95%;
	/*height:230px;*/
	display:none;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.registed_row .license-vBox-calss i.icon-remove{
	position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: #bbb;
    cursor: pointer;
}
.registed_row .license-vBox-calss.vBox-right{
	float:right;
}
.registed_row .license-vBox-calss.plus{
	display: block;
    /* float: left; */
    height: 230px;
    line-height: 230px;
    color: #ccc;
    text-align: center;
    font-size: 50px;
    background-image:url(../../index/images/plus.png);
    background-size: 40% 50%;
    background-position: 130px 50px;
    *background-position: 100px 40px;
    background-repeat: no-repeat;
    cursor: pointer;
}
.regist-license-box .license-row{
	
}
.regist-license-box .license-row span{
	font-size: 14px;
    color: #666;
    width: 103px;
    height: 32px;
    line-height: 32px;
    float: left;
    text-align: right;
    font-style: normal;
    font-weight: 400;
    padding-right: 10px;
    *padding-right:0;
    font-family: Microsoft Yahei;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.regist-license-box .license-row input{
	height: 30px;
    width: 248px;
    border: 1px solid #dfe0e0;
    border-radius: 5px;
    padding: 0 10px;
}
.regist-license-box .license-row input.active{
	border-color: #66afe9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.6);
}
.regist-license-box .licsen-invalid-date{
	position: absolute;
    top: 10px;
    left: 114px;
    width: 150px;
    height: 18px;
    line-height: 18px;
    border: 0;
    background-color: transparent;
}
.regist-license-box .license-vBox-calss input.item-textField{
	/* display:none; */
}
/* 采购品联动复选样式 */
.handCategory{
	z-index:8;
	position:relative;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.handCategory div{
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.handCategory > span{
    font-size: 14px;
    color: #666;
    font-family: Microsoft YaHei;
    height: 38px;
    line-height: 38px;
    float: left;
    width: 140px;
    *width:130px;
    text-align: right;
    padding-right: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;	
}
.handCategory > input{
	width: 632px;
    height: 32px;
    *height:26px;
    line-height: 32px;
    *line-height: 26px;
    padding: 3px;
    border: #e76e70 1px solid;
    border-radius:5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.handRegistCategory-main-div{
	display:none;
	position: absolute;
    z-index: 9;
    /* width: 434px; */
    min-height: 100px;
    left: 140px;
    top: 34px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 0px;
}
.handRegistCategory-main-div > ul{
	overflow:hidden;
	/* height: 40px;
    line-height: 40px; */
    /* border-bottom: 4px solid #32a4b6; */
    font-size: 12px;
    color: #666;
}
.handRegistCategory-main-div > ul li{
	/* float:left; */
	position: relative;
	padding: 10px 15px;
	padding-right:25px;
	cursor:pointer;
	width: 180px;
    white-space: nowrap;
    text-overflow: ellipsis;
	/* max-width:25%; */
	overflow:hidden;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.handRegistCategory-main-div > ul li.active{
	background-color: #32a4b6;
    color: #fff;
}
.handRegistCategory-main-div > ul li > i{
	position: absolute;
    /* float: right; */
    top: 9.5px;
    right: 5px;
    font-size: 16px;
    display:none;
    color:#fff;
}
.handRegistCategory-second-div{
	position: absolute;
	/* overflow: hidden; */
    /* height: 722px; */
    width: 0px;
    border: 0px solid #ccc;
    left: 310px;
    top: 34px;
    z-index: 9;
    padding:10px 0;
    text-align:center;
    background-color:#fff;
    box-shadow: 2px 2px 10px #888888;
    /* -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease; */
}
.handRegistCategory-second-div > ul{
	width:390px;
	margin:0 auto;
	overflow:hidden;
	display: none;
}
.handRegistCategory-second-div > ul > li{
	position:relative;
	z-index:9;
	background-color:#fff;
	float:left;
	width:33.3%;
	padding:10px 10px;
	overflow:hidden;
	white-space: nowrap;
    text-overflow: ellipsis;
    cursor:pointer;
    border:3px solid #fff;
    font-size:12px;
    text-align:left;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.handRegistCategory-second-div > ul > li > i{
	margin-right:3px;
}
.handRegistCategory-next-div{
	display:none;
	position:absolute;
	background-color: #fff;
	/* min-width: 372px; */
	width:390px;
    /* min-height: 100px; */
	z-index: 10;
	padding:10px;
	border:1px solid #ccc;
	box-shadow: 2px 2px 10px #888888;
}
.handRegistCategory-next-div ul{
	overflow:hidden;
	margin-bottom:10px;
}
.handRegistCategory-next-div ul li{
	float: left;
    width: 50%;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 5px;
    *padding:0;
    font-size: 12px;
    color: #666;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.handRegistCategory-next-div ul li input{
	float:left;
}
.handRegistCategory-next-div ul li span{
	float:left;
	text-align:left;
	width: 85%;
    overflow: hidden;
	margin-top:-2px;
	margin-left:2px;
	white-space: nowrap;
    text-overflow: ellipsis;
}
.handRegistCategory-next-div .regitst-bottom{
	height: 40px;
    line-height: 50px;
    border-top: 1px solid #32a4b6;
    text-align: center;
    /* padding-top:10px; */
}
.handRegistCategory-next-div .regitst-bottom button{
	margin-left: 20px;
    width: 60px;
    height:24px;
    line-height:18px;
    padding: 2px 5px;
}
/* 调整upload样式 */
.up_card{
	width: 196px;
	max-height:44px;
	margin: 0 4px 0px 0;
}
.up_card .icon-png{
	background-position: -64px -26px;
}
.up_card .icon-jpg {
    background-position: 0 -26px;
}
.up_card .icon{
	margin: 0px 0 0 4px;
    width: 22px;
    height: 22px;
}
.up_card .j{
	width: 145px;
    height: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #666;
    position: absolute;
    left: 25px;
    top: 5px;
}
.up_card .l{
	top: 5px;
}
.up_card .k{
	/* display: none; */
	left: 10px
}
.container .content-div .itemupf > span{
	background-color: #65cea7;
    float: right;
    margin: 6px 0 0 5px;
    border-radius: 4px;
    color:#fff;
}
.upload_icon{
	position: absolute;
    color: #fff;
    left: -56px;
    top: 15px;
    font-size: 12px;
    font-family: Microsoft Yahei;
    cursor: pointer;
}
/* ie下upload样式 */
.registed-ie-upload{
    border: 1px solid silver;
    display: block;
    min-height: 32px;
    width: 200px;
    float: left;
    border-radius: 5px;
}
.registed-ie-upload > div{
	margin:3px 2px;
}
.registed-ieupload-span{
    display: block;
    float: right;
    border: 1px solid #ccc;
    margin-top: 5px;
    margin-left: 2px;
    border-radius: 3px;	
}
.registed-ie-upSpan{
	float:right;
}