<style>
	.btn-search {
		width: 4rem;
		height: 4rem;
		line-height: 4rem;
		border-radius: 50%;
		text-align: center;
		font-size: 1.125rem;
		background: rgba(255, 90, 90, 0.8);
		position: fixed;
		right: 1rem;
		bottom: 1rem;
	}
</style>
<ion-view view-title="送货单列表" ng-controller="purchaseListController">
	<ion-content>
		<ion-refresher pulling-text="下拉刷新" on-refresh="load()"></ion-refresher>
		<ion-list ng-init="initLoad()">

			<ion-item item-height="item.dyHegiht + 94" collection-repeat="item in listItems" on-tap="goPurchaseListDetail(item)" class="item-redefined">
				<div class="item item-divider-redefined" ng-if="item.isFirst">
					{{item.creation_date}}
				</div>
				<div class="div-padding" on-tap="goPurchaseListDetail(item)">
					<div class=" row firstRow ">
						<div class="col col-67 no ">
							{{item.asn_number}}
							<!--<img alt="附件 " src="img/attach.png " />-->
						</div>
						<div class="col col-33 type "><span>{{item.asn_type_name}}</span></div>
					</div>
					<div class="row ">
						<div class="col col-80 secondRow ">
							<div class="circle"></div>
							<div class="line "></div>
							<span ng-class="from == 'purchase'? blackColor : grayColor">{{item.vendor_name}}</span>
						</div>
					</div>
					<div class="row ">
						<div class="col col-80 thirdRow">
							<div class="circle circle-active"></div>
							<span ng-class="from == 'supply'? blackColor : grayColor">{{item.company_name}}</span>
						</div>
						<div class="col col-20 thirdRow status ">{{item.status_name}}</div>
					</div>
				</div>
			</ion-item>
		</ion-list>
		<ion-infinite-scroll on-infinite="loadMore() " ng-if="hasMoreData " immediate-check="false "></ion-infinite-scroll>
	</ion-content>
	<div class="btn-search" ng-click="openModal()">
		<a style="color: #FFFFFF;text-decoration: none;" href="#">
			<i class="icon ion-ios-search"></i> 查询
		</a>
	</div>
</ion-view>