<style>
	@media all and (min-device-width: 768px) {
		.row-redefined {
			display: -webkit-box;
			display: -webkit-flex;
			display: -moz-box;
			display: -moz-flex;
			display: -ms-flexbox;
			display: flex;
			padding: 0.75rem;
			width: 100%;
		}
		.row-redefined a {
			text-align: center;
			margin: 0 auto;
			text-decoration: none;
			color: #666;
			position: relative;
		}
		.row-redefined a span {
			font-size: 0.75rem;
			width: 100%;
			position: absolute;
			top: 28px;
			left: 0;
		}
		input[type=text] {
			border: 1px solid #999999;
			border-radius: 4px;
			padding: 0.5rem 1rem;
			height: auto;
			line-height: 2.5rem;
			font-size: 1.25rem;
		}
		.button-search {
			width: 100%;
			border-radius: 4px;
		}
		.img-scan {
			width: 36px;
			height: 32px;
			margin-left: 0.25rem;
		}
		.item {
			padding: 0;
		}
		.item-header {
			height: 3rem;
			line-height: 3rem;
			background: #eaeced;
			padding: 0 2rem;
			font-size: 1.25rem;
		}
		.item-header span {
			display: inline-block;
			width: 50%;
		}
		.item-info {
			font-size: 1.25rem;
			padding: 1rem 2rem;
		}
		.item-info li span {
			display: inline-block;
			height: 2.5rem;
			line-height: 2.5rem;
		}
		.font-search {
			font-size: 1.25rem;
		}
		.no-data {
			width: 100%;
			height: 3.5rem;
			line-height: 3.5rem;
			text-align: center;
			font-size: 1.25rem;
			background: #eaeced;
			color: #999999;
		}
	}
	@media all and (max-device-width: 750px) {
		.row-redefined {
			display: -webkit-box;
			display: -webkit-flex;
			display: -moz-box;
			display: -moz-flex;
			display: -ms-flexbox;
			display: flex;
			padding: 0.75rem;
			width: 100%;
		}
		.row-redefined a {
			text-align: center;
			margin: 0 auto;
			text-decoration: none;
			color: #666;
			position: relative;
		}
		.row-redefined a span {
			font-size: 0.5rem;
			width: 100%;
			position: absolute;
			top: 20px;
			left: 0;
		}
		input[type=text] {
			border: 1px solid #999999;
			border-radius: 4px;
			padding: 0.5rem 1rem;
			height: auto;
			line-height: 2.5rem;
			font-size: 1rem;
		}
		.button-search {
			width: 100%;
			border-radius: 4px;
		}
		.img-scan {
			width: 24px;
			height: 22px;
			margin-left: 0.25rem;
		}
		.item-header span {
			display: inline-block;
			width: 50%;
		}
		.font-search {
			font-size: 1rem;
		}
		.no-data {
			width: 100%;
			height: 2.5rem;
			line-height: 2.5rem;
			text-align: center;
			font-size: 1rem;
			background: #eaeced;
			color: #999999;
		}
	}
</style>
<ion-view view-title="采购接收" ng-controller="purchaseReceiveController" style="background: #F0F0F0;">
	<ion-header-bar style="height: 5rem;">
		<div class="row-redefined">
			<a href="#" class="col-10" ng-click="scan()">
				<img src="img/scan.png" class="img-scan" alt="扫一扫图标">
				<br />
				<span>扫一扫</span>
			</a>
			<input type="text" ng-model="searchNumber" placeholder="请输入订单号或送货单号" style="width: 65%;margin-right: 2%;" />
			<button class="col-20 button button-positive button-search" ng-click="search()">
				<span class="font-search">查询</span>
			</button>
		</div>
	</ion-header-bar>
	<ion-content style="margin-top: 3.5rem;">
		<div ng-if="!listItems[0] && hasClickSearch" class="no-data">未查到符合条件的数据！</div>
		<ion-list>
			<ion-item collection-repeat="item in listItems" ng-click="goPurchaseReceiveDetail(item)">
				<div class="item-header">
					<span style="text-align: left;color: #0078D8;">{{item.display_po_number}}</span>
					<span style="text-align: right;color: #666;">{{item.line_num}}行</span>
				</div>
				<ul class="item-info">
					<li>
						<span style="width: 14%;text-indent: 2.5rem;">物品:</span>
						<span style="width: 14%;" ng-if="item.item_code">{{item.item_code}}</span>
						<span>{{item.item_desc}}</span>
					</li>
					<li>
						<span style="width: 14%;">订单数量:</span>
						<span style="width: 50%;">{{item.po_quantity}}&nbsp;({{item.unit_meas_lookup_code}})</span>
						<div style="width: 34%;display: inline-block;float: right;">
							<span style="width: 60%;text-align: right;display: inline-block;">SRM预接收:</span>
							<span style="width: 40%;text-align: right;display: inline-block;color: #0078D8;">{{item.srm_rcv_quantity}}</span>
						</div>
					</li>
				</ul>
			</ion-item>
		</ion-list>
		<ion-infinite-scroll on-infinite="loadMore()" ng-if="listItems[0] && hasMoreData" immediate-check="false"></ion-infinite-scroll>
		<div ng-if="!hasMoreData && listItems[0] && hasClickSearch" class="no-data">没有更多的数据了！</div>
	</ion-content>
</ion-view>