<style>
	#tender-view ion-content {
		background-color: #e6e6e6;
	}
	.tender-header {
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		background-color: #ffffff;
		border-bottom: 1px solid #e6e6e6;
	}
	.tender-header .tender-header-item {
		position: relative;
		-webkit-box-flex: 1;
		-webkit-flex: 1;
		-moz-box-flex: 1;
		-moz-flex: 1;
		-ms-flex: 1;
		flex: 1;
		height: 50px;
		line-height: 50px;
		text-align: center;
		font-size: 1rem;
		border-right: 1px solid #e6e6e6;
	}
	.tender-header-item:nth-child(1) {
		color: #0078d8;
	}
	.tender-header-item:nth-child(2) {
		color: #999999;
	}
	.tender-header-item:nth-child(3) {
		color: #999999;
	}
	#tender-line-list .list {
		padding-top: 0px;
	}
	.tender-line-li:nth-child(1) {
		background-color: #f4f6fe;
	}
	.tender-line-li {
		line-height: 14px;
		padding: 0.75rem 1.5rem;
	}
	.tender-line-li input {
		border: 0;
	}
	.tender-line-li label {
		display: inline-block;
		width: 50%;
	}
	/*.tender-line-li label span {
		display: inline-block;
		width: 64px;
	}*/
	
	.tender-line-item {
		padding: 0px !important;
	}
	.tender-line-ul {
		margin-top: 20px;
	}
	.button-bottom {
		margin-top: 30px!important;
		width: 92%;
		margin-left: 4%;
		margin-right: 4%;
		border-radius: 3%;
	}
	.hint {
		margin-top: 30px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		background: #FF5000;
		color: #FFFFFF;
	}
	/*.tender-header-item.dot:before {
		height: 8px;
		position: absolute;
		top: 20%;
		left: 50%;
		width: 8px;
		border-radius: 4px;
		background-color: red;
		content: " ";
	}*/
	
	label span {
		display: inline-block;
		width: 100%;
	}
	.select-style {
		border: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		text-align: right;
		color: #333;
		width: 4rem;
	}
</style>

<ion-view id="tender-view" view-title="投标详情" ng-controller="supplyTenderListDetailController">

	<ion-content>
		<div class="tender-header">
			<div class="tender-header-item">
				{{headerInfo.bidding_method_name}}
			</div>
			<div class="tender-header-item dot">
				轮次: {{headerInfo.round}}
			</div>
			<div class="tender-header-item dot">
				版本: {{headerInfo.version}}
			</div>
		</div>
	</ion-content>

	<ion-content style="margin-top: 3rem;">

		<ion-list id="tender-line-list" show-delete="showDelete">
			<ion-item class="animated-item tender-line-item" style="background-color: #e6e6e6;border-top: 0px" collection-repeat="item in lineInfo">
				<ul class="list tender-line-ul">
					<li class="item tender-line-li">
						{{item.line_num}}.{{item.item_desc}}
					</li>
					<li class="item tender-line-li">
						<label>
							<span>单位:</span>
							<span style="text-align: right;color: #999;padding-right: 2px;">{{item.uom_code}}</span>
						</label>
					</li>
					<li class="item tender-line-li">
						<label>
							<span>招标数量:</span>
							<span style="text-align: right;color: #999;padding-right: 2px;">{{item.quantity}}</span>
						</label>
					</li>
					<li class="item tender-line-li">
						<label>
							<span>投标数量:</span>
							<input ng-model="item.bid_quantity" onkeyup="this.value=this.value.replace(/[^\d.]/g,'')" style="text-align: right;color: #333;width: 100%;padding-right: 2px;">
						</label>
					</li>
					<li class="item tender-line-li">
						<label>
							<span>税率:</span>
							<span style="text-align: right;color: #333;">
								<select ng-options="taxItem.tax_type_id as taxItem.tax_type_rate for taxItem in headerInfo.tax_lists" ng-model="item.tax_type_id" dir="rtl" class="select-style"></select>
							</span>
						</label>
					</li>
					<li class="item tender-line-li">
						<label>
							<span style="color: #FF5000;">单价:</span>
							<input ng-model="item.unit_price" onkeyup="this.value=this.value.replace(/[^\d.]/g,'')" style="text-align: right;color: #FF5000;width: 100%;padding-right: 2px;">
						</label>
					</li>
				</ul>
			</ion-item>
		</ion-list>

		<button ng-if="headerInfo.participation == 'N'" class="button button-positive button-bottom" ng-click="showParticipateConfirm()" style="margin-bottom: 16px;">
			报名
		</button>
		<div ng-if="headerInfo.participation == 'Y' && (headerInfo.bidding_method == 'INVITATION' || headerInfo.bidding_method == 'OPEN' && headerInfo.approve_participation == 'Y')">
			<button class="button button-positive button-bottom" ng-click="showSaveConfirm()" style="margin-bottom: 16px;">
				保存
			</button>
			<button class="button button-assertive button-bottom" ng-click="showSubmitConfirm()" ng-if="headerInfo.bid_header_id" style="margin-top: 0!important;margin-bottom: 16px;">
				提交
			</button>
		</div>
		<div ng-if="headerInfo.participation == 'Y' && headerInfo.bidding_method == 'OPEN' && headerInfo.approve_participation == 'N'" class="hint">
			<span style="font-size: 18px;margin-bottom: 16px;"><i class="ion-ios-bell"></i>&nbsp;已报名,请等待报名审批通过后再投标!</span>
		</div>

	</ion-content>

</ion-view>