.top-bar-back{
	width:100%;
    height:50px;
    overflow:hidden;
    background-color: #323232;
}
.top-bar-content, .header_container, .login-body, .core-advantage-content, .trade-finace-con, .introduce-news-part, .linkway-connectionway-part, .slogan-hand{
	width:1030px;
	margin-left:auto;
	margin-right:auto;
	font-family: "宋体", Microsoft YaHei, Arial, Helvetica, sans-serif;
}
.top-bar-left{
	float: left;
    width: 200px;
    text-align: left;
}
.top-bar-right{
	float: right;
    width: 200px;
    text-align: right;
   
}
.top-bar-content a, .top-bar-content span {
    color: #cccccc;
    line-height: 50px;
    font-size: 12px;
    margin-left:8px;
}

.login_header{
	width:100%;
    height:80px;
    overflow:hidden;
    background-color: #ffffff;
}
.header_left {
    float: left;
    width: 200px;
}
.cloud-logo{
	height: 60px;
	padding-top:10px;
}

.header_right {
    float: right;
    width: 400px;
    text-align:right;
}

.header_link {
    height: 60px;
    min-width: 60px;
    font-size: 16px;
    line-height: 80px;
    margin-left: 20px;
    padding-top: 26px;
    font-family: Microsoft YaHei, Arial, Helvetica, sans-serif;
}

.header_link:link{
    color:#8a8f91;
 }
 .header_link:visited{
    color:#8a8f91;
 }
.header_link:hover{
  	border-top:4px solid #0377c1;
    color:#0377c1;
 }
 .header_link:active{
 	color:#00ddee;
 }
 
/*body*/
.container{
	width:100%;
	height: 380px;
	margin-left:auto;
	margin-right:auto;
	background-color:#0377c1;
	background:url(../../images/login/banner-back.png)
}

.amount_infor {
	margin-left:auto;
	margin-right:auto;
	margin-top: 30px;
	margin-bottom: 40px;
	width:80%;
}
.amount_infor td{
	width:25%;
}
.amount_infor td div{
	margin-left:auto;
	margin-right:auto;
}
.infographic-box I {
    font-size: 2.4em;
    display: block;
    float: left;
    margin-right: 15px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #fff;
}
.infographic-box .headline {
    display: block;
    font-size: 1.2em;
    font-weight: 300;
}
.infographic-box .value {
    font-size: 1.7em;
    font-weight: 600;
    margin-top: -5px;
    display: block;
}
.red-bg {
    background-color: #e74c3c !important;
}
.emerald-bg {
    background-color: #3498db !important
}
.green-bg {
    background-color: #2ecc71 !important
}
.golden-bg {
    background-color: #ffcc00 !important
}

.img_play_container{
	width:80%;
	margin-left:auto;
	margin-right:auto;
}

 .category-item-type{
 	font-size:20px;
 	margin-bottom:15px;
 	font-family: Microsoft YaHei;
 	color: #696969 !important;
 	width:100%
 }
 
.login_bottom {
    color: #999;
    line-height: 50px;
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
    background: #323232;
}

.infor_body{
	width:90%;
	margin-left:auto;
	margin-right:auto;
}

.infor_block{
	width:80%;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	border:solid 2px #efefef;
	background-color:#ffffff;
}

.product_field {
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    margin-top: 0px;
    background-color: #f9f9f9;
    color: #055a78;
}


.panel-title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
}
.panel-heading {
    background-color: #fafafa !important;
    border-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
}
.panel-default > .panel-heading {
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}
.input-append INPUT {
    display: inline-block !important;
    width: 100%;
    float: left;
}

.login-powerpoint .imgList img {
    width: 100%;
    height: 240px;
}

ul li {
    overflow: hidden;
    cursor: pointer;
}
.category-item a {
    font-size: 14px !important;
    color: #696969 !important;
}
.infographic-box .headline {
    display: block;
    font-size: 1.2em;
    font-weight: 300;
}
.countNum li{
	text-align:center;
	padding:2px 1px 0px 1px;
}

.div-decoration-cloud {
    width: 100%;
    height: 150px;
    position: absolute;
    top: 430px;
    left: 0px;
    background: url(../../images/login/cloud-dec.png) repeat-x;
}

.core-advantage-title{
	margin-top:30px;
	text-align: center;
	font-size:18px;
	color:#999999;
}
.core-advantage-details ul{
    height: 220px;
    width: 100%;
    margin-top:20px;
}

.core-advantage-details li{
    display: block;
    width: 257px;
    height: 200px;
    float:left;
}

.core-advantage-details img{
    margin-left: auto;
    margin-right: auto;
    width: 130px;
    height: 130px;
    display: block;
}
.core-advantage-details span{
	width:100%;
	text-align:center;
	height:20px;
	display:block;
	color:#999999;
}
.core-advantage-details .list-name{
	color:#e4463b;
	font-size:14px;
}

.trade-finace-con{
	background-color: #f5f5f5;
	height: 360px;
}
.trade-amount{
	float: left;
	width:720px;
	height:370px;
	font-family: Microsoft YaHei, Arial, Helvetica, sans-serif;
}
.trade-amount-content{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.trade-amount h1 {
    font-size: 18px;
    padding-top: 35px;
    width: 100%;
    padding-bottom: 10px;
    text-align: left;
    display: block;
    color: #333333;
    border-bottom: 5px solid #8b8989;
}

.trade-amount-content ul{
    width: 100%;
    height: 300px;
}

.trade-amount-content li{
    display: block;
    float: left;
    width: 25%;
    height: 100%;
}

.trade-amount-content .icon {
    margin-top: 30px;
    width: 110px;
    height: 130px;
    border-radius: 3px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:20px;
}

.trade-amount-content span{
    display: block;
    width: 100%;
    font-size: 16px;
    color: #333333;
    text-align: center;
}

.trade-amount-content .icon1{
	background: url(../../images/login/onlineuser.png) no-repeat 19px 20px #ec838f;
}
.trade-amount-content .icon1:hover{
	background-image:url("../../images/login/onlineuser1.png");
}

.trade-amount-content .icon2{
	background:url(../../images/login/check.png) no-repeat 19px 20px #30548c;
}
.trade-amount-content .icon2:hover{
	background-image:url("../../images/login/check1.png");
}

.trade-amount-content .icon3{
	background:url(../../images/login/deal.png) no-repeat 19px 20px #308a56;
}
.trade-amount-content .icon3:hover{
	background-image:url("../../images/login/deal1.png");
}

.trade-amount-content .icon4{
	background:url(../../images/login/financing.png) no-repeat 19px 20px #ee9c34;
}
.trade-amount-content .icon4:hover{
	background-image:url("../../images/login/financing1.png");
}

.trade-finace-con > .finace{
    width: 270px;
    height: 320px;
    background-color: #ffffff;
    float: left;
    margin-top: 20px;
    border-radius: 4px;
}

.trade-finace-con > .finace > .finance-con{
	margin-left: auto;
    margin-right: auto;
    width: 200px;
}
.trade-finace-con > .finace  > .finance-con > h1{
    text-align: left;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
}

.trade-finace-con > .finace > .finance-con > form > input {
    display: block;
    height: 15px;
    width: 190px;
    border: 1px solid #cecdcd;
    border-radius: 2px;
    color: #999999;
    padding: 10px 0px 0px 10px;
    padding-bottom: 10px;
    background-color: #eeeeee;
    margin-bottom: 30px;
    line-height: 15px;
}

.trade-finace-con > .finace > .finance-con > div{
    color: #333333;
    font-size: 14px;
}

.trade-finace-con > .finace > .finance-con > div span{
	width:60px;
	text-align:left;
	padding-left:10px;
	margin-right: 10px;
}
.trade-finace-con > .finace > .finance-con > div input{
	margin-left:10px;
}

.introduce-news-part{
	height: 350px;
	margin-top:30px;
}

.introduce-part{
    width: 280px;
    height: 300px;
    border: 1px solid #e5e5e5;
    color:#333333;
    border-radius: 2px;
    font-size:14px;
    float:left;
}

.introduce-part-title{
	margin-top: 20px;
	margin-left:10px;	
}
.introduce-part-title > h1, .news-part-title .title{
    display: inline;
    font-weight: 600;
    margin-right:30px;
}

.introduce-part-content {
    width: 200px;
    margin-left: 40px;
    margin-top: 20px;
    font-size: 12px;
    line-height: 17px;
}

.introduce-part-content button{
    float: right;
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 2px;
    background-color: #3e6db7;
    color: #ffffff;
    cursor:pointer;
}

.news-part{
    width: 720px;
    height: 300px;
    float: right;
}

.news-part-title {
    width: 100%;
    height: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #e5e5e5;
}
.news-part-title > h1{
    display: block;
    float: left;
    width: 120px;
    font-size: 14px;
}
.news-part-title .title{
	font-size: 12px;
}
.news-part-title > a{
	display:block;
	float:right;
	width:100px;
	text-align:right;
}

.news-list-ul{
	width:100%;
}

.news-list-ul >.news-list-item{
    width: 600px;
    height: 60px;
    margin-top: 20px;
    background:url(../../images/login/news.png) no-repeat;
    padding-left:120px;
    padding-top:10px;
}
.news-list-ul >.news-list-item > a{
	color:#333333;
}
.news-list-ul >.news-list-item > a:hover{
	color:#ff0000;
	text-decoration:under-line;
}
.news-list-ul >.news-list-item > p{
	color: #666666;
}
.login_bottom a{
	color:#999;
}
.linkway-connectionway-part {
    height: 150px;
    padding-top: 40px;
}

.linkway-part{
	width:50%;
	float:left;
}
.connectionway-part {
    width: 250px;
    float: right;
}

.linkway-part-ul{
	width:100px;
	float:left;
}
.linkway-part-ul > li {
    height: 30px;
    font-size: 12px;
    line-height: 20px;
    text-align:left;
}
.connectionway-part{
	text-align: left;	
	font-size:14px;
	color:#ffffff;
}
.linkway-part-ul > .linkway-classname{
	font-size:14px;
	color:#ffffff;
}
.slogan-hand{
	position:relative;
}
.slogan-hand-content{
    position: absolute;
    top: 200px;
    font-size: 50px;
    color: #ffffff;
    font-weight: 600;
}
.slogan-hand-content i{
	color:#ff8a00;
}